[2020-01-29 13:19] abzachshan opened #594 "Setup instructions don't work on windows"
editor\src\constant\spec.ts requires 2 files:

export const VEGA_SPECS = require('../../public/spec/vega/index.json');
export const VEGA_LITE_SPECS = require('../../public/spec/vega-lite/index.json');

I followed the rather simple instructions in readme to start up the project but because both of the specs are non-existent in the project, it causes a compilation failure (See 1st image).

These fil

[2020-01-29 18:58] domoritz commented on #594
I don't have a windows machine and it looks like the instructions don't work there. Can you help fix it?

[2020-01-30 08:49] IamRavikantSingh commented on #594
I had the same issue on mac as in your first image your specs folder would be empty.
In my case, the issue was with `wget`. After installing wget everything worked.

[2020-01-30 19:12] abzachshan commented on #594
Hey @domoritz and @IamRavikantSingh, I was able to narrow down the problem - the scripts that are used (located in 'editor/scripts') when you run the yarn command, are heavily reliant on Linux OS commands which are non-existent on Windows OS (such as wget, rsync, tar).

I'll try working on a generic solution whenever I can

[2020-01-30 19:39] domoritz commented on #594
I see. Rather than making the script work on windows, let's just have people use docker instead and make sure docker works, okay?

[2020-01-30 20:08] abzachshan commented on #594
Sure. I believe fixing the docker and publishing the dockerized image would be a great idea! I was also hoping there would be one when we first tried to set this up

[2020-01-30 23:06] domoritz commented on #594
I don't think we need to publish an image. Just make the setup we have work.

[2020-02-04 22:07] kanitw opened #605 "Open in Editor should separate spec and config"
Currently if we provide a spec and a _separate_ config object to Vega-embed, and then click open in editor.  The editor would have no config, but the config would instead get merged into the spec.

I think we should instead avoid merging them, but show the provided config in the config tab.

[2020-02-05 06:03] baumanab commented on #594
This is mostly in reference to the dockerfile..Based on my experiments it looks like the issue is the line endings on 'vendor.sh' and 'version.sh' when cloning into windows.  The current sed lines are not fixing this for some reason, even after I apply them to both files.  If I remove lines after `copy ..` in the docker file, run the container, and convert crlf to lf (using vim) and then run `yarn

[2020-02-05 06:49] abzachshan commented on #594
@baumanab I have a pull request fixing the dockerfile and cleaning it a bit - I’d  appreciate if you could take a look

[2020-02-05 07:10] baumanab commented on #594
I didn't find a more elegant solution.  Here is something that works though.

[code]

If you are on window it's safest to run this next one in powershell due to the mount

[code]

I made some changes to the dockerfile.

[code]

[2020-02-05 07:11] baumanab commented on #594
I didn't see your message before my post.  I'll try it out.  If there is any interest in the Dockerfile I used, I can put in a PR as well.

[2020-02-05 07:50] baumanab commented on #594
it works, leaving comments in the PR

[2020-02-11 09:45] ashu8912 commented on #488
Hey @siddhant1 can i work on this issue

[2020-02-11 10:36] siddhant1 commented on #488
Go for it!

[2020-02-11 16:32] ashu8912 commented on #488
Hey @siddhant1 is there a design for this or it is to be made like the old vega-editor

[2020-02-11 16:35] domoritz commented on #488
We don't want the exact design but the idea. Feel free to adapt as it makes sense.

[2020-02-11 19:39] ashu8912 commented on #488
The Biggest struggle is getting the elements(basically there state value) that are in the selected region will look into how to solve this during this weekend

[2020-02-11 19:47] ashu8912 commented on #536
Hey, @domoritz I am not able to reproduce this issue is this fixed??

[2020-02-11 19:54] ashu8912 opened #602 "Config Editor Transferring Focus To Vega Editor"
Steps To Reproduce This Bug
1.Change Something In the config.
2.Press Run
3.Now Start Changing then Config again
4.Anything you type now is typed in the vega editor and not in the config editor (The Config Editor has Lost Focus somehow and transferred to vega editor).

[2020-02-11 21:32] domoritz commented on #602
Thanks for the bug report. Can you send a fix?

[2020-02-11 21:33] domoritz commented on #536
No, we are still parsing the Vega spec twice. You can check by adding a logging statement in the code. Do you want me to show you where?

[2020-02-11 21:33] domoritz commented on #488
Awesome. Thank you ❤️

[2020-02-11 22:47] domoritz commented on #594
Fixed in master. Use docker.

[2020-02-11 22:47] #594 closed

[2020-02-12 05:16] ashu8912 commented on #602
Yes @domoritz Will Send a pr that fixes this

[2020-02-12 05:37] IamRavikantSingh commented on #592
I think this issue should be closed now! @domoritz

[2020-02-12 07:17] #592 closed

[2020-02-12 07:56] ashu8912 commented on #536
Yes @domoritz that will help.

[2020-02-13 18:57] domoritz commented on #536
[code]

<img width="665" alt="Screen Shot 2020-02-13 at 10 57 02" src="https://user-images.githubusercontent.com/589034/74468400-9f498580-4e4f-11ea-938c-61b3699febab.png">

Notice how we create the chart twice when we only need to do it once. I would love for this to be fixed.

[2020-02-13 18:59] domoritz commented on #536
Looks like the second bug is gone so I updated the issue.

[2020-02-13 21:39] ashu8912 commented on #536
Hey, @domoritz I couldn't get this line 'No, we are still parsing the Vega spec twice'.
I added a console log for vega editor and it was working fine where is the problem can you explain more.

[2020-02-13 21:40] ashu8912 commented on #448
Hey @algomaster99 can i takedown this issue

[2020-02-13 21:42] domoritz opened #604 "Sign is does not work on Safari"
Somehow, I cannot sign in on safari. After going through the login process on github, I don't get signed in on the editor.

[2020-02-13 21:42] domoritz commented on #448
https://github.com/vega/editor/pull/489 is a start but needs to be finished.

[2020-02-13 21:44] domoritz commented on #536
When you add the console.log statement, you notice that it's called twice (see command line output). We should only render once (for performance reasons).

[2020-02-13 21:47] #602 closed

[2020-02-13 21:54] ashu8912 commented on #604
Hey @domoritz I am not able to reproduce this mine login works fine
<img width="1433" alt="Screenshot 2020-02-14 at 3 23 58 AM" src="https://user-images.githubusercontent.com/30126128/74481913-871e4880-4ed9-11ea-91cb-49a4c33f7baa.png">

[2020-02-13 21:58] ashu8912 commented on #536
The console.log is shown on multiple clicks of Run I think this is a desired behaviour coz At first it is called on mount of component and than each time an update occurs(if props change and run is clicked)
Are You talking about the switch from vega-lite to vega console output?

[2020-02-13 22:18] domoritz commented on #604
Hmm, let me try again. I was trying something else and it didn’t work for me.

[2020-02-14 18:21] domoritz commented on #604
No, does not work. I'm on Safari 13.1. Maybe this is some new restriction on cookies. I do get a warning in Chrome

<img width="664" alt="Screen Shot 2020-02-14 at 10 20 50" src="https://user-images.githubusercontent.com/589034/74556825-b5207e80-4f13-11ea-86f2-399c3fd543af.png">

[2020-02-14 18:25] domoritz commented on #604
Ahh, I think the issue is that our cookie is a third party cookie.

[2020-02-16 02:45] #605 closed

[2020-02-16 16:12] adrijshikhar commented on #447
@domoritz I would like to contribute on this issue, can you help me out?

[2020-02-16 21:40] domoritz commented on #447
This is a good issue to start with. Start with setting up your local development and see where we are parsing the Vega spec. Then add a check similar to https://github.com/vega/vega-embed/blob/34b84b913c82066705df1535804741d812462672/src/embed.ts#L144

[2020-02-16 21:46] ashu8912 opened #607 "Typo In Share Modal"
<img width="583" alt="Screenshot 2020-02-17 at 3 14 43 AM" src="https://user-images.githubusercontent.com/30126128/74613376-d790e280-5133-11ea-9404-bacb0551ef37.png">

[2020-02-16 21:51] domoritz commented on #607
Ahh. Good catch. Do you want to send a pull request to fix it?

[2020-02-16 21:52] ashu8912 commented on #607
@domoritz done

[2020-02-16 22:01] domoritz commented on #536
Very odd. I am 100% sure that this was an issue but now I only see that we are compiling Vega-Lite twice.

<img width="964" alt="Screen Shot 2020-02-16 at 14 00 36" src="https://user-images.githubusercontent.com/589034/74613608-c066dc00-50c4-11ea-8dbc-e31c85701e73.png">

[code]

[2020-02-16 22:35] #607 closed

[2020-02-17 02:58] adrijshikhar commented on #447
I have already setup the repo. I will start working on the issue as directed. Thanks

[2020-02-17 11:10] RisingGeek commented on #157
@domoritz Can you please explain the issue?

[2020-02-17 16:12] domoritz commented on #157
We have a way to share urls but by default we include white spaces in the encoded spec rather than  removing them and formatting the spec when we are deciding a spec.

[2020-02-17 17:11] adrijshikhar commented on #447
can I add .vscode in .gitignore and make a new PR, because my vscode generates settings.json file whenever I open it in the directory.

[2020-02-17 17:30] adrijshikhar commented on #447
src>index.tsx
line 29 : `window.VEGA_DEBUG.VEGA_VERSION = vega.version;`
Is this the place you were talking about?
@domoritz

[2020-02-17 17:30] domoritz commented on #447
It's already there: https://github.com/vega/editor/tree/master/.vscode

[2020-02-17 17:31] domoritz commented on #447
No, that's where we add the version to the global namespace so you can debug.

[2020-02-17 17:33] adrijshikhar commented on #447
ok, so is this the version against which the version check should work?
`vega.version`

[2020-02-17 17:42] domoritz commented on #447
You want to compare vega.version and vl.version to the versions extracted from the $schema property of the spec.

[2020-02-17 19:47] adrijshikhar commented on #447
where should I call the function to console log the version mismatch?

[2020-02-17 20:06] shakti2379 opened #609 "Providing tooltip for heading text looks redundant"
![Screenshot from 2020-02-18 01-30-35](https://user-images.githubusercontent.com/59553591/74683519-38312580-51ef-11ea-914d-26d8febf19fb.png)

[2020-02-17 20:41] shakti2379 commented on #609
if this issue looks fine, would like to work on it:)

[2020-02-17 21:51] domoritz commented on #609
Is the tooltip needed when there are a lot of columns? Otherwise we can remove the tooltip.

[2020-02-17 21:52] domoritz commented on #447
Try to step through the code to find it. Also, we don't just want to log it but show a proper warning in the editor panel.

[2020-02-18 03:17] ashu8912 commented on #609
Yes, @domoritz tooltips are generally applied to icons or buttons and not to obvious texts, Removing The Tooltip, in this case, would be a good idea as the table headers already depict what they are for adding a tooltip that just conveys the same information doesn't make sense.

[2020-02-18 03:18] ashu8912 commented on #609
Here is a brief article that describes when and where to use tooltips.
https://www.nngroup.com/articles/tooltip-guidelines/

[2020-02-18 03:43] ashu8912 commented on #536
I am able to reproduce this for vega-lite parsing will soon send a pr that will fix this.

[2020-02-18 04:23] shakti2379 commented on #609
@ashu8912 if someone asked to work on any issue before you , i think its professional to let him work on it may be he also wanted to get into the project, that's the basic thing in contributing to oss.

[2020-02-18 04:35] ashu8912 commented on #609
Aah Sorry @shakti2379  Didn't notice that you were working on it As This was a minor fix i quickly jumped on it to fix.
Will take care of this next time. :)

[2020-02-18 04:43] shakti97 opened #611 "should open to new tab"
clicking on vega view open the link on the same tab, i think it should open the link in another tab so that one should not have to leave vega app
![Screenshot from 2020-02-18 10-08-10](https://user-images.githubusercontent.com/30585570/74704573-e1e7d500-5236-11ea-9e4e-ea35f6bb0fcd.png)

There are other links also like hover link in this image
![Screenshot from 2020-02-18 10-11-47](https://user-ima

[2020-02-18 04:44] shakti97 commented on #611
if possible would like to work on it @domoritz

[2020-02-18 05:28] siddhant1 commented on #611
Thanks for reporting @shakti97 , you can go on and fix this

[2020-02-18 05:30] #609 closed

[2020-02-18 05:32] siddhant1 opened #612 "Search is not working for signal viewer"
Searching doesn't work for the signal viewer but works perfectly for data-viewer

[2020-02-18 05:34] ashu8912 commented on #612
working on this.

[2020-02-18 05:39] domoritz commented on #611
Hmm, you can CMD+click on any link to open them in a new tab but as far as I know there is no way to do the reverse. I’m not yet convinced we want this change.

[2020-02-18 05:40] domoritz commented on #612
Thanks for reporting and fixing it!

[2020-02-18 05:47] siddhant1 commented on #611
The other links do open in new tab , we should keep it consistent though

[2020-02-18 05:51] domoritz commented on #611
Ahh, yes, we should. Let’s open them all in new tabs or the same tab then. I can go either way.

[2020-02-18 06:09] ashu8912 commented on #611
@domoritz  I would recommend opening every link in the same tab
Here are the reasons why
1.If a user prefers that links open in a new tab, they can open the link in a new tab using a right-click or by continuing to press down on the link on a mobile device. This option is always available to users no matter how a link is set to open.
However, it doesn’t work in reverse.As you also mentioned.
2.The

[2020-02-18 06:26] shakti97 commented on #611
When you open external links in the same tab, you create back-button fatigue for users. Every time the user goes to an external website they have to hit the back button to go back to your app. If they decide to click the links on the external page/website, they have to hit the back button even more times to get back to your site. This is a lot of unnecessary work for users. So I think it should be

[2020-02-18 06:45] ashu8912 commented on #611
But a user can always open in new tab by right clicking on the link.But The other is not true.

[2020-02-18 09:41] ashu8912 commented on #611
@domoritz whats your thought on this

[2020-02-18 15:21] adrijshikhar commented on #447
when should we show the error for version mismatch?
as soon as editor is opened?

[2020-02-18 15:34] domoritz commented on #611
I see both of your points. One issue is that we mostly preserve state even if you leave the editor page but there are some cases where we don’t preserve state.

So let’s open all links in a new tab.

Thanks for raising all these points in the discussion.

[2020-02-18 15:35] domoritz commented on #447
Show it as a warning in the log panel when a spec is parsed. Just like other warnings.

[2020-02-18 15:46] adrijshikhar commented on #447
`Invalid specification {"$schema":"https://vega.github.io/schema/vega-lite/v4.json"}. Make sure the specification includes at least one of the following properties: "mark", "layer", "facet", "hconcat", "vconcat", "concat", or "repeat".`
what does this mean?

[2020-02-18 15:59] domoritz commented on #447
It’s not a valid spec. Select an example instead.

[2020-02-18 19:20] adrijshikhar commented on #447
`parseVega` calls `validateVega` and `parseVegaLite` calls `validateVegaLite`, with `currLogger` being passed which adds warnings, which are then rendered in the `error-pane` component.

Now how should I add the check to render the warning for mismatch version?
In the `parseVega` function?

[2020-02-18 19:33] domoritz commented on #447
Does https://github.com/vega/editor/issues/447#issuecomment-586757261 answer your question?

[2020-02-18 19:36] adrijshikhar commented on #447
Not the check, I get the check.
I am asking whether I should add the check in `parseVega` function itself, or somewhere else?

[2020-02-18 19:38] domoritz commented on #447
I'll leave that decision up to you.

[2020-02-18 19:41] #612 closed

[2020-02-18 20:52] #611 closed

[2020-02-18 21:16] adrijshikhar commented on #447
@domoritz thank you for helping me out. It was nice working with you.

[2020-02-18 22:12] domoritz commented on #447
Thank you for implementing this feature!

[2020-02-18 22:47] adrijshikhar commented on #445
@domoritz  is this issue still open, I would like to take this.

[2020-02-19 00:43] domoritz commented on #445
Yep, the CSS can always be improved.

[2020-02-19 09:16] keckelt opened #618 "Long gist files are not fully read"
I encountered an issue when loading very long specs from a Gist. (There already was some discussion on Slack: [Link](https://vega-js.slack.com/archives/C3N418BQD/p1581452305004600))

You can already see the same problem if you open the Gist on Github: [Link to Gist](https://gist.github.com/keckelt/74d3d57e1bbcd6182fe5a5cc555ab83e)
It contains to files:

* `failing.vl.json` which is truncated unles

[2020-02-19 09:44] keckelt commented on #618
This part has the same problem:
https://github.com/vega/editor/blob/master/src/components/app.tsx#L122-L123

[2020-02-19 18:05] domoritz opened #620 "Monaco tooltips should be in foreground."
This is a regression coming from a recent refactor I did.

<img width="423" alt="Screen Shot 2020-02-19 at 10 04 45" src="https://user-images.githubusercontent.com/589034/74861536-5dad5480-52ff-11ea-9810-8a8a4efd6e78.png">

[2020-02-19 19:18] adrijshikhar commented on #620
@danmarshall can i fix this?

[2020-02-19 19:19] adrijshikhar commented on #620
@domoritz can i fix this?

[2020-02-19 19:50] domoritz commented on #620
Sure

[2020-02-20 17:30] adrijshikhar commented on #445
can you give me an example of how you want it to be?

[2020-02-20 17:50] domoritz commented on #445
Not really. Just look through the code and notice how we could clean up the CSS. I know, this issue isn't very concrete.

[2020-02-21 07:08] keckelt opened #624 "Number of dispalyed Gist files"
I started to collect my Vega-Lite specs in [a Gist](https://gist.github.com/keckelt/83f0fdce4fcd5b758ba16e8570f76d92) and noticed that not all are displayed in the Vega Editor (9 out of 16)

I found the relevant part in the editor's backend code:
https://github.com/vega/editor-backend/blob/master/src/controllers/gist.ts#L61

And the part in the editor's code that handles pages:
https://github.com/

[2020-02-21 15:46] domoritz commented on #624
Odd. There is supposed to be pagination.

[2020-02-21 17:06] keckelt commented on #624
Is it missing on my end or in general?

[2020-02-21 17:08] domoritz commented on #624
Here is my page

<img width="408" alt="Screen Shot 2020-02-21 at 09 07 21" src="https://user-images.githubusercontent.com/589034/75055288-9711cb80-5489-11ea-9a3b-89b6f3978090.png">

[2020-02-21 23:37] ashu8912 commented on #445
Hey @domoritz I am working on this
also are we planning to bring theming feature to the editor in future?
coz than we will have to make css refactors while keeping that in mind.

[2020-02-21 23:59] domoritz commented on #445
I don't think theming is a priority.

[2020-02-22 00:31] ashu8912 commented on #445
ok for now the share modal have distorted css working on fixing that

[2020-02-22 21:27] nik72619c opened #626 "Add shortcut for opening examples"
@domoritz please let me know if I should go forward with this :)

[2020-02-22 21:35] domoritz commented on #626
WHat does this mean?

[2020-02-22 21:38] shakti97 opened #627 "Typo issue in reset"
![Screenshot from 2020-02-23 03-05-00](https://user-images.githubusercontent.com/30585570/75099618-a871e980-55e9-11ea-8e06-7855343d3577.png)

## stuck instead of struck

[2020-02-22 21:39] shakti97 commented on #627
@domoritz , if possible can i work on this?

[2020-02-22 21:41] domoritz commented on #627
Thanks. Feel free to just send prs for small issues like this.

[2020-02-22 21:44] #627 closed

[2020-02-22 21:50] nik72619c commented on #626
@domoritz Currently there is no keyboard shortcut mentioned in the help section regarding opening the shortcut modal via some keystrokes.

[2020-02-22 21:57] domoritz commented on #626
Sure. That sounds like a good addition.

[2020-02-22 22:01] nik72619c commented on #626
Cool,  sending a PR for it soon .

[2020-02-23 03:56] #620 closed

[2020-02-23 18:23] nik72619c commented on #626
@domoritz , I guess this code needs a refactor. Currently the `keydown` event listener is attached for adding the shortcut for the help modal. Now, if I want to write my logic on the keydown event for opening the Examples modal it cant be done since there has to be only one keydown listener.

[2020-02-23 18:34] nik72619c commented on #626
Please let me know how shall I approach this ?

[2020-02-23 18:57] domoritz commented on #626
Feel free to rename the function and support more than just the help modal.

[2020-02-23 18:58] nik72619c commented on #626
okay

[2020-02-24 07:44] keckelt commented on #624
Both without any addons:

# Firefox Developer 74
![image](https://user-images.githubusercontent.com/10337788/75135454-d5092c80-56e1-11ea-92ea-6d8e95129511.png)

# Chrome 80
![image](https://user-images.githubusercontent.com/10337788/75135414-c02c9900-56e1-11ea-8c90-930968f58b99.png)

[2020-02-24 22:56] domoritz commented on #624
Is there any difference between the browsers?

Am I correct that the issue is that not all files inside a gist are shown?

[2020-02-25 07:49] keckelt commented on #624
No, just tested with both to catch any browser specific errors

yes

[2020-02-25 16:15] domoritz commented on #624
I see. Yes, that’s an enhancement someone should implement.

[2020-02-27 08:01] algomaster99 commented on #624
@domoritz https://developer.github.com/v4/object/gist/#fields I think `limit` will fix it. What do you think its value should be?

[2020-02-27 17:44] domoritz commented on #624
Let's make it 1000 and hope that it's enough for now. Do we make the list scrollable when there are many many files in a gist?

[2020-02-27 18:24] algomaster99 commented on #624
@domoritz yeah, i think it should be scrollable ideally

[2020-02-27 18:32] domoritz commented on #624
Cool, can you set the limit to 1000 and make sure that the UI doesn't break when we have many files in a gist?

[2020-02-29 17:22] #618 closed

[2020-03-02 18:43] domoritz commented on #158
https://github.com/yuzutech/kroki looks like a good option for this. I talked with @Mogztter and he's supportive of us using it.

The service does not support fetching URLs so we would need to inline the data.

[2020-03-05 13:05] nik72619c commented on #626
ref #636

[2020-03-05 13:09] nik72619c opened #637 "Incorrect key stroke written for opening the help modal"
#### Description of the bug
Inside the help modal which provides a list fo shortcuts cheat sheet, the shortcut for the help modal is written as `Ctrl+?` which does not seem to work. The correct keybinding for it is `Ctrl+Shift+/` as specified in the code.

[2020-03-05 13:10] nik72619c commented on #637
@domoritz Let me know if I shall file a PR for this :)

[2020-03-05 15:57] domoritz commented on #637
Can you link to the relevant code? I think we should implement the right shortcut.

[2020-03-16 17:02] theWebalyst opened #643 "Error message feedback."
I've been asked to say a little about how the Vega editor could improve its error feedback. I don't have any great insights, but found that it was much easier for me to understand what I was doing wrong with the feedback from VS Code (actually VSCodium) Vega Preview.

The main difference is that the errors in Vega Preview are highlighted in the editor itself, and hovering over them gives quite spe

[2020-03-16 17:23] domoritz commented on #643
Note that the Vega Editor shows error messages in the editor and provides suggestions in the tooltip.

<img width="726" alt="Screen Shot 2020-03-16 at 09 51 41" src="https://user-images.githubusercontent.com/589034/76783988-22703b00-6770-11ea-98ac-231dc3d7e523.png">

[2020-03-16 17:24] domoritz commented on #3
It would be good if we could use validator with better error messages. Right now, we use AJV and the error messages are not very helpful in most cases.

[2020-03-16 17:25] domoritz commented on #643
Duplicate of https://github.com/vega/editor/issues/3

[2020-03-16 17:25] #643 closed

[2020-03-16 17:25] domoritz commented on #3
Maybe a simple option would be to just read the error messages from Monaco.

[2020-03-20 06:49] onechunlin opened #644 "Example of line chart line transparency problem"
**Vega-Editor 0.66.0**
When the mouse is hovering, the line marks should use 'opacity' to change the  transparency instead of 'fillOpacity'

[2020-03-20 14:58] domoritz commented on #644
Can you post the chart specification?

[2020-03-23 02:56] onechunlin commented on #644
**Now's specification:**
"marks": [
        {
          "type": "line",
          "from": {"data": "series"},
          "encode": {
            "enter": {
              "x": {"scale": "x", "field": "x"},
              "y": {"scale": "y", "field": "y"},
              "stroke": {"scale": "color", "field": "c"},
              "strokeWidth": {"value": 2}
            },
            "update": {

[2020-03-23 02:59] domoritz commented on #644
Please add a link to the editor that opens the chart. You can use the sharing function to create it.

[2020-03-23 13:13] onechunlin commented on #644
https://vega.github.io/editor/#/examples/vega/line-chart

[2020-03-23 18:16] domoritz commented on #644
Moving to Vega

[2020-03-25 19:43] domoritz commented on #158
We are working on this in https://github.com/vega/vega-render-service

[2020-04-09 07:10] domoritz opened #663 "Showing a single vis is not accessible"
It would be good to allow screen reader users to access a visualization in fullscreen mode. We don't currently hide the rest of the UI with aria-hidden, though.

[2020-04-27 21:49] morehockeystats opened #684 "Mouse select doesn't work properly in Xorg"
If you select text in Vega Editor, either by dragging the mouse, or by double-clicking, and then click the middle mouse button, it would not paste the selection. It would paste the buffer selected before interaction with the editor instead - the one that was supposed to be overwritten.

Even when you right-click to "Copy" the selection, the middle-button paste still does not work.

This contradict

[2020-04-27 22:41] domoritz commented on #684
Can you reproduce the issue here: https://microsoft.github.io/monaco-editor/playground.html?

[2020-04-28 00:44] morehockeystats commented on #684
yes, I guess this is the bug. Microsoft product having a bug in X-windows...

[2020-04-28 02:16] domoritz commented on #684
Please file an issue with Monaco then.

[2020-04-28 02:16] #684 closed

[2020-04-28 22:27] domoritz commented on #571
We are now generating images my hand instead of Travis so this should be fixed when I build images locally.

[2020-04-28 22:27] #571 closed

[2020-04-28 22:28] domoritz commented on #172
We have too many other more important feature to work on so I'll close this for now.

[2020-04-28 22:28] #172 closed

[2020-04-28 22:29] domoritz commented on #193
I'm concerned about leaking information to an external service. Instead, I prefer saving to Gists. Let's focus on that for now.

[2020-04-28 22:29] #193 closed

[2020-04-28 22:30] domoritz opened #685 "Support sharing URLs without whitespace"
First, we should allow sharing without whitespaces. Second, it would be nice to also have a way to format specs automatically when they are loaded without whitespace. Can we automatically detect that a spec doesn't use whitespace and suggest that the user should format it? Maybe if we don't have newlines but more than n characters, we could just format the spec?

[2020-04-29 00:55] domoritz opened #686 "Correctly support base urls in the PDF generation"
Right now, charts that use relative URLs don't render because the data is not loaded.

See for example https://vega.github.io/editor/#/examples/vega-lite/stacked_bar_weather.

[2020-04-29 13:47] RandomFractals commented on #193
that's fine. Quick note on this: Vega Viewer has added support for vega gists since Dec 2019 via gistPad: https://github.com/RandomFractals/vscode-vega-viewer/issues/59

You guys should try it! :)

[2020-04-29 15:05] domoritz commented on #193
Nice. Can I save to gist as well? The editor supports loading from gist already.

[2020-04-29 15:20] RandomFractals commented on #193
yeah, gistPad provides save/create gist feature. I just enabled loading vega previews via custom gistfs gistpad uses. So, if you have both installed you should be able to easily create/star, update and preview vega and vega-lite gists :)

[2020-04-29 15:40] RandomFractals commented on #193
in fact, I am going to make it easier for devs to use gists with Vega Viewer.

will push this update in the next release to automatically install gistPad with it:

https://github.com/RandomFractals/vscode-vega-viewer/issues/89

GistPad has nice data viz playgrounds and I think most devs using Vega should check it out too.

[2020-04-29 18:36] #685 closed

[2020-04-29 18:37] domoritz commented on #158
Done now.

[2020-04-29 18:37] #158 closed

[2020-04-29 18:38] domoritz commented on #157
Done.

[2020-04-29 18:38] #157 closed

[2020-04-29 18:39] domoritz commented on #144
Closing since I think the issue is due to the complex visualization, not the editor.

[2020-04-29 18:39] #144 closed

[2020-05-07 07:13] mattijn opened #692 "swap filename and filedescription in gist loading tree"
I've a small UI comment. When I'm working with vega(-lite) specs (and any other file on PC), I distinct them based on filenames and not on file descriptions. So once loaded in the vega editor, my gist specs looks like this:
![image](https://user-images.githubusercontent.com/5186265/81264314-79dcaa00-9041-11ea-91dc-c1e2cd20709c.png)
Almost none of them have a description, but all have a filename. M

[2020-05-07 07:41] algomaster99 commented on #692
@mattijn hi! So a GitHub gist is a collection of multiple files but it has a common title. You are suggesting to swap the title and the filename but this will disturb the flow a little bit. Let me explain this briefly.

Suppose we load a gist and it has multiple JSON files. Which one are we supposed to chose for the title? In your case, there is only one so it makes sense but with multiple gist, I

[2020-05-07 07:56] mattijn commented on #692
Ah I see, thanks for teaching me how gists works:).

I've never added multipe vega-specs to a single gist, but I just tried. If I copy the URL of a gist with multiple specs and parse it in the editor-load-gist dialog only the first spec is loaded. So there is already some selection happening in the editor.

If its a common routine for other gists to have multiple specs in one gist than current app

[2020-05-07 08:42] algomaster99 commented on #692
@mattijn if you want to load some other file, please specify its filename.

[2020-05-07 17:06] domoritz opened #693 "Remove google analytics"

[2020-05-07 17:48] #693 closed

[2020-05-07 18:24] domoritz commented on #692
We can improve the highlighting to put more emphasis on the files. Wanna send a pull request @mattijn?

[2020-05-07 19:25] algomaster99 commented on #692
@domoritz I think #691 (https://github.com/vega/editor/commit/8ec9777996a0879325f2753cc030f1d919dabe88) resolves this.

[2020-05-07 22:33] domoritz commented on #692
I'm taking care of it in my redesign.

[2020-05-07 22:33] #692 closed

[2020-05-07 23:03] domoritz opened #694 "Put the URL to the editor in the button that shows up after updating a gist"

[2020-05-07 23:04] domoritz opened #695 "Support putting a new spec inside an existing gist"

[2020-05-07 23:04] domoritz commented on #448
Works now

[2020-05-07 23:04] #448 closed

[2020-05-07 23:04] domoritz commented on #49
Works now

[2020-05-07 23:04] #49 closed

[2020-05-07 23:05] domoritz commented on #371
Works now.

[2020-05-07 23:05] #371 closed

[2020-05-08 22:34] #447 closed

[2020-05-08 22:34] #695 closed

[2020-05-08 22:35] #694 closed

[2020-05-08 23:43] domoritz commented on #686
Check out https://github.com/vega/editor/blob/9217f49f775a75369aae851fdf1b3aa997151046/src/components/renderer/renderer.tsx#L138 for how we handle base URLs in the editor right now. We fall back to the editor if the baseurl in the state does not work.

[2020-05-09 05:27] adrijshikhar commented on #536
@ashu8912 are you still working on this?
If not, then i would like to work on this one. Thanks.

[2020-05-09 06:02] ashu8912 commented on #536
@adrijshikhar go ahead

[2020-05-12 07:02] adrijshikhar commented on #536
I went through the flow and I found that when i click run button this
[code]
is called and set parse to `true`. Then in spec-editor , this

[code]
get executed, which calls `updateSpec` which rendered the config in the editor and generates the output and calls `parseVega` or `parseVegaLite` on the basis of spec
[code]
`setConfig` on the other hand calls this
[code]
which in turns does this in the

[2020-05-12 17:15] domoritz commented on #536
Yes, you found the issue. I haven't had the time to think of a solution yet. Can you come up with one and send a pull request?

[2020-05-15 05:40] adrijshikhar commented on #536
I just wanna know why another condition is specified for vega-lite in this
[code]
Any suggestions or discussion is welcome. Till than I will try to fix it on my own.

[2020-05-15 05:50] domoritz commented on #536
I think it’s because Vega-Lite needs to be recompiled when the config changes. You can try by removing the condition.

[2020-05-15 16:31] adrijshikhar commented on #536
ok

[2020-05-27 00:28] domoritz opened #708 "Log Vega warnings"
For example in [Open the Chart in the Vega Editor](http://localhost:8080/#/url/vega-lite/N4Igxg9gdgZglgcxALlAQwB5wM4tAGzQCMBTfAMWgBcBlOALxJQEYAWAGhCrivxMqi0GTZGwC+nABYk0AExIAnPCEKkK1OoxYcuPPgKFbRrCSpIISUWctVkDmkW07de-DcO2mXfZWnyIoFHBLKkUQThh3IwAmAAZOCBgYbBIqFgBWMVNZNCo0ZSg0AFsREBy8gFpo9NlmADYwVgB2VgBOWIBmVvT0sGrZVqJWkmY0NhIhtHSQUxg0MFTlBQgAd2UqAE8AB1KoCCK4QvxwkHgya2QQADc0BThiH05sCAU05ABtEABhaHgFIr

[2020-05-27 17:19] domoritz commented on #708
Needs https://github.com/vega/vega/issues/2660

[2020-05-28 19:17] #708 closed

[2020-05-29 06:29] domoritz opened #710 "Respect log level"
See https://github.com/vega/vega/pull/2667#issuecomment-635785418. We should make sure to filter messages that are not for the current log level.

[2020-05-29 19:14] #710 closed

[2020-05-29 19:15] domoritz commented on #710
Done in https://github.com/vega/editor/commit/0c19ef00ff6842f44bf271f5841a0e6bbd10b42d

[2020-06-08 14:53] cottrell opened #714 "hitting codeload.github.com 404 trying to set up a dev build"
Have tried running yarn and also npm install but seem to hit this error. A dependency changed? Tried on a few different release tags.

[code]

[2020-06-08 15:29] cottrell commented on #714
The followed worked for me:

[code]

Could add this to the README.md I guess. Will close this for now.

[2020-06-08 15:29] #714 closed

[2020-06-10 23:50] unode opened #715 "vega editor crashes when running locally"
Steps to reproduce:

1. `git clone git@github.com:vega/editor.git -b gh-pages` && `cd editor`
2. `python -m http.server`
3. Open http://0.0.0.0:8000/#/examples/vega/earthquakes in Chromium
4. In line `104` change `"type": "shape"` to `"type": "symbol"`

At this point the editor crashes (browser becomes a blank page) and shows the following errors in the JavaScript console.
[code]
and
[code]

The s

[2020-06-11 00:11] domoritz commented on #715
Can you follow the normal setup and run from master with yarn start?

[2020-06-11 00:55] unode commented on #715
^ I tried that too and got the same beaviour.

[2020-06-11 01:01] unode commented on #715
And the corresponding errors
[code]

[code]

[2020-06-11 01:01] domoritz commented on #715
I can actually reproduce this in the online editor. Try what you said above and then click on the log panel.

[2020-06-11 01:06] unode commented on #715
Oh that's interesting. I was trying to reproduce it on the online editor but it was working fine.
After visiting the reset page it stopped working and now crashes the same.

[2020-06-11 01:14] domoritz commented on #715
Looks like the editor is not handling object correctly. I'm on it.

<img width="255" alt="Screen Shot 2020-06-10 at 18 12 20" src="https://user-images.githubusercontent.com/589034/84333942-f7ff0580-ab45-11ea-8d9b-0dd8c1a7441b.png">

[2020-06-11 01:15] unode commented on #715
On the `gh-pages` branch, 498bb75836a17f1c458d26aacf109cd3c3958e6f is the most recent commit that works for me.

[2020-06-11 01:21] #715 closed

[2020-06-11 01:21] domoritz commented on #715
Fix released in 0.81.1 (deploying to production right now). Please give it a try in a few minutes.

[2020-06-11 01:38] unode commented on #715
Works for me online. `[Error] datum.properties is undefined`

However running locally from `master` I don't get the same message:
`[Error] pathstr.slice is not a function`
and from the `gh-pages` branch I see `[Error] e.slice is not a function` due to minification.

[2020-06-11 04:06] domoritz commented on #715
That's expected. I'm glad it's working now.

[2020-06-15 02:50] #686 closed

[2020-06-15 04:37] domoritz opened #716 "Data viewer should show NaN as `NaN` not `null`"

[2020-06-16 01:02] domoritz commented on #637
Needs more details.

[2020-06-16 01:02] #637 closed

[2020-06-16 01:05] domoritz commented on #284
This doesn't seem to be an issue anymore, right @mattijn?

[2020-06-16 01:05] #351 closed

[2020-06-16 01:13] domoritz commented on #190
I think it's easy enough now that we have the copy markdown link button.

[2020-06-16 01:13] #190 closed

[2020-06-16 01:13] domoritz commented on #323
Not the most pressing thing to do.

[2020-06-16 01:13] #323 closed

[2020-06-16 01:13] domoritz commented on #164
We've done most of it.

[2020-06-16 01:13] #164 closed

[2020-06-16 06:44] mattijn commented on #284
The scroll bars are gone now, even when the table is too big to fit (vertically). Scrolling is then the only option for inspection.

[2020-06-16 06:44] #284 closed

[2020-06-19 19:58] yifanwu opened #718 "Vega Editor’s data viewer not handling `DateTime` objects properly"
In a spec described in this SO question: https://stackoverflow.com/questions/62351436/using-triggers-to-store-interaction-history-but-seeing-null-values, the data `selected` is not showing properly in the `Data Viewer` pannel. However, the data is recorded properly---verified via console access `VEGA_DEBUG.view.data('selected')`.

Thanks!

[2020-06-19 20:01] domoritz commented on #718
Related to https://github.com/vega/editor/issues/716.

[2020-06-25 19:20] #716 closed

[2020-06-25 20:52] #63 closed

[2020-06-25 20:55] #536 closed

[2020-06-25 21:06] domoritz commented on #718
Ahh, so you are creating a dataset that doesn't contain tuples but data directly. I don't think we thought of this use case before.

[2020-06-25 21:26] domoritz commented on #718
Fixed in https://github.com/vega/editor/pull/731

[2020-06-25 21:38] domoritz commented on #624
@algomaster99 I don't know graphql. Do we just add a parameter to https://github.com/vega/editor-backend/blob/master/src/controllers/gist.ts#L66? Can you send a pull request?

[2020-06-26 02:51] algomaster99 commented on #624
@domoritz yeah it migh be possible to do so using limit under this [heading](https://developer.github.com/v4/object/gist/#fields). But increasing that to 1000 might require to add a pagination inside it too. Should we add a nested pagination?

[2020-06-26 03:33] domoritz commented on #624
What if we just increase the limit to 100 and only show the top 10 but let people expand the rest in the ui by clicking on “view more...”.

[2020-06-26 05:18] algomaster99 commented on #624
Any idea where can show all the 100 files? Do you recommend a scrollable div? I think we can add a search bar to search over so many files.

[2020-06-26 05:57] domoritz commented on #624
Just show them and make the whole list of all gists scrollable. I think if the files don’t take up too much vertical space, it’s fine.

[2020-06-28 15:40] dechamps opened #732 "Chart is upscaled, not repainted, when zooming on Firefox"
Since this post is about scaling, you might want to view all the images below at exact 1:1 scaling on your monitor.

Steps to reproduce:

1. Use Firefox. (I'm currently using version 77.0.1 on Windows 10)
2. Make sure your zoom level on the Vega Editor site is set to 100% *before* opening the link below.
3. Open this [example chart](https://vega.github.io/editor/#/url/vega-lite/N4IgtghgTg1iBcoAuBP

[2020-06-28 20:39] domoritz commented on #732
I can't reproduce the error in Firefox 78.0 on MacOS. I would say this is a browser bug with Firefox on Windows.

[2020-06-28 20:39] #732 closed

[2020-06-29 19:02] #718 closed

[2020-07-09 10:44] danielp3011 opened #736 "Vega editor showing multiple erros while it works on web"
I got a vega spec running on a web page without any problems. However since some time I cannot edit the vega spec in vega editor anymore. When I enter the vega spec into editor, it gives the error "[Error] Cannot read property 'marktype' of undefined" multiple times. This error keeps coming again and again in the logs description, never stopping, like the error message is coming in an eternal loop

[2020-07-09 14:48] domoritz commented on #736
Please add a link to the editor with the spec in it. Use the sharing dialog.

[2020-07-21 05:45] davcraig75 opened #747 "Editor dies when cannot bind to missing element (instead of previous behavior of warning)"
It's helpful to be able to use the editor for development in instances where signals bind to elements in the originating page. If element is not on DOM, the rendering fails with _Cannot use 'in' operator to search for 'message' in Signal bind element not found: null_

Example below were code fails, rather than warns because #Palette3 does not exist in Vega Editor (but was in the originating page).

[2020-07-21 18:31] domoritz commented on #747
The editor doesn't have the element that the spec refers to so it's expected that the chart does not render. The editor UI does not crash and instead shows the error.

If you want to change the behavior and render a chart regardless of this error, please suggest an enhancement for Vega.

[2020-07-21 18:31] #747 closed

[2020-07-22 05:45] davcraig75 commented on #747
I'll post the issue on vega.  What is strange is that the code below works in Vega deployment in VSCode - not sure how it didn't get triggered - but perhaps because it is at 5.12 of vega.

{
"$schema": "https://vega.github.io/schema/vega/v5.json",
"signals": [
{
"name": "Palette",
"value": "category10",
"bind": {
"input": "select",
"element":"#palette",
"options": [
"Viridis",
"Magma"
]
}
}
],
"da

[2020-07-22 05:55] domoritz commented on #747
Which vscode extension are you using?

[2020-07-22 16:43] davcraig75 commented on #747
Vega Viewer v9.0.0 - which I think you've contributed - and it uses 5.12.  Handy tool for vscode.
If I use it to view code with an element tag in the vega json, it draws the graphs & the element tag doesn't cause a failure to render. I'm guessing this would change if it were updated.

Should vega view it to be better to die when element tags aren't found - it pretty much makes the element tag prob

[2020-07-22 17:08] domoritz commented on #747
cc @RandomFractals

[2020-07-25 13:45] RandomFractals commented on #747
@davcraig75 VegaViewer is my creation & I am updating both vega & vega-lite libs & built-in examples today/tomorrow. Will check on the issue you ran into as I go through it. see here if you want to track it: https://github.com/RandomFractals/vscode-vega-viewer/issues/99

[2020-08-03 16:00] marcprux opened #752 ""File Issue" share option"
Whenever I file a bug against vega or vega-lite, I include a spec and a screenshot from vega-editor to provide a reproducible test. This workflow is a process of manual copying/pasting and creating the screenshot and uploading it to a new issue report.

A "File Issue" link in the "Share" menu could streamline this:

• Create a new issue for vega or vega-lite
• Inline the formatted JSON spec in the

[2020-08-03 17:08] domoritz commented on #752
Yep, that would be cool. As a first step, you can get a markdown link.

<img width="717" alt="Screen Shot 2020-08-03 at 10 06 28" src="https://user-images.githubusercontent.com/589034/89208337-02031a80-d571-11ea-9241-243d6ff72389.png">

The editor already has a little link in the help dialog that sets the version.

<img width="804" alt="Screen Shot 2020-08-03 at 10 07 01" src="https://user-images.

[2020-08-03 17:57] marcprux commented on #752
One additional nice feature would be to include the current log messages/warnings/errors in the issue template.

[2020-08-06 12:22] danielp3011 commented on #736
I figured out that there was something else wrong with my vega specification. Now I do not have the error anymore and cannot reproduce it. I will close this for now.

[2020-08-06 14:10] danielp3011 commented on #736
all right, I had the issue again. However it seems to happen on Chrome-Browser, while it does not happen on the chromium-based edge (beta version (I did not check other Edge versions yet)).
Here is the [link] (https://vega.github.io/editor/#/url/vega/N4IgJAzgxgFgpgWwIYgFwhgF0wBwqgegIDc4BzJAOjIEtMYBXAI0poHsDp5kTykSArJQBWENgDsQAGhAB3GgBN6aABwAGNTPg0yWNADYNMnEgUKa4smlCY2ONAEZNIJm2xsEaAEzOANnAAzTDQAFm

[2020-08-06 15:40] domoritz commented on #736
Please provide a minimal example that shows the problem. Thanks.

[2020-08-18 04:27] domoritz opened #772 "Download JSON should use compact json stringify"
https://github.com/vega/editor/blob/378bfea22e288aea25257271fe97df4a9f46d00f/src/components/header/export-modal/renderer.tsx#L105

[2020-09-15 21:42] domoritz opened #808 "Fullscreen mode is broken"
* fullscreen does not work for edited visualizations
* fullscreen button adds /view to the URL but doesn't open full screen

[2020-09-27 15:22] algomaster99 opened #818 "Wrong button state is displayed when a "Update" is clicked without selecting any GIST"
![vega](https://user-images.githubusercontent.com/35191225/94368702-40493000-0103-11eb-9f2e-e0685cfb873e.gif)

[2020-10-03 22:12] #808 closed

[2020-10-03 22:14] domoritz commented on #818
Should it create a new file? Or raise an error? I think the input shouldn't even be usable until the user selected an existing gist.

[2020-10-03 22:16] domoritz commented on #624
@algomaster99 do you plan to finish this issue?

[2020-10-04 05:32] ashu8912 commented on #818
One more thing that i think is wrong is that there is no feedback about whether the gist was updated or not the button keeps on saying "Updating" and not even returns to the "Update" state once updating is initiated

[2020-10-04 14:25] ashu8912 commented on #624
![vega-editor-gist-list-view](https://user-images.githubusercontent.com/30126128/95018160-7e060580-067b-11eb-9032-9aeda47214f4.gif)

[2020-10-04 14:31] ashu8912 commented on #624
@domoritz i changed the limit at the backend from default 10 to 100 and it seems to work fine now, I wanted to discuss about the UI as you see by default we get a scroller on the gist with multiple files should i reduce the height of each gist file list view so that it don't try to cover the remaining entire height of the model view?

[2020-10-04 14:45] ashu8912 commented on #624
also a thing about limit the max no of files we can fetch per gist is limited to 300

[2020-10-04 16:01] domoritz commented on #818
Oh weird. I remember it working before.

[2020-10-04 16:09] domoritz commented on #624
I'm not following. I want a single scrollbar for the entire list of gists and files. What are you proposing?

Let's set out limit to 300 as well then instead of 100.

[2020-10-04 16:15] ashu8912 commented on #624
@domoritz  if you want the single scroller than i think we don't need any changes at the frontend as its already adding that scrollbar, I was in an impression from the previous conversation that we can either add a view more for overflowing gist files list

[2020-10-04 16:27] ashu8912 commented on #626
@domoritz what's the status of this do we need it or not?

[2020-10-04 16:37] domoritz commented on #626
I don't think it's the most pressing issue. I would rather enhance the features that we have and clean up the code (e.g. remove deprecated code, use react hooks, etc).

[2020-10-04 16:37] #626 closed

[2020-10-04 16:55] domoritz commented on #624
Let's go with the simplest solution.

[2020-10-04 17:06] #624 closed

[2020-10-04 17:43] domoritz commented on #772
Fixed in https://github.com/vega/editor/pull/820

[2020-10-04 17:43] #772 closed

[2020-10-16 04:15] grant opened #832 "Auto popout autocompletion descriptions"
I'm trying to get autocompletion descriptions for the JSON Schema in https://vega.github.io/editor/ like I get with VS Code.

## Actual

Screenshot, no descriptions, must click arrow that appears on hover:

<img width="655" alt="Screen Shot 2020-10-15 at 23 09 33" src="https://user-images.githubusercontent.com/744973/96212114-9dcee080-0f3b-11eb-8f44-b7897536c778.png">

## Expected

The editor shou

[2020-10-16 04:19] domoritz commented on #832
Hmm, I wonder whether there is a setting we are missing. I usually use ctl+space to trigger autocomplete and haven't noticed the difference between VSCode and the Vega editor yet. I just tried it and can confirm that there is a difference.

[2020-10-16 04:21] domoritz commented on #832
https://microsoft.github.io/monaco-editor/playground.html#extending-language-services-configure-json-defaults also requires ctrl+space.

[2020-10-16 04:31] grant commented on #832
The main issue is that there isn't the description after you ctrl+space.  You have to press the ">" once per session. It must be some state.

![dom](https://user-images.githubusercontent.com/744973/96213347-6a418580-0f3e-11eb-9119-86bdade08d23.gif)

[2020-10-16 04:42] domoritz commented on #832
I looked through the API at https://microsoft.github.io/monaco-editor/api/modules/monaco.editor.html and haven't yet found a relevant setting.

Here is where we initialize Monaco: https://github.com/vega/editor/blob/7d4568ccdaf4daa319c4d415d820e20e377f4f25/src/components/input-panel/spec-editor/renderer.tsx#L262. Let me know if you see a relevant config option.

[2020-10-16 04:49] grant commented on #832
The UI is `.can-expand-details .details-label .readMore`.

Yup, it can be toggled with `Read More (^Space)`.

I'll investigate further. Thanks for helping :) feel free to close this issue.

[2020-10-16 04:54] domoritz commented on #832
It looks like if I add `quickSuggestions: {other: true, comments: true, strings: true},` to the options, autocomplete triggers as soon as I type `"m`, which is already better.

So it does look like the defaults are not quite the same as in VSCode.

[2020-10-16 05:15] domoritz commented on #832
Okay, I found a css bug where our description had this big header (visible in https://github.com/vega/editor/issues/832#issuecomment-709751417). That's fixed now.

I don't see an option to auto open the description and my VSCode also doesn't open it by default either. You can run control+space when the suggestions list is visible to show the description and it stays open when the next suggestion l

[2020-10-16 05:19] grant commented on #832
Interesting. (Note to self: I should really open a issue in monaco to explore further)

I can't seem to make the `quickSuggestions` option to work.

Full Repro:

https://microsoft.github.io/monaco-editor/playground.html#extending-language-services-configure-json-defaults

Paste this js:

[code]

[2020-10-16 05:21] #832 closed

[2020-10-16 05:25] domoritz commented on #832
Try https://vega.github.io/editor/ with version 0.91.1 (should be up in a few minutes).

[2020-10-16 05:34] grant commented on #832
That formatting bug is gone! :)

[2020-10-16 05:42] domoritz commented on #832
Yes, and also suggestions pup up when you type `"m` without you having to manually trigger it. Thanks for bringing up the issues!

[2020-10-27 04:33] eflister opened #843 ""share -> create gist" never responds"
**Vega-Editor 0.91.1**

the gist integration is great, except when i hit the `create` button in `share -> create gist`, after logging in to github and filling in info for the file.  it never responds.  everything works fine if i manually create the gist from within github.

i think it would be nice to have the `create` option under the `gist` tab too, sometimes i forget to look under `share`...

[2020-10-27 04:58] domoritz commented on #843
Hmm, it works for me. Can you check the browser console? Here is a gist I just created: https://vega.github.io/editor/#/gist/9ad52fd74e72cd4f347a5597088fa72c/spec.json.

[2020-10-27 06:12] eflister commented on #843
[code]

[2020-10-27 13:38] domoritz commented on #843
What browser and is are you using? Which versions?

[2020-10-27 16:10] eflister commented on #843
OS?  osx 10.15.7 and chrome 86.0.4240.80

[2020-10-27 23:04] domoritz commented on #843
Are you using the online editor or a local version?

[2020-10-27 23:08] domoritz commented on #843
Hm, I cannot reproduce it on Chrome 87.0.4280.27 and MacOS 11. I do see a similar error when I try to use the editor locally, though.

[2020-12-21 14:28] GrzegorzKazana opened #885 "Error thrown when using tooltips and dynamic data"
Hi 👋

I came across an issue when using tooltips and dynamic data - it seemed to me it might be related to how the tooltips are handled in the editor, so I am opening the issue here - feel free to move it is not the right place.

### Expected behavior

When having tooltips enabled and using dynamic data - by defining `url` by a signal value (as described [here](https://vega.github.io/vega/docs/dat

[2020-12-21 14:33] domoritz commented on #885
Is this a problem with the Vega editor or Vega or Vega Tooltip?

[2020-12-21 14:35] domoritz commented on #341
It would be nice to have a search but first, we would want to have a larger set of examples with community examples.

[2020-12-21 14:35] #341 closed

[2020-12-21 14:42] GrzegorzKazana commented on #885
It is difficult for me to say, thought it might be related how the tooltip is called from the editor app (?)
Feel free to correct me 🤷

[2020-12-21 14:44] domoritz commented on #885
Could you try to reproduce the example without the editor? You can start with https://bl.ocks.org/domoritz/cd636b15fa0e187b51b73fc60b4d3014.

[2020-12-21 15:06] GrzegorzKazana commented on #885
I have fiddled around in this codepen (https://codepen.io/GrzegorzKazana/pen/VwKzxyg?editors=0011)

I followed the error message and changed the way `vegaTooltip` is called. Option `1.` throws the error (the same as in the editor) and option `2.` does not
[code]

I have cloned the `vega-editor`, and changed `vegaTooltip` to be called in `.then` after `.runAsync` just like in the above example - it

[2020-12-21 15:08] domoritz commented on #885
Thank you for digging into the problem. It looks like we need to wait for the view to be initialized. I hope we can just await the view.runAsync call.

[2020-12-21 15:12] GrzegorzKazana commented on #885
I might open a PR and we will see if the CI passes 😅

[2020-12-21 15:15] domoritz commented on #885
<img width="831" alt="Screen Shot 2020-12-21 at 16 13 29" src="https://user-images.githubusercontent.com/589034/102791656-32025d00-435c-11eb-90e8-af412e312923.png">

Should fix it.

[2020-12-21 15:57] #885 closed

[2020-12-22 13:57] marcprux opened #888 "Cannot load editor in Safari: SyntaxError: Invalid regular expression: invalid group specifier name"
As of yesterday, https://vega.github.io/editor/ doesn't load in Safari Version 14.0.2 (16610.3.7.1.9) on macOS 11.1 (20C69). It works fine on Chrome and Firefox on macOS. The error in the console is:

[code]

I don't know anything about `vendor.js`, but I'm guessing that some library implemented a regular expression that isn't supported by WebKit (i.e., Safari): https://stackoverflow.com/questions

[2020-12-22 14:43] domoritz commented on #888
Ah great. I'm looking into it.

[2020-12-22 14:47] domoritz commented on #888
The error is happening in the dart language descriptions from VSCode. They are not really needed.

[2020-12-22 14:56] #888 closed

[2020-12-22 14:56] domoritz commented on #888
Fixed in 0.92.1

[2020-12-22 15:05] marcprux commented on #888
It's working again in Safari. Thanks for the super-quick fix!

[2020-12-22 15:11] domoritz commented on #888
Thanks for the report. I would really like to know why it broke now since we never used dart.

[2020-12-22 15:12] domoritz commented on #888
Oh, I think it was https://github.com/react-monaco-editor/react-monaco-editor/issues/322

[2021-04-01 15:47] rafael78co opened #997 "Can't load a local data in Vega Editor"
Hello
I am trying to use the Vega Online Editor with a local data. I first created a localhost server at port 8080 in my computer from where to access the data and test that it works using a web browser  (http://localhost:8080/path/mydata.csv). Then I write the following code in the Online Editor:

{
  "$schema": "https://vega.github.io/schema/vega-lite/v5.json",
   "description": "Create scatterp

[2021-04-01 15:57] domoritz commented on #997
Please check your browser console.

You have to make sure your server supports CORS. That's a restriction of browsers.

[2021-04-01 16:38] domoritz commented on #997
Closing for now but feel free to comment.

[2021-04-01 16:38] #997 closed

[2021-04-01 18:44] rafael78co commented on #997
you right, that is the problem. I will try yo enable CORS in the server. Thanks a lot.

[2021-04-20 16:37] domoritz commented on #843
Closing since it seems to work in general.

[2021-04-20 16:37] #843 closed

[2021-05-27 01:55] domoritz commented on #295
Closing as it's not the highest priority item and adds more overhead for maintenance.

[2021-05-27 01:55] #295 closed

[2021-06-11 15:21] siddhant1 opened #1044 "Timeline viewer is breaking"
1. select an example (https://vega.github.io/editor/#/examples/vega/donut-chart)
2. click on `record signal changes`
3. click on stop recording and reset

the app breaks @domoritz

[2021-06-11 15:26] domoritz commented on #1044
[code]

[2021-06-21 17:21] domoritz commented on #1044
Fixed in https://github.com/vega/editor/pull/1045

[2021-06-21 17:21] #1044 closed

[2021-08-04 17:49] saulshanabrook opened #1064 "Redundant re-rendering on initial load for some specs"
I noticed that for some charts, like the `interactive_concat_layer` Vega Lite example, on the initial load it re-renders the view unnecessarily.

The reason is that the [`componentDidUpdate` for the renderer does a deep equality check](https://github.com/vega/editor/blob/ca8e59f22968f24f3f772e4addbed8d4bdeaf9e7/src/components/renderer/renderer.tsx#L245-L254) and I noticed it is finding the previou

[2021-08-05 04:42] #736 closed

[2021-08-05 04:43] domoritz commented on #1064
Yes, I have seen this issue before but forgot to file an issue.

[2021-08-26 13:43] mattijn opened #1065 "Full-screen-URL does not render from gists"
We experience issues when sharing a gists in full-screen view mode.
Eg. https://vega.github.io/editor/#/gist/66f0007bc800543ff72af2aa8aae7c29/vega_key_as_locs_vals_as_arr.json/view, but literally any other gists.

Sometimes a previous cached figure show up, or an empty figure. After clicking on 'edit visualisation' and clicking the icon 'fullscreen' it does work correctly again.

The issue is alre

[2021-08-26 15:03] #1065 closed, assigned to nobody

[2021-10-14 05:20] yuj opened #1086 "Add Export HTML"
Export HTML would be useful, like this:

![vega-editor-export-html](https://user-images.githubusercontent.com/1206459/137256355-753d8909-37fd-4e0c-af9b-532691a1aa4c.png)

[2021-10-14 12:41] domoritz commented on #1086
I like this idea. Would you be able to send a pull request?

[2021-10-20 01:56] yuj commented on #1086
@domoritz yes, I've sent PR #1087

[2021-12-14 08:04] Jasperhino opened #1107 "docker-compose build fails on Windows"
![image](https://user-images.githubusercontent.com/33397387/145957287-8882dcc8-41f6-44e0-afa0-ca838fdd97d6.png)
When I clone the repo and run `docker-compose build` it fails with the following bundle error.

Can someone help me, or tell me what's wrong here?

[2021-12-18 22:43] declann opened #1108 "option to include config in Share dialog"
This option in present in Export dialog for JSON exports (below, embeds config into the bottom of the spec).

Share dialog involves URLs and Gists. Certainly with Gists, there is a further question of using a separate config.json (and reflecting where Gists are loaded) versus embedding into the spec.

![2021-12-18 (4)](https://user-images.githubusercontent.com/353214/146657320-1ae4b6ea-b121-4692-9

[2021-12-19 03:24] domoritz commented on #1108
I think that adds too much complexity and we already have support for merging the config into the spec via editor actions.

[2021-12-19 03:25] #1108 closed

[2021-12-20 22:34] domoritz commented on #1107
I can't but maybe we should add support for vscode dev containers instead. For now, I will remove the docker compose script.

[2021-12-20 22:34] #1107 closed

[2022-02-03 01:39] declann commented on #843
I'm seeing this same error tonight.

Chrome 97.0.4692.99 and Windows.
Also not working in Firefox 96.0.3 (64-bit).

Chrome message:
`
Access to fetch at 'https://vega-editor-backend.vercel.app/gists/create' from origin 'https://vega.github.io' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. If an opaque response serves your needs, set

[2022-02-03 01:40] declann commented on #843
Info: I could login in Firefox OK, but when I try to save the gist, I hit the error and the UI button gets stuck on 'Creating...'

[2022-02-03 01:57] domoritz commented on #843
Hmm, I cannot even log in in Safari (never could but didn't have time to debug) but in Chrome everything seems to work fine. I just created https://vega.github.io/editor/#/gist/e6f6d5d3e0a1dde07888fedf881439c4/spec.json.

If you could help debug from your side, that would be great.

[2022-02-03 02:08] declann commented on #843
It works in Chrome now!

But it didn't work half an hour ago.

Anything changing on the server? I got no more ideas!

[2022-02-03 02:22] declann commented on #843
Correction: looks like there is a bug, ignore the server Q!

Appears to be related to the particular spec. The spec I was really trying to share is 4k lines due to a big data dump (my workflow is jumping between ObservableHQ and then using the Open in Vega Editor link from vega-embed).

I can share the vega-lite example specs, but not this spec (on Chrome). I manually uploaded the spec to github,

[2022-02-03 02:34] declann commented on #843
More debugging: the post request fails with a 413. CORS error might be a red herring?

![image](https://user-images.githubusercontent.com/353214/152271619-c350a7c3-3d3a-4f7e-911b-a98fd6cd6576.png)

https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/413

So on the server side, there must be a size limit somewhere, and that's what I'm hitting.

That leads to more Qs... Should we make that limi

[2022-02-03 02:48] domoritz commented on #843
The backend is at https://github.com/vega/editor-backend and we can change the limit if you find out where.

I think the best way would be to completely overhaul the way we do authentication. Right now, the backend communicates with GitHub. Instead, the backend should really only be doing authentication and then give the editor frontend the token to send stuff to GitHub directly. That way we would

[2022-02-03 02:49] domoritz opened #1144 "Simplify authentication"
See https://github.com/vega/editor/issues/843#issuecomment-1028551954. We probably don't need to proxy all requests through the server but can get a token from the server and then make requests in the frontend.

This should also allow us to support safari which I think doesn't work right now.

[2022-02-03 09:09] ankoh commented on #843
All you need the server for right now is to hide the client secret of your GitHub App by proxying it through a server.
E.g. if your server just fires this:
[code]
Your app secret stays hidden and you can return the access token to the user.
Any further talking with the GitHub API is then done directly between the Client and GitHub.
You could also just throw this into a Cloudflare worker function t

[2022-02-04 20:02] declann commented on #843
Hi,

The auth approach sounds like a great dev - thanks @ankoh, but not
something I can look at atm - though this might suit me later in the year.
A Cloudflare worker type approach sounds like a great idea.

Here is the limit I think we hit: 100kb default in express bodyParser:
https://github.com/expressjs/body-parser#limit
(I've had success with 90kb spec uploads, slightly less than 100kb and ove

[2022-02-18 16:48] kzahel opened #1149 "Initialize editor using query parameter"
Hi. I'd like to embed something on an external page that could load up the vega editor, but with the vega spec already "pre-pasted" into the vega-lite window.

I would like something where you can open `https://vega.github.io/editor/#vegaSpec={urlencodedjson}&type=vega-lite` and this would url decode the url encoded json and paste it into the editor window.

I searched the page and documentation b

[2022-02-18 17:32] #1149 closed

[2022-02-18 23:57] joshpoll commented on #278
Closed by #1150, since the JSONC parser provides detailed error span info.

[2022-02-19 00:25] joshpoll opened #1151 "Get parse errors and warnings directly from the Monaco editor."
Parse errors currently come from the jsonc parser, and we don't have access to parse warnings for trailing commas or comments so they don't show up in the log.

This requires us to first implement https://github.com/react-monaco-editor/react-monaco-editor/issues/501, which will give us access to error and warning information from the Monaco editor.

[2022-02-19 16:18] domoritz commented on #1151
Similarly, the schema validation could come from the editor instead of ajv (whose error messages are hard to read).

[2022-02-19 16:20] domoritz commented on #278
If this is closed, can we delete https://github.com/vega/editor/blob/dfa71a1e2242e5ff279549dc96900b585717245d/src/reducers/index.ts?rgh-link-date=2019-03-13T15%3A58%3A32Z#L75?

[2022-02-19 16:22] domoritz commented on #278
Ahh, I see you remove it in https://github.com/vega/editor/pull/1150/files.

[2022-02-19 16:23] domoritz commented on #278
Closed by https://github.com/vega/editor/pull/1150

[2022-02-19 16:23] #278 closed

[2022-07-01 20:03] domoritz opened #1215 "Data dependencies are not shown in dataflow viewer"
[Open the Chart in the Vega Editor](https://vega.github.io/editor/#/url/vega/N4IgJAzgxgFgpgWwIYgFwhgF0wBwqgegIDc4BzJAOjIEtMYBXAI0poHsDp5kTykSArJQBWENgDsQAGhAATJJhSoA2qHFIEcNCEVMANlpnEkehnAhpVIKAvJsATgE9tAQWkgNbBuMxoATAAcAL5SoDaYdk7aAELunt6+qAICIWG2ZA7O6ADCcQhePmgALADMqdbpmdoAInkFiQCcAIzl4ZFZIACidQloAS2hFREZUegAYj2FSWWDbSMdAOKTiU0NrZWjIAASy30A7EEAuuXqmtqycPY0pLLuYgz2UFrougYgR0FAA)

![Screenshot 202

[2022-07-01 20:03] domoritz commented on #1215
@saulshanabrook can you help fix this or explain why this connection isn't there?

[2022-07-02 14:08] saulshanabrook commented on #1215
Thanks for the question @domoritz.

I am looking at the dataflow now (from `VEGA_DEBUG.vega.parse(VEGA_DEBUG.vegaSpec`) and the data parts are currently created from inputs from different operators:

<img width="923" alt="Screen Shot 2022-07-02 at 9 59 45 AM" src="https://user-images.githubusercontent.com/1186124/177003959-6502ad81-ece2-4ecd-9abc-c4b6b43b1421.png">

So just from the structure of t

[2022-07-02 15:06] domoritz commented on #1215
Ah, I see. Thank you for digging into the question.

I wonder whether it would make sense to special case the direction of the edges for these operators. @jheer @arvind what do you think?

[2022-07-27 04:05] rgaiacs opened #1231 "Docker Compose is missing"
README says that a Docker Compose setup is available but no `docker-compose.yaml` is in the repository.

[2022-07-27 04:54] rgaiacs opened #1232 "Access to CSV has been blocked by CORS policy"
When I run the following minimal working example

[code]

at https://vega.github.io/editor/ (VEGA-LITE), I get the follow in the log:

[code]

The reason the editor failed to load the CSV file is displayed in the dev console:

[code]

Can this be fixed?

[2022-07-27 13:17] domoritz commented on #1232
CORS is a method to work with a limitation imposed by browsers for security and can only be used by changing a server flag on the serving side or using some kind of proxy. Read more at https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS. It's a recurring issue but there is nothing we can do from our side.

[2022-07-27 13:17] #1232 closed

[2022-07-27 13:18] domoritz commented on #1231
Right, I removed that since it wasn't working reliably and it's also not really needed. Can you send a pull request to remove the references?

[2022-07-28 01:20] rgaiacs commented on #1231
The repository still has a `Dockerfile` file. Is the `Dockerfile` working?

[2022-07-28 02:29] #1231 closed

[2022-07-28 02:29] domoritz commented on #1231
Right. I think it works but I don't maintain it so I removed it in https://github.com/vega/editor/commit/b1aabe5001bdc4bb589fce2c6e1776840ae10f90 to avoid any confusion. Thanks for raising the issue.

[2022-08-06 14:23] PBI-David opened #1242 "Usage Instructions Fail for Local Installation on Windows"
I'm following the instructions from https://github.com/vega/editor. I have run yarn and yarn start. I'm getting the following error.
[code]

As an aside, I have also cloned vega-lite and intend to link the two. Will this allow me to set breakpoints and step through the vega-lite code?

[2022-08-06 14:59] domoritz commented on #1242
It looks like the vendor script didn't run correctly: https://github.com/vega/editor/blob/ae80f89429806a86fb1e25dab5100a600e267d8a/package.json#L94.

I don't test the setup on windows so you will need to debug the script.

Yes, once you link, you can modify Vega-Lite and set breakpoints as well. However, if you just want to set breakpoints, you can even do that in the deployed editor.

[2022-08-06 17:45] PBI-David commented on #1242
I'll investigate and report back. When you say "However, if you just want to set breakpoints, you can even do that in the deployed editor", can you please expand on that?

[2022-08-10 21:14] domoritz commented on #1242
Closing for now since we don't officially support windows.

[2022-08-10 21:14] #1242 closed

[2022-10-31 22:24] domoritz opened #1264 "Support 2x resolution in the PNG export"
Right now, the export is only 1x, which doesn't look great.

[2022-11-01 01:47] #1264 closed

[2022-11-01 02:12] domoritz commented on #1264
cc @jheer