[2017-07-09 05:53] nyurik opened #1 "hover not working"
This example does not show hover effects (highlighting objects in red):

https://vega.github.io/editor/#/examples/vega/bar-chart

[2017-07-09 22:46] domoritz commented on #1
Hmm, it should be working: https://github.com/vega/vega-editor/blob/24a676c2964c5e56671ecda8fdc3eaa62bdc224c/src/components/renderer/renderer.js#L32

[2017-07-09 22:47] #1 closed

[2017-12-03 15:29] domoritz opened #2 "Update webpack and react router"
Using https://github.com/facebookincubator/create-react-app

[2017-12-03 15:30] domoritz opened #3 "Try different validator"
From https://github.com/vega/vega-editor/issues/191

[2017-12-03 15:31] domoritz opened #4 "Enable debug source code in editor"
From https://github.com/vega/vega-editor/issues/190

[2017-12-03 15:31] domoritz opened #5 "Export Button"
From https://github.com/vega/vega-editor/issues/184

[2017-12-03 15:31] domoritz opened #6 "Chart does not update on parse if there was an error before"
From https://github.com/vega/vega-editor/issues/215

[2017-12-03 16:18] domoritz commented on #6
This only happens with Vega

[2017-12-03 16:18] #6 closed

[2017-12-19 06:28] kanitw opened #7 "Print mode where only the plot is shown on the screen"
This will allow users to easily create high-def graphics by printing a PDF of the page.

[2017-12-23 20:19] domoritz commented on #5
The export button/print mode should just show the plot so you can print it.

[2017-12-23 20:19] domoritz commented on #7
Duplicate of #5

[2017-12-23 20:19] #7 closed

[2017-12-29 01:28] nyurik opened #8 "Some errors do not show up in the editor"
See https://github.com/vega/vega/issues/1099

[2018-01-17 10:05] domoritz opened #9 "Convert to TS"
Maybe using https://github.com/lyft/react-javascript-to-typescript-transform

We should do this after https://github.com/vega/editor/issues/2

[2018-01-19 23:34] domoritz opened #10 "Data loading and import"

[2018-01-19 23:34] domoritz opened #11 "Export to gists"

[2018-01-19 23:40] ishansaksena commented on #5
https://github.com/vega/vega-embed

[2018-01-19 23:46] domoritz opened #12 "Combine the editor instances"
Right now we create new monaco instances when we open the vega spec in vl mode. This prevents undo/redo.

[2018-01-23 23:08] domoritz opened #13 "Overlap in console"
<img width="509" alt="screen shot 2018-01-23 at 15 07 22" src="https://user-images.githubusercontent.com/589034/35305711-2f4d679c-004f-11e8-8ee6-bf89ade45919.png">

[2018-02-14 00:14] #13 closed

[2018-02-14 03:58] domoritz opened #14 "Autocomplete does not work in nested specs"

[2018-02-14 03:59] domoritz opened #15 "Tooltips don't support markdown"
This is probably an issue with monaco.

[2018-02-14 20:44] codeShaurya commented on #2
Hello @domoritz, I am a GSoC aspirant and I would like to help.

[2018-02-14 20:52] domoritz commented on #2
@codeShaurya Fantastic. You can join our slack community at https://communityinviter.com/apps/vega-js/join.

If you are already familiar with webpack and react, feel free to just send a PR for this issue. However, I can imagine that it's not straightforward and I don't want you to get frustrated with your first contribution. I'm happy to talk more if you have questions/ comments.

[2018-02-16 20:04] zhirzh commented on #9
Running [react-js-to-ts](https://github.com/lyft/react-javascript-to-typescript-transform#cli) tends to remove custom formatting and might transform the code layout. Consider this [dump](https://gist.github.com/zhirzh/e06228d64c0487f812f3cbda55c3c586) or the example below.

Source:

[code]

Transformed:
[code]

[2018-02-16 20:51] domoritz commented on #9
@zhirzh Can you point out the implications of this?

[2018-02-16 21:01] zhirzh commented on #9
I'd say the code becomes cluttered. This might make code less legible.

[2018-02-16 22:19] domoritz commented on #9
Hmm, I don't see the difference other than a bit formatting. That would have to be fixed manually.

[2018-02-17 00:58] zhirzh commented on #2
Is there an existing plan on how to update the project?

[2018-02-17 19:40] domoritz commented on #5
I don't think so. When you view a chart in full screen you can also save or print as PDF.

[2018-02-17 19:42] domoritz commented on #2
No. But there are tons of tutorials online in how to update react apps that were created with react router. It may be an option to just start a new app and copy things from the existing editor piece by piece.

Any help on this would be greatly appreciated!

[2018-02-17 19:47] saurabh0402 commented on #5
@domoritz If it's fine with you I would like to work on this.

[2018-02-17 19:52] domoritz commented on #5
I know that @ishansaksena already started working on this. He might have some starter code.

[2018-02-17 20:54] domoritz commented on #12
Just to explain this a bit more. The problem is that react recreates components when a subtree of the dom changes. This means we recreate the monaco editor instance in some case and erase the (undo) history.

[2018-02-17 21:04] domoritz commented on #9
Another thing we should look into is https://github.com/wmonk/create-react-app-typescript

[2018-02-17 21:33] domoritz opened #18 "Deploy script"
This could be useful

[code]

[2018-02-17 21:56] domoritz commented on #18
Done in #bcfb271

[2018-02-17 21:56] #18 closed

[2018-02-17 23:26] domoritz opened #19 "Properly use portals for modals"
Look at https://github.com/tajo/react-portal. I'd like our modals to close on esc and click outside.

[2018-02-17 23:53] domoritz opened #20 "Fix use of examples for custom specs"

[2018-02-17 23:54] domoritz commented on #20
See https://github.com/vega/editor/commit/35b7a6782ddb8b302fa47aa951ce9f5ab0c07acb

[2018-02-18 07:06] domoritz commented on #11
We already have `setGist` in app.js but I'm not sure how this works and it's not exposed in the UI. This issue needs some design work before implementation.

[2018-02-18 10:37] zhirzh commented on #9
Abby specific reason for typescript over flow?

I ask because TS requires the codebase be modelled around it. Whereas Flow allows incremental adoption.

[2018-02-20 02:26] domoritz commented on #9
Done

[2018-02-20 02:26] #9 closed

[2018-02-20 04:07] domoritz commented on #12
We have fixed the issue when the Vega editor instance is opened side by side with Vega-Lite. However, switching from Vega to Vega-Lite and vice versa still creates a new editor.

[2018-02-20 04:44] domoritz commented on #20
Done

[2018-02-20 04:44] #20 closed

[2018-02-20 04:45] domoritz commented on #2
Done

[2018-02-20 04:45] #2 closed

[2018-02-20 05:07] domoritz opened #25 "tab creates two app containers"
Press tab while not focused on the editor:

![editor](https://user-images.githubusercontent.com/589034/36408210-ed2e0626-15b8-11e8-8a23-4e992ad50f4b.gif)

[2018-02-20 05:09] domoritz commented on #25
CC @saurabh0402 @zhirzh

[2018-02-20 05:26] saurabh0402 opened #26 "No validation of 'add by gist' form"
Submitting the 'add by gist' form with empty field causes this error
![1](https://user-images.githubusercontent.com/12875685/36408563-2282dee6-162c-11e8-931d-ed46d152395c.png)
Also, there's no validation on it currently to check whether the submitted data is actually an URL.

[2018-02-20 05:27] saurabh0402 commented on #26
I would like to work on this issue.

[2018-02-20 07:12] zhirzh commented on #9
why was this closed?

[2018-02-20 08:05] domoritz commented on #26
Great catch. I'm looking forward to your contributions.

[2018-02-20 09:46] zhirzh commented on #25
This happens because `<Route path='/' component={...} />` is rendered at each route starting with `/`. A simple fix is to use the [`exact`](https://reacttraining.com/react-router/web/api/Route/exact-bool) argument. A better solution is use `exact` in conjunction with [`<Switch />`](https://reacttraining.com/react-router/web/api/Switch).

[2018-02-20 09:47] zhirzh commented on #25
Submitted a [PR](https://github.com/vega/editor/pull/27)

[2018-02-20 16:10] zhirzh commented on #8
How can I reproduce this scenario?

[2018-02-20 17:09] nyurik commented on #8
One option would be to use an older Vega lib (fixed version) with the locally-installed editor, and try the example I gave - even though the errors are there, the editor is not showing them.

[2018-02-20 17:41] #25 closed

[2018-02-20 17:45] #19 closed

[2018-02-20 21:24] zhirzh commented on #8
I tried using vega@3.0.7 and vega-dataflow@3.0.0 but I get a different error:

[code]

Here's the code I used (from [vega#1099](https://github.com/vega/vega/issues/1099)):

[code]

[2018-02-20 23:44] zhirzh opened #29 "What is the consistent behaviour of creating a new visualisation?"
When creating a new viz, the user should be redirected to `/custom/:mode` and the editor should *reset*, except if the user is on `/edited`.

https://github.com/vega/editor/blob/f4c7d44c1382ca8912a303d7fbbfd8d7a2865d8d/src/components/app.tsx#L54-L64

However, when the user is on `/edited`, the editor **does not** reset but does get redirected. This is inconsistent with the behaviour of creating a

[2018-02-20 23:54] domoritz commented on #29
Yes, I just saw this issue in the editor as well. Good catch.

We should redirect and load the right example.

[2018-02-20 23:57] domoritz opened #30 "Set baseurl based on post message"
See https://github.com/vega/vega-embed/issues/55

Basically, when we get a spec via post message, we should use try to resolve URLs as a) absolute, b) relative to the editor, c) relative to the caller. This can be implemented by creating a custom vega loader.

[2018-02-21 02:15] #29 closed

[2018-02-21 02:16] domoritz commented on #26
Done in #28

[2018-02-21 02:16] #26 closed

[2018-02-21 02:19] domoritz opened #31 "Clean up load from gist"
* Don't rely on a service.
* Clean up the validation. The regexes are too complicated and not accurate (suggested by @zhirzh).

[2018-02-21 02:36] nyurik commented on #8
@zhirzh I'm not sure why it's no longer showing as before.  `formula` transform is one of the oldest.  I guess we might as well close this for now, and if something shows up, reopen it later.

[2018-02-21 02:36] #8 closed

[2018-02-21 03:32] zhirzh commented on #11
source: https://github.com/blog/2503-deprecation-notice-removing-anonymous-gist-creation

[2018-02-21 18:45] nyurik commented on #3
Would be awesome if the editor also supported hjson - much better for writing it - allows comments, not as strict as json, etc.

[2018-02-21 18:50] domoritz commented on #3
@nyurik We had this discussion many times. I only want to support more languages if we don't cause confusion with the docs(excludes yaml) and supports autocomplete in the editor (which excludes hjson, I think). But I agree that JSON is a terrible language for people to write.

[2018-02-21 18:52] domoritz opened #33 "Use JSON request service"
right now, we hard code which schemas are used for completion. We completely ignore the schema from the spec. This is not good.

To understand this issue, use a specific version of the schema and note how completion doesn't work anymore.

[2018-02-21 20:20] nyurik commented on #3
I guess I might have to invest into hjson schema validator and autocomplete module ... will see :)

[2018-02-21 22:22] zhirzh commented on #31
What does this mean?

[2018-02-27 09:13] zhirzh opened #35 "improve code quality"
As of now, the codebase doesn't follow any coding style-guide and isn't consistent in writing. I recommend using something like [prettier](https://github.com/prettier/prettier) for automatic code formatting. Once in place, it can be [integrated with editors](https://prettier.io/docs/en/editors.html) for automatic format checks "on save".

[2018-02-27 09:17] zhirzh commented on #35
Also, there should be eslint config to enforce rules that prettier can't fix.

The project currently uses [eslint-config-react-app](https://www.npmjs.com/package/eslint-config-react-app) but it isn't geared for large-scale projects. A better fit would be the [airbnb config](https://www.npmjs.com/package/eslint-config-airbnb).

[2018-02-27 18:22] domoritz commented on #35
We already use tslint: https://github.com/vega/editor/blob/master/tslint.json and test it on travis: https://github.com/vega/editor/blob/master/.travis.yml#L6. So "doesn't follow any coding style-guide" is a bit strong ;-) But yes, it can be improved.

[2018-02-27 18:25] #11 closed

[2018-02-27 18:25] #31 closed

[2018-03-04 07:22] domoritz opened #36 "Fix compact stringify library"
From https://github.com/vega/vega-lite/issues/1811

I would expect output like this:  `{"type": "filter", "expr": "datum.year == 2000"}`

Note that this is a bug in a stringify method that I modified from JSON3 three years ago!

[2018-03-04 07:22] domoritz commented on #36
https://github.com/vega/editor/blob/master/lib/json3-compactstringify.js

It would probably make sense to update the library first.

[2018-03-04 07:23] domoritz opened #37 "Add format button"
Depends on #36

[2018-03-04 10:01] apollonian11 commented on #37
Taking up this issue. ✌️

[2018-03-04 14:43] apollonian11 commented on #37
@domoritz If the button position looks fine, I can go ahead and submit a PR.

![feature-format-button](https://user-images.githubusercontent.com/2150306/36946788-6266b0b2-1fe8-11e8-91cd-ff564709b94f.gif)

[2018-03-04 18:47] domoritz commented on #37
Sweet. The only issue is that we don't see this in the automatic parsing mode but I'm okay with that for now.

Just wondering: is it possible to override the formatter that's used for right click -> format document?

[2018-03-04 19:11] apollonian11 commented on #37
When automatic parsing mode is on the button aligns to the right margin.
Ref.
![screen shot 2018-03-05 at 12 39 17 am](https://user-images.githubusercontent.com/2150306/36949387-adc6847c-200d-11e8-997e-fe5df870c375.png)

Secondly, I do think it might be possible via: https://microsoft.github.io/monaco-editor/api/modules/monaco.languages.html#registerdocumentformattingeditprovider

[2018-03-04 20:02] domoritz commented on #37
We should probably improve the style. The current buttons were a quick hack.

[2018-03-04 20:05] apollonian11 commented on #37
Sounds good!
I'll come up with a few subtle designs to choose from.

[2018-03-04 21:17] apollonian11 commented on #37
@domoritz Some explorations

https://codepen.io/abhi/pen/qxGNMZ

[2018-03-04 21:20] domoritz commented on #37
I like the last one but does it work on white background? Let's have one style for all buttons in the UI.  Look at the button in the gist modal and the toolbar in the bottom right.

[2018-03-04 21:36] apollonian11 commented on #37
Sure, I chose the background color based on the header's light gray background. I'll tweak it a little to work on a white background.

[2018-03-05 04:13] domoritz commented on #36
Fixed in https://github.com/vega/editor/pull/38

[2018-03-05 04:13] #36 closed

[2018-03-06 03:07] ydlamba commented on #5
Working on export button.

[2018-03-06 03:10] domoritz commented on #5
🎉

[2018-03-06 03:12] domoritz commented on #5
Do you have a suggestion where to put the export button? I feel out toolbar in the bottom right is overfowing. Also, we have a parse button above the editor in manual mode. Later, we also want to place the format button (https://github.com/vega/editor/issues/37) somewhere.

[2018-03-06 03:12] ydlamba opened #39 "Remove typings"
Since Vega 3.2 now ships typings with them. We don't need to import them anymore.

[2018-03-06 03:23] domoritz commented on #39
Sounds good.

We should do the same for Vega-Lite, and Vega-Embed, and Vega-Tooltip.

[2018-03-06 03:23] ydlamba commented on #5
I think all actionable buttons should be together. So that we can refer them as a toolbar.
![image](https://user-images.githubusercontent.com/21237466/37012644-bd0d7558-211b-11e8-8a43-2b6abd70ff79.png)

[2018-03-06 05:31] domoritz commented on #5
As I said, another option is right above the editor. I think where you have it is good for now.

[2018-03-06 06:07] #39 closed

[2018-03-06 07:26] #37 closed

[2018-03-06 07:26] domoritz opened #41 "Use compact stringify for formatting"
@apollonian11

[2018-03-08 02:08] ydlamba opened #44 "Losing interaction states by toggling tooltip"
When we toggle `Tooltips` option `vega.View` gets re-initialized thus loses interaction states.

**P.S:** I would like to self-assign this issue.

[2018-03-08 02:10] ydlamba commented on #44
Will fix this after https://github.com/vega/editor/pull/42 gets merged.

[2018-03-08 18:20] #44 closed

[2018-03-09 18:22] ydlamba commented on #30
I understand the issue. Creating own vega-loader and checking with it will work.
Working on this issue.

[2018-03-10 21:10] ydlamba opened #48 "Improve loading from gist"
Instead of taking gist type directly from the user, we can get its type from `$schema` (or any method) then render according to it. I think we should remove gist type.
_OR_
Let's take gist type input, now if we select different type than the actual gist then it should show error on modal itself.

Looking forward to any suggestions, which one should be implemented?

[2018-03-10 22:41] domoritz commented on #48
Loading https://vega.github.io/editor/#/gist/vega/domoritz/455e1c7872c4b38a58b90df0c3d7b1b9/3c293816596d087b12c01bed93ffc8963ccf0fc2/bar.vl.json shows a warning and then when you hit parse, we automatically use the correct type.

I think I'd like to render the above example correctly but show a warning ("The spec specifies Vega-Lite in its $schema but the gist loader is set to Vega. We render this

[2018-03-10 22:56] ydlamba commented on #48
How about removing types from gist load then [https://vega.github.io/editor/#/gist/domoritz/455e1c7872c4b38a58b90df0c3d7b1b9/3c293816596d087b12c01bed93ffc8963ccf0fc2/bar.vl.json](https://vega.github.io/editor/#/gist/domoritz/455e1c7872c4b38a58b90df0c3d7b1b9/3c293816596d087b12c01bed93ffc8963ccf0fc2/bar.vl.json) will automatically use the correct type?

[2018-03-10 23:17] domoritz commented on #48
There are specs without `$schema`. How would we support those?

[2018-03-13 21:17] domoritz opened #49 "Sharing visualizations"
See https://docs.google.com/document/d/1YKBzT-aTrKGxA-G6ktzRSIC-ihc3JCWmNW5k7OL85nA/edit#heading=h.h1iauva9hmtp and look at https://twitter.com/mathisonian/status/973628667854123009 for an idea of what this could be like.

@mathisonian might have some suggestions for how we can implement this.

[2018-03-13 21:33] mathisonian commented on #49
For Idyll's editor I use the following architecture:

`documentation website <-----> idyll api server <--------> amazon DynamoDB`

DynamoDB is a nice backend because it allows you to persist blobs of JSON without really worrying about too much beyond providing auth keys.

The Idyll API server acts as a proxy to DynamoDB, allowing users the editor frontend to "save" by sending a POST request, and a

[2018-03-13 21:40] domoritz commented on #49
Thanks for the notes! I suppose for the storage any key-value store will work but it's great to hear that dynamo works well for this case. Can you share the server code?

[2018-03-15 18:21] jheer opened #50 "Current editor bundles outdated Vega modules?"
See https://github.com/vega/vega/issues/1192 for a bug report indicating that Vega's pivot transform is not accessible in the current editor. This sounds like an error in which modules may not have been properly updated before creating a deployed bundle.

[2018-03-15 18:47] domoritz commented on #50
I had to manually run `yarn upgrade vega`. It's correct now.

[2018-03-15 18:47] #50 closed

[2018-03-15 21:33] mathisonian commented on #49
Yes - happy to share though its not cleaned up for github yet. Will post here once it is open source. The code itself is very simple though, essentially an express.js based proxy to the datastore

[2018-03-22 18:27] domoritz commented on #41
Follow up for https://github.com/vega/editor/pull/40

[2018-03-22 19:11] apollonian11 commented on #41
A little late. Will be trying it a try now. Ref: https://github.com/Microsoft/monaco-editor/issues/690

[2018-03-31 18:35] domoritz opened #51 "When posting from embed with SVG/Canvas, we should use the same renderer"

[2018-04-01 20:07] ydlamba commented on #51
Currently, Vega-Embed is not posting renderer along with mode and spec. Need to change there. Working on this issue.

[2018-04-01 21:04] ydlamba commented on #48
We are getting spec (which have `$schema`) from the gist and `$schema` contains whether it is vega or vegamite :wink:.

[2018-04-01 21:49] #51 closed

[2018-04-03 06:18] domoritz opened #53 "Update to webpack 4"

[2018-04-04 04:54] domoritz commented on #41
Any updates on this?

[2018-04-04 06:50] domoritz opened #54 "Should not re-format"
The editor re-formats specs in some situations. That is not good if the user customized the format.

Probably introduced with https://github.com/vega/editor/pull/40

[2018-04-12 15:35] #30 closed

[2018-04-12 16:46] ydlamba opened #55 "Update view to use the config which is sent from vega-embed"
After https://github.com/vega/vega-embed/pull/66.

[2018-04-13 13:40] domoritz commented on #35
Do you want to add prettier? I think that's a great idea.

[2018-04-13 14:38] domoritz commented on #41
Actually, I like https://prettier.io/ for JSON formatting much better.

I think it's really nice. Check out this example: https://prettier.io/playground/#N4Igxg9gdgLgprEAuEwA6IAkBnMALOAWwEMMkM8YYAHbJAenoDc4BzYgOlYEsY8BXAEYduEergIlmbYswDMHAFbZoGADQYA7twAmfMgFYADEY0gC3VpTJyTZ6sR07uUVmXQgYEamQCMpjAAbOAAzGDIAFgCQQQgqCEIyACZogCdLa2R-AF8zYn4vbG4ALzgyDChoMpAzSCgQy3cMYgAPbmwmkB0E4hcyEOJA7DgzGG4wAGsAZRLqpD

[2018-04-13 15:05] domoritz opened #56 "SVG export doesn't work in Firefox"
See https://github.com/vega/vega-lite/issues/3603

[2018-04-14 12:12] domoritz opened #57 "Editor UI"
We could improve the UI based on some inspiration from https://webassembly.studio/.

Made in https://app.moqups.com/yashdev18@gmail.com/lkfmF6icEv/edit/page/aa1276c8b

<img width="1240" alt="screen shot 2018-05-19 at 11 53 41" src="https://user-images.githubusercontent.com/589034/40272029-5bf19a22-5b5b-11e8-947f-33d92ad85a58.png">

[2018-04-14 13:32] domoritz opened #58 "Support themes"
https://github.com/vega/vega-themes

[2018-04-16 11:37] #55 closed

[2018-04-17 17:48] kanitw commented on #41
I like this too, with `--no-bracket-spacing`.

We should apply this to our autogenerated output (normalized vl specs, output vg specs), but not to normal vl specs.

[2018-04-18 15:27] domoritz commented on #41
Yep, let's do that.

It's nice out have a single library to take care of all formatting so we should use prettier in all Vega related projects.

[2018-04-20 15:38] domoritz commented on #41
I'm having a hard time to get prettier to compile and it's also a huge package. https://github.com/lydell/json-stringify-pretty-compact looks like what we want, though.

[2018-04-20 16:11] #41 closed

[2018-04-21 16:02] mattijn opened #60 "Docs integration in the Vega editor"
It would be nice to have a searchable tree-structure of the documentation within the Vega editior.

Sometimes wish to have detailed information next to the spec while playing around.

[2018-04-21 16:09] mattijn commented on #60
Something like the docs integration within the editor of code.earthengine.google.com
![91c3f690-9f19-46dd-a1a6-9ce48007e778](https://user-images.githubusercontent.com/5186265/39086248-12505dea-458f-11e8-8822-8a4d24f5b30f.png)

[2018-04-21 18:46] kanitw commented on #60
This would be useful, but is beyond the scope of Vega-Editor.   We definitely don't have enough resource to implement this.   So I'll close this for now.

That said, if you or anyone else would like to contribute, feel free to draft a design proposal and we can collaborate on this.

I think another alternative that's equally useful but require less work would be creating a Vega and Vega-Lite docum

[2018-04-21 18:46] #60 closed

[2018-04-21 22:31] kanitw opened #61 "This error screen makes Vega Editor unusable"
It appears whenever there is an error in the console, which sounds like a good idea.

But this means it disrupt my typing flow all the time!  (When I'm typing a spec, esp. expression, it would lead to console error all the time.)

![image](https://user-images.githubusercontent.com/111269/39089312-f8a7036e-4578-11e8-9ace-56157b024b33.png)

[2018-04-21 22:59] domoritz commented on #61
Does this happen in the deployed editor as well? I thought I added error boundaries to prevent errors from causing the whole page to crash.

[2018-04-22 02:49] kanitw commented on #61
Not the deployed editor, but I need local editor to debug development version of VL

[2018-04-26 02:54] domoritz opened #62 "Weird spacing in firefox"
<img width="307" alt="screen shot 2018-04-25 at 22 54 16" src="https://user-images.githubusercontent.com/589034/39283301-a526d384-48db-11e8-81de-b41dff2e05d1.png">

[2018-04-26 04:00] kanitw opened #63 "Include Vega-Lite normalized spec output (in addition to Vega spec)"

[2018-04-26 04:03] domoritz commented on #63
How do you imagine this? With a third panel, tabs, or some button?

[2018-04-26 18:39] kanitw commented on #63
Probably a tab in the bottom panel.  (Three panels would be too much and we probably don't want to see full VL specs together with VG spec anyway.)

[2018-04-26 19:12] domoritz commented on #63
We will look at this with @ydlamba

[2018-04-26 19:17] ydlamba commented on #63
Yeah! We will start the work very soon.

[2018-05-08 16:27] kanitw opened #66 "Hint users about what they can do in console"
Currently, most users won't know how to use the console to debug unless they read https://vega.github.io/vega/docs/api/debugging/.

Providing some affordance that this documentation exists is probably helpful.

[2018-05-08 16:45] domoritz commented on #66
If you open the console, you see some hints. But I agree that we should point to some better debugging guide.

[2018-05-08 22:08] domoritz commented on #66
Here is a screenshot:

<img width="625" alt="screen shot 2018-05-08 at 15 07 26" src="https://user-images.githubusercontent.com/589034/39785587-8fe59172-52d1-11e8-975b-60a20f99a114.png">

[2018-05-08 22:39] domoritz commented on #4
Another neat feature is that this would speed up compilation for Vega-Lite developers.

[2018-05-09 00:18] kanitw commented on #66
Yes, but hint them that they can open console.

[2018-05-09 00:25] domoritz commented on #66
Let's instead build a data viewer that is more user friendly.

[2018-05-09 00:29] kanitw commented on #66
Vega VIEW isn't just for looking at data though.

I think this hint would take <30mins to implement once we have a good design.

[2018-05-09 00:30] domoritz commented on #48
Let's focus on #49 instead.

[2018-05-09 00:30] #48 closed

[2018-05-09 00:33] domoritz commented on #66
Do you have a concrete suggestion? I'm not sure where to put this. I think we will add some more guidance to the editor over the summer. Maybe that would be a place to add this. I don't see a good place in the current editor.

[2018-05-09 00:35] kanitw opened #67 "Cannot find module './package.json'."
![image](https://user-images.githubusercontent.com/111269/39789681-35e8439e-52e6-11e8-9d20-9d23113bc45e.png)

[at-loader] ./node_modules/vega-lite/build/src/index.d.ts:26:25
    TS2307: Cannot find module './package.json'.

[2018-05-09 00:36] domoritz commented on #67
Do you use linked vl?

[2018-05-09 00:37] kanitw commented on #67
Yes

[2018-05-09 00:37] kanitw commented on #67
(Why would I use local editor if I don't link VL)

[2018-05-09 00:37] domoritz commented on #67
Run `yarn build:only`

[2018-05-09 00:47] kanitw commented on #66
It could be as dumb as tips button and a modal.

[2018-05-09 00:48] kanitw commented on #67
I have tried both `yarn build` and `yarn build:only` -- none of them helps.

[2018-05-09 00:57] #67 closed

[2018-05-16 14:56] domoritz opened #69 "Warn before navigating away"
Too often, we accidentally navigate back and lose the work. We should either make sure to not immediately save to local storage or show a warning.

[2018-05-16 16:31] ydlamba commented on #69
I prefer showing a warning in all cases in which we actually might lose the work.

[2018-05-16 20:53] domoritz commented on #69
I think once we have a save feature, we should add it. Another option would be to save the undo history in local storage (at least some of it).

[2018-05-17 04:22] kanitw opened #70 "Commit related specs or fix build setup"
Right now every time I run `git pull` on this repo, I run into this kind of error:

[code]

and have to manually reset the repo before pulling again.

[2018-05-17 08:13] ydlamba commented on #58
Working on this. I think adding a drop-down option in the toolbar (or anywhere in the chart area) will work.

[2018-05-17 09:25] #70 closed, assigned to nobody

[2018-05-17 13:18] ydlamba commented on #69
We can give a save button (or Ctrl+S shortcut) so that one can save whenever required and show a warning in cases like closing tab/navigating without saving like a normal editor does. It is the more intuitive.

[2018-05-18 03:14] domoritz commented on #53
Done

[2018-05-18 03:14] #53 closed

[2018-05-18 03:17] domoritz opened #71 "Format causes error"
<img width="574" alt="screen shot 2018-05-17 at 20 16 38" src="https://user-images.githubusercontent.com/589034/40214388-438323b8-5a0f-11e8-8cb2-a4a69237750c.png">

[2018-05-18 04:01] ydlamba commented on #71
This is an issue on deployed version as well. Looking into it.

[2018-05-18 04:08] domoritz commented on #15
It does work in the monaco playground so maybe it has something to do with the escaping we use.

[2018-05-18 04:13] domoritz commented on #15
Turns out the issue is somehow related to json schema. It also doesn't work in vscode.

[2018-05-18 04:17] domoritz commented on #15
See https://github.com/Microsoft/monaco-editor/issues/885

[2018-05-18 04:54] ydlamba opened #72 "Hot reloading not working for `webpack-dev-server`"
Ideally `--hot --inline` should work but it's not apparently.

[2018-05-18 05:01] #71 closed

[2018-05-18 05:02] domoritz commented on #14
It works now. Wohoo!

[2018-05-18 05:02] #14 closed

[2018-05-18 05:11] ydlamba commented on #62
I don't see anything weird in this. Can you mark the region which you are pointing to?

[2018-05-18 05:18] domoritz commented on #62
See the white line below the purple line?

[2018-05-18 05:25] ydlamba commented on #62
I can see this in chrome too. Well, I am removing this white line for now. Anyways this will be changed with new UI.

[2018-05-18 14:05] #72 closed

[2018-05-18 14:12] ydlamba commented on #61
Is this still an issue? It might get fixed. Can anyone confirm this, please?

[2018-05-18 14:20] ydlamba opened #75 "Weird positioning of example modal"
![screenshot_20180518_194744](https://user-images.githubusercontent.com/21237466/40239718-7446fc16-5ad4-11e8-91a3-6acb3b2a64da.png)

[2018-05-18 16:15] #15 closed

[2018-05-18 16:26] domoritz opened #78 "Automatic deployment"

[2018-05-18 16:53] ydlamba commented on #75
That's because styles are using pixels right now which makes it unresponsive.

[2018-05-18 20:09] #75 closed

[2018-05-18 21:16] #78 closed

[2018-05-18 21:40] domoritz opened #81 "Show version of the editor"
We could show this in the hamburger menu in addition to the Vega and Vega-Lite versions.

[2018-05-19 16:45] ydlamba opened #82 "Add a feature for exporting as PDF"

[2018-05-20 01:17] #56 closed

[2018-05-20 13:51] ydlamba opened #85 "Feature to view dataset used in a spec"

[2018-05-20 18:35] domoritz commented on #61
Closing as this seems to be fixed.

[2018-05-20 18:35] #61 closed

[2018-05-20 18:39] ydlamba opened #86 "Save/Snapshot feature"

[2018-05-20 21:36] Casyfill opened #87 "Labels don't show up for input type="range""
here is the example I was working on
[code]

[2018-05-20 21:38] domoritz commented on #87
I see this:

<img width="465" alt="screen shot 2018-05-20 at 14 38 08" src="https://user-images.githubusercontent.com/589034/40283936-6fe52ce8-5c3b-11e8-9d68-6dbde3d53c9b.png">

[2018-05-20 21:48] Casyfill commented on #87
yes; slider on my homebrewed apps has a label on the right:

<img width="248" alt="screenshot 2018-05-20 17 47 30" src="https://user-images.githubusercontent.com/2675621/40284017-f28d2406-5c55-11e8-96d9-f0d4cc6df06d.png">

[2018-05-20 22:12] domoritz commented on #87
I don't see it: https://bl.ocks.org/domoritz/0ec5a1df8d19a0fa935206a6e3bbb0ae/22a86be1117270b090ebfc569fa37d2fb0d84247

[2018-05-21 05:04] #87 closed

[2018-05-21 18:14] domoritz opened #88 "Formatting bug"
Hitting the format button multiple times formats again.

[2018-05-21 18:15] domoritz opened #89 "Top bar"
<img width="1078" alt="screen shot 2018-05-21 at 11 14 50" src="https://user-images.githubusercontent.com/589034/40322759-4381e77e-5ce8-11e8-86e5-9337475bef19.png">

But more in the style of: https://webassembly.studio/ (but light, not dark).

[2018-05-21 18:16] domoritz opened #90 "Full screen"

[2018-05-21 21:22] #35 closed

[2018-05-21 22:38] ydlamba commented on #54
Situations like? Need more information to understand the issue?

[2018-05-21 22:53] #88 closed

[2018-05-21 22:56] domoritz commented on #54
I think was fixed in #4c221e3

[2018-05-21 22:56] #54 closed

[2018-05-22 00:41] domoritz opened #93 "Cannot format spec"
<img width="679" alt="screen shot 2018-05-21 at 15 59 00" src="https://user-images.githubusercontent.com/589034/40336401-3c36080c-5d1e-11e8-8b22-7c3de3d3e2b3.png">

[2018-05-24 14:46] ydlamba commented on #93
This can be fixed after https://github.com/Microsoft/monaco-editor/issues/889.

[2018-05-24 16:58] kanitw commented on #85
viewing signal is useful too (for Vega).

[2018-05-28 02:19] kanitw opened #95 "Source map no longer working correctly for Vega-Lite"
(It might be related to the webpack upgrade?)

[2018-05-28 02:40] domoritz commented on #95
Or the rollup changes in Vega-Lite itself. I'm not sure whether rollup correctly maps the sourcemaps back to the ts files.

[2018-05-28 07:32] ydlamba opened #96 "Add `vega-projection-extended` package"
Need this package to run https://vega.github.io/vega/examples/projections/.
See https://github.com/vega/vega/issues/1292.

[2018-05-28 19:18] #96 closed

[2018-05-29 02:38] domoritz opened #99 "Autocomplete slightly broken"
![moncao](https://user-images.githubusercontent.com/589034/40635376-90941c5a-62ae-11e8-9715-4d4a3bc49669.gif)

I can't quite figure out what the issue is. I don't have the same problem in VSCode so I suspect it has something to do with our setup.

Maybe we should consider dropping React Monaco and add Monaco manually as in https://github.com/wasdk/WebAssemblyStudio/blob/master/src/components/edito

[2018-05-30 01:05] domoritz opened #100 "Add keyboard shortcuts"
Like CMD+B to parse and render a vis.

[2018-05-30 01:44] kanitw commented on #100
Why B, not P(arse) or R(ender)?

[2018-05-30 01:51] domoritz commented on #100
CMD+P is usually print. CMD+R reloads the page. CMD+B is common in IDEs to build.

[2018-05-30 19:33] #90 closed

[2018-05-30 20:07] domoritz commented on #99
Another advantage of refactoring this is that we could provide the schema without requiring `$schema`. See https://microsoft.github.io/monaco-editor/playground.html#extending-language-services-configure-json-defaults

[2018-05-30 20:07] domoritz commented on #95
Duplicate of #4

[2018-05-30 20:07] #95 closed

[2018-05-30 21:13] kanitw commented on #99
I wonder what should has higher precedence?  (In a way, if we have local VL schema, it's more up to date.  However, if users want to use older version of schema, then it should have higher precedence?)

[2018-05-30 21:41] domoritz commented on #99
We actually don't load the schema but instead always use the latest one. See #33

[2018-05-30 21:57] kanitw commented on #99
Oh can we make it load the latest VL then?

[2018-05-30 22:13] domoritz commented on #99
That would need a JSON request service (#33). We use the schema from the installed vega-lite version. This is great for using the editor for development, btw.

[2018-06-01 16:15] domoritz commented on #67
@arfulgarfunk add the json.d.ts from the Vega-Lite repo to your typings. I think TS 2.9 addresses this as well.

[2018-06-04 03:11] Casyfill opened #102 "search window (cntrl+f) does not disappear on full screen"
<img width="1792" alt="screenshot 2018-06-03 23 11 27" src="https://user-images.githubusercontent.com/2675621/40896526-7a62144e-6783-11e8-8391-d1eecfcc0d4d.png">

[2018-06-04 03:44] domoritz commented on #102
We can probably play with the z-index.

[2018-06-04 20:08] domoritz opened #103 "Builds are very slow"
Related #4. Even rebuilding when Vega-Lite changes takes about 10 seconds.

[2018-06-05 01:56] domoritz opened #104 "Incorrect URL"
Open an example in Vega-Lite -> Edit Vega -> URL is still for the Vega-Lite example.

[2018-06-06 23:00] #104 closed

[2018-06-11 17:47] domoritz commented on #103
slow

[2018-06-12 17:09] #100 closed

[2018-06-12 17:17] ydlamba opened #108 "Show available keyboard shortcuts"

[2018-06-14 17:05] ydlamba opened #109 "Side bar"

[2018-06-14 17:28] domoritz commented on #109
Les see whether we really need this.

[2018-06-14 17:30] ydlamba opened #110 "Add visual feedback for format keyboard shortcut"
Same click button effect like we have done for parsing?

[2018-06-14 20:20] #62 closed

[2018-06-19 14:18] artfulgarfunk commented on #67
Still getting the same error, with typescript updated...

I added the following line to my tsconfig.json which means no errors but the app doesn't load at all...
"include": ["node_modules/vega-lite/typings/*.d.ts"]

[2018-06-19 15:51] domoritz commented on #67
What versions (git Sha) of Vega-Lite and the editor are you using?

[2018-06-19 19:06] artfulgarfunk commented on #67
Vega-lite 2.5.2 & VSCode
That what you mean? :)

[2018-06-20 10:56] artfulgarfunk commented on #67
Moved issue to appropriate area:
[3897](https://github.com/vega/vega-lite/issues/3897)
I was just posting here because it's the same error, however I'm not using the editor.

[2018-06-20 14:34] domoritz commented on #67
Oh okay, I got super confused because the editor works fine for everyone in our lab. I'll respond to the other issue.

[2018-06-21 06:16] domoritz opened #115 "Export modal"
Export should open a modal where users can choose between PNG/SVG.

[2018-06-21 06:17] domoritz commented on #103
I made them slightly faster by switching to awesome ts loader.

[2018-06-22 23:30] #89 closed

[2018-06-23 17:10] domoritz opened #117 "Mode awareness"
When we are in Vega-Lite mode, we should open the gist and the example gallery with Vega-Lite preselected.

[2018-06-23 17:12] domoritz commented on #103
Seems better now. Will close.

[2018-06-23 17:12] #103 closed

[2018-06-23 17:16] domoritz commented on #49
* [ ] Set up an oauth server with https://zeit.co/now
* [ ] Support anonymous sharing via spec in the URL
* [ ] Add login dialog
* [ ] Save to gist if the user is logged in
* [ ] Save specs to elastic so that we can search them

Code to look at https://github.com/enjalot/blockbuilder and https://github.com/vega/vega-editor/tree/saveInGist

[2018-06-23 22:02] ydlamba commented on #93
It appears to be fixed now. So closing it.

[2018-06-23 22:10] ydlamba commented on #110
After the new top bar, we need to add visual feedback for parsing/formatting again.

[2018-06-23 23:08] domoritz commented on #110
👍

[2018-06-25 06:44] ydlamba opened #122 "Keyboard shortcut for full screen mode toggle"

[2018-06-29 00:07] chanwutk opened #123 "A cross-origin error was thrown in editor"
There is an error "Error: A cross-origin error was thrown. React doesn't have access to the actual error object in development. See https://fb.me/react-crossorigin-error for more information."

When giving the editor this spec:
[code]

[2018-06-30 18:25] ydlamba opened #124 "Zoom in/out or scale option in full screen mode"

[2018-07-03 18:40] #123 closed

[2018-07-09 17:23] domoritz opened #128 "Vega-Lite to Vega should open Vega spec"
Right now we clear the spec and show an empty Vega spec.

[2018-07-10 16:11] domoritz opened #129 "Can't change mode in gist modal"
![editor](https://user-images.githubusercontent.com/589034/42522936-34fe1834-8421-11e8-8e27-2aca453ce3f0.gif)

[2018-07-10 17:59] #129 closed

[2018-07-15 14:03] ydlamba opened #134 "Unnecessary white pane"
![screenshot_20180715_190153](https://user-images.githubusercontent.com/21237466/42734444-8de9965a-8861-11e8-8f9f-8acf5555bda8.png)

[2018-07-15 14:09] domoritz commented on #134
How do you get this?

[2018-07-15 14:12] ydlamba commented on #134
Resize the complied vega spec header without instead of clicking on it.

[2018-07-17 14:17] nesterone commented on #33
Hi, @domoritz
I see it at https://github.com/vega/vega-editor/blob/bfb3c59d03cdbbacdf6a8a4639767121e7aaa644/src/utils/validate.js#L10

If you don't mind I can take this one, play around and send PR for review

[2018-07-17 15:23] nesterone commented on #33
After a playing with validator I can propose next solution:
- put schemas in redux store (for example with key as url)
- provide separate redux action `UPDATE_VEGA_SCHEMA` and `UPDATE_VEGA_LITE_SCHEMA`
- keep `validationSchema` in actions which trigger validation
- map current schema to the component through connect

[2018-07-17 15:39] domoritz commented on #33
Thank you for looking into this. I'm not sure I understand why the schema needs to be stored in the redux store. This issue is about the json request service that is available in vscode but not by default in Monaco.

[2018-07-17 16:06] nesterone commented on #33
Looks like I've mixed up validation with autocomplete. Let me take a look on how monaco editor manages autocomplete ...

P.S.:

Is it ok that editor won't take to account vega spec`s schema during validation (as far as I see validation is hardcoded )

[2018-07-17 16:17] domoritz commented on #33
Yeah, the autocomplete and validation in the editor component are separate from the validation outside the editor component. Ideally, they would be together but I haven't gotten round to fixing it. Thanks for looking into this!

[2018-07-17 16:49] domoritz opened #136 "GIST loading does not work with the default example"
The URL https://vega.github.io/editor/#/gist/1/domoritz/455e1c7872c4b38a58b90df0c3d7b1b9/67cb857a0d827a462eafb685653288a25d126a2b/bar.vl.json also seems weird (what does the `1` do).

[2018-07-17 23:37] hryanjones opened #137 "Idea: Allow Toggling Defaults"
I'm quite new to Vega-lite and it's editor. The inline annotations on possible values are very nice for exploring what's possible without referring to documentation, but finding the right keyword to specify something can be a little difficult.

My idea is to have a mode where the defaults could be toggled on (maybe they'd show up as gray text), and when they're edited they'd become part of the cha

[2018-07-17 23:55] domoritz commented on #137
For Vega-Lite, you can look at the generated Vega to see what is happening. I like the idea but it's indeed very complicated to implement and I doubt we will add this.

[2018-07-18 01:18] hryanjones commented on #137
Yes, the tooltip is very helpful, but knowing the keyword to get to it was the harder part.

Thanks for responses on this :)

[2018-07-18 15:54] #136 closed

[2018-07-18 17:58] domoritz opened #139 "Loading the editor initially neither activates vega, nor vega-lite mode"

[2018-07-23 20:12] domoritz opened #141 "Run should work even if auto parsing is on"
This is important in development when Vega-Lite itself might change.

[2018-07-25 20:14] domoritz opened #142 "Update deps"
<img width="389" alt="screen shot 2018-07-25 at 13 13 47" src="https://user-images.githubusercontent.com/589034/43224916-a029b176-900c-11e8-8189-c2467dde9b9a.png">

[2018-07-26 15:45] #142 closed

[2018-07-27 09:37] mattijn opened #144 "energy warning of browser using editor"
While working with the updated editor I oftenly get warnings and errors related to energy usage and memory overload of the browser.

I hear the fan going wild and when closing the editor it goes backs to normal.

<img width="620" alt="energy" src="https://user-images.githubusercontent.com/5186265/43313680-15bc5738-9191-11e8-8749-9c0460d4b6c8.png">

[2018-07-27 15:15] domoritz commented on #144
Hmm, odd. I've had no problems in Firefox and chrome. Does this just happen in safari?

[2018-07-29 18:01] nesterone commented on #33
Hi, @domoritz
I have found a way to make Monaco editor to load schemas on-demand

https://monosnap.com/file/hlvnvQQCFUedZFb3jDm93aaPe1b4nJ

It's based on the same functionality as VSCode

However, it  requires to modify Microsoft/monaco-json. My current changes here https://github.com/nesterone/monaco-json/commits/custom-request-service

If you don't mind I'm going to make a pull request to Micros

[2018-07-29 18:36] domoritz commented on #33
Oh sweet. Thanks for looking into this. Since we will still only load the latest vega or vega-Lite version, we will have to show a warning if the versions are not compatible but that should be easy.

If you are rewriting the JSON request service, it would be great to also address an issue with conflicting formatters (https://github.com/vega/editor/issues/93). The problem is that the default format

[2018-07-31 15:41] nesterone commented on #33
As far as #33 depends on Microsoft/monaco-json/pull/7 I can cast a glance in #93,

I think we can close #135  for now

[2018-07-31 15:47] domoritz commented on #33
Thank you @nesterone

[2018-07-31 15:53] nesterone commented on #93
Hi, @domoritz , @ydlamba
Not sure that I can reproduce it
https://monosnap.com/file/smrRAg1eHNlCRt3a8zS2Eq4iLq1qEa

Is it still actual?

[2018-07-31 16:26] domoritz commented on #93
Definitely! Just press format multiple times.

![editor](https://user-images.githubusercontent.com/589034/43472999-d18e456a-94a3-11e8-85ec-6bf699b11345.gif)

[2018-08-06 02:35] #85 closed

[2018-08-06 02:36] domoritz opened #145 "Update react select"
To version 2.0

[2018-08-06 04:32] domoritz opened #147 "Show warning count in logger tab header"
Otherwise it's impossible for users to know that there are warnings when they use the data viewer.

[2018-08-06 04:58] domoritz opened #148 "Automatically open logs when there is an error"
We never want to see the data viewer instead.

[2018-08-06 17:26] domoritz opened #149 "Print dates in data viewer"
Check the first column. It should be dates rather than empty objects.

<img width="559" alt="screen shot 2018-08-06 at 10 26 19" src="https://user-images.githubusercontent.com/589034/43731397-39c1a58c-9963-11e8-8475-3d26f2accfec.png">

[2018-08-06 18:54] ydlamba commented on #149
View API is giving date data like this -
![screenshot_20180807_002422](https://user-images.githubusercontent.com/21237466/43735440-3c515be2-99d8-11e8-8074-87911d00694e.png)

[2018-08-06 18:56] domoritz commented on #149
Hmm, weird. Are they of type `DateTime`, though?

[2018-08-06 19:05] ydlamba commented on #149
Looks like yes.

![screenshot_20180807_003437](https://user-images.githubusercontent.com/21237466/43735972-b02c2f46-99d9-11e8-89b5-8bd4855823d0.png)

[2018-08-06 19:37] domoritz commented on #149
Then we should be able to show dates better.

[2018-08-07 03:43] #115 closed

[2018-08-11 17:32] domoritz commented on #124
Not that critical, imo

[2018-08-11 17:33] domoritz commented on #109
I think we decided that we don't need this for now.

[2018-08-11 17:33] #109 closed

[2018-08-11 17:34] domoritz commented on #33
Have you learned something new @nesterone?

[2018-08-12 05:18] domoritz opened #154 "Create issue from sharing"
Add a button "Create Vega Issue with this Specification" that automatically creates an issue with a link to the spec. Use Vega-Lite when that's the mode.

[2018-08-12 16:53] domoritz opened #156 "Refactor sharing modal"
I had another look at the sharing modal and noticed some issues with the code. Instead of changing the UI in `componentDidUpdate` in `exportURL` for example, we should change things in `render`. To clean things up, we should extract all the modals into their own components.

[2018-08-12 18:26] nesterone commented on #33
Hi, @domoritz

Not much. Looks like MS guys are ok with my enhancement in general, however, I'm waiting for some remarks to my PR.

From browsers point of view feautre with on demand loading would work only in Chrome because, other browsers doesn`t support `fetch` API in Worker env.

[2018-08-12 18:35] nesterone commented on #93
According to Microsoft/monaco-editor#889, it's about extending monaco api, so looks like I will create another PR to MS ;-)

[2018-08-15 20:22] domoritz opened #157 "Support encode as URL without whitespaces"
This would make the URL much shorter. We then use auto format when we load the spec.

[2018-08-21 21:02] domoritz opened #158 "Service to generate PDFs"
It would be sweet if we could deploy a service to generate PDFs for Vega or Vega-Lite specs. A simple option could be https://cloud.google.com/blog/products/gcp/introducing-headless-chrome-support-in-cloud-functions-and-app-engine.

If anyone wants to write the code, I'd be happy to deploy it.

[2018-08-23 15:12] domoritz commented on #158
Not really urgent. I think fixing the json request service and formatting have higher priority.

But I though this would be a fun one for someone who isn't familiar with the editor codebase.

[2018-09-06 15:56] Alcampopiano opened #159 "Tooltips do not appear if VL editor is in fullscreen"
[Click to see](https://vega.github.io/editor/#/url/vega-lite/N4KABGBEAkDODGALApgWwIaQFxUQFzwAdYsB6UgN2QHN0A6agSz0QFcAjOxge1IRQyUa6ALQAbZskoAmOgCtY3AHaQANOCgATZAgBOjQnh4qckAIJgE6Asl2Ex3PJcTcA7oyXUwL3bGSE3WzB0JU0wVEYxHTBCINoxByVYMBZrMG5YpOCwAHFubmooy2R0XSQwADNuXRSUMHhS2rSAT25Weol4AGt0pTo1DUhNa0wcYEhWXTFsLRHSBt95RRUAX3UISAxdLpnIAI88AY28XRDYKt1UGYBtUAgNhrF4VjFrZF2AcnwiEnJXf4Y+UKyDo8G4qD4JTKiAA-ABHAC8H

[2018-09-06 18:52] #159 closed

[2018-09-07 19:45] Alcampopiano commented on #159
Hi @domoritz,

Is this closed because it has been fixed? I ask because for some reason I thought I noticed the fix in the online editor, but now I see that tooltips are not appearing. Just letting you know.

[2018-09-07 21:47] domoritz commented on #159
It hasn't been deployed yet.

[2018-09-09 01:08] domoritz opened #160 "Manual parsing selection is not saved"
When I reload the editor, the setting gets reset to auto parsing.

[2018-09-09 01:09] domoritz commented on #160
Speaking of auto parsing, we should still support parsing on click even if auto parsing is on.

[2018-09-09 20:32] #141 closed

[2018-09-12 19:36] ydlamba commented on #128
We already have a way to switch to Vega spec.

[2018-09-12 19:40] domoritz commented on #128
Yeah, but why not just open the corresponding Vega spec when you change the type?

[2018-09-12 22:29] domoritz commented on #86
Done and deployed

[2018-09-12 22:29] #86 closed

[2018-09-18 14:14] ydlamba commented on #148
We can disable the data-viewer tab if there is an error.

[2018-09-18 14:56] ydlamba opened #164 "Consistent use of color codes and button styles"
Right now there is a lot of variety in styles especially the buttons.

[2018-09-18 17:15] domoritz opened #165 "Weird alignment in error log"
<img width="641" alt="screen shot 2018-09-18 at 10 14 55" src="https://user-images.githubusercontent.com/589034/45704441-bfc2c280-bb2b-11e8-9750-b4a8140c1f32.png">

[2018-09-18 17:16] domoritz commented on #148
Done in #163

[2018-09-18 17:16] #148 closed

[2018-09-19 03:18] geohuz opened #166 "How to set locale globally"
In vega API doc I saw vega.formatLocale(definition) and vega.timeFormatLocale(definition) to define the locale globally. Is there any way to define this in vega editor?

[2018-09-19 03:48] domoritz commented on #166
Not yet. We love pull requests and this would be a great addition.

[2018-09-24 23:56] domoritz commented on #166
Actually, you can probably set this from the command line. `vega` is available in `VEGA_DEBUG`. Does this work for you @geohuz?

[2018-09-25 19:06] domoritz commented on #165
Why is the first line aligned differently?

[2018-09-25 19:31] ydlamba commented on #165
I've fixed this locally. Most of the major style issues will be fixed by that single PR.

[2018-09-26 16:25] mattijn opened #170 "Data viewer is not updated when data is added or removed by signals"
A few months ago I made the following [use-case](https://vega.github.io/editor/#/url/vega/N4KABGBEAkDODGALApgWwIaQFxUQFzwAdYsB6UgN2QHN0A6agSz0QFcAjOxge1IRQyUa6SgBY6AK1jcAdpAA04KAHdGAExbYwADgAMuxREgpG1fFoBM+w1ELo1axjOpaArDchr0eTDgDaShCgECFQMuioyFqe3ugA+oTcTniwCoEhkBToADasyKn+wJAAHpYGUACeWgDsdK4AvvJgRaU4AGzlkFXtdG2NzSVaAJwWTV1a2vUAujahkLJaAaGhRXgATqbUyGvRsGvwClCo3I4AZt1QewdjWbn50Wpr6C6N6SuQ65vb0fZqA

[2018-09-26 16:53] domoritz commented on #170
Even after you hit refresh? Do you have a screenshot of the final state where it's wrong? Can you compare it to the state of the view?

[2018-09-26 17:00] mattijn commented on #170
<img width="1089" alt="bug_dataviewer" src="https://user-images.githubusercontent.com/5186265/46096058-74a94f00-c1be-11e8-9074-0e5fc3ae1262.png">

[2018-09-26 17:16] domoritz commented on #170
Thank you for the bug report. We'll look into it or if you want to send a PR, we would love that as well.

[2018-10-04 12:47] evanliomain opened #171 "Support another spec format"
The editor is a great tool as I have to design a new chart, or to enhanced a previous one. And thanks you a lot for that.

But, one big caveat, I have when I use it, is the supported format for the vega spec, the json format:
- can't write comment where I want (I know the `description` property)
- it fail every time I just want to add a new element in my spec because of a missing comma (comma that

[2018-10-04 12:57] evanliomain opened #172 "Multi-window support (feature request)"
When developping with the editor, it happen to not have enought of space between the spec, the render and the data table.

Moreover, if you have a multiscreen configuration, it's nice to set a screen vertically to edit the code, and one screen horizontally to view the render.

But to work, the editor have to support multi-window rendering to place and resize them whenever we want.

So It could be

[2018-10-04 15:31] domoritz commented on #172
That sounds like a nice feature. Thanks for suggesting it. I don't think we will get to it so of you want it, please send us a PR.

[2018-10-04 15:35] domoritz commented on #171
Thank you for filing the issue. This is an often requested feature and we have discussed it many times. Until now, we decided that the disadvantages outweigh the potential benefits. See https://github.com/vega/vega/issues/1148 for example.

I could be convinced to support comments but my main concern is supporting autocomplete.

Also, check out bit.ly/js2json in the meantime. This shows you that I

[2018-10-05 10:47] nesterone commented on #33
My PR to monaco-json plugin was merged in master, so in next release of vs-code/monaco-editor it would be available

[2018-10-05 15:56] domoritz commented on #33
Sweet. Thanks for keeping track of it!

[2018-10-08 12:36] evanliomain commented on #171
Thank for the answer.
I understand it's not a quick feature, especially if you had to maintained more than 1 format in your doc.

[2018-10-12 07:05] domoritz opened #173 "Use the data change API to update the data viewer"

[2018-10-25 07:10] metasoarous opened #174 "Optionally post as gist to avoid really long urls"
I understand that the Vega Editor now stores the state of the visualization in the url using LZ compression. This is wonderful and brilliant!

![image](https://user-images.githubusercontent.com/88556/47481052-50558800-d7e7-11e8-9dcb-0d804a887f2e.png)

However, these can get quite long for more involved specs (of vega vs vega-lite especially)

![image](https://user-images.githubusercontent.com/8855

[2018-10-25 08:10] domoritz commented on #174
This is definitely the goal!

You can already manually create a gist and load it like here: https://vega.github.io/editor/#/gist/vega-lite/domoritz/455e1c7872c4b38a58b90df0c3d7b1b9/96befdb6e155277a7c9d0521f24246784f3930d1/bar.vl.json

We will work on adding support for saving gist when we get to it. It's a high priority.

Duplicate of #49.

[2018-10-25 08:10] #174 closed

[2018-10-25 08:29] metasoarous commented on #174
Wonderful; Thank you!

[2018-10-25 15:02] iliatimofeev opened #175 "Wrong scaling on export from Editor"
A bit unexpected differences between vega editor and export to png when range for y scale is used
![image](https://user-images.githubusercontent.com/11561581/47510011-e9d07880-d87f-11e8-8dac-42dc63d848fd.png)

[Vega editor](https://vega.github.io/editor/#/url/vega/N4KABGBEAkDODGALApgWwIaQFxUQFzwAdYsB6UgN2QHN0A6agSz0QFcAjOxge1IRQyUa6SgBY6AK1jcAdpAA04KAHdGAExbYwAJgAMuxREgpG1fFr0GlkQujVrGM6loCsi62vR5

[2018-10-25 15:09] domoritz commented on #175
Hmm, I get this

<img width="995" alt="screen shot 2018-10-25 at 17 09 11" src="https://user-images.githubusercontent.com/589034/47510590-bc340100-d878-11e8-92ce-2aa3245712e2.png">

[2018-10-25 17:57] iliatimofeev commented on #175
As you don't see this?
![image](https://user-images.githubusercontent.com/11561581/47520289-7a1ab780-d898-11e8-8f08-3a4fae3e6ca8.png)

[2018-10-26 08:21] domoritz commented on #175
Got a link?

[2018-10-26 17:46] iliatimofeev commented on #175
This from https://github.com/vega/vega-lite/issues/4229
[vega editor](https://vega.github.io/editor/#/url/vega-lite/N4KABGBEAuCW0BsCmkBcZiQGYHsB20AyrAF4roCMAHADRTRIAe0aUhcAtgK4JcDOYAEoBDBpAC+NcFADusACbQAFqwDMABnVSIkDsIBOAa1aR9SAMYttUJUlgBzJS3Qat0yOfxYHrTPuF49uQYkLaiegAOvpB85rYcwZAAbrD6CrB8EuKS7kh4nvKwgb7SOp68HHglEDVQfDj6zmAA2pAACkhpEbb+CJB0kADCDXDmwn0DAPIARgBWFiwAuta12LBICPImyEkb-aU1MACeEYl4OBxF45

[2018-10-26 21:33] domoritz opened #176 "Editor does not set mode from URL"
See https://vega.github.io/editor/#/url/vega-lite/N4KABGBEAuCW0BsCmkBcZiQGYHsB20AyrAF4roCMAHADRTRIAe0aUhcAtgK4JcDOYAEoBDBpAC+NcFADusACbQAFqwDMABnVSIkDsIBOAa1aR9SAMYttUJUlgBzJS3Qat0yOfxYHrTPuF49uQYkLaiegAOvpB85rYcwZAAbrD6CrB8EuKS7kh4nvKwgb7SOp68HHglEDVQfDj6zmAA2pAACkhpEbb+CJB0kADCDXDmwn0DAPIARgBWFiwAuta12LBICPImyEkb-aU1MACeEYl4OBxF45AHOauM1bVQwowZ0XCIiQCywvZ48Fx5EgwDgsGAAILyYQRaCiWD4CQrQ7eDZbdAeAD6

[2018-11-13 18:45] domoritz commented on #33
There has been a new release @nesterone

[2018-11-14 21:05] kanitw opened #179 "Don't show shortened link"
https://vega.github.io/editor/#/url/vega-lite/N4KABGBEAkD...1iQM4AAM9ogcaq8cNSrAVQAuiAFUA

This one opens fine in Chrome but not in Safari.

[2018-11-14 21:06] kanitw commented on #179
(In Safari, the spec isn't loaded.)

[2018-11-14 21:53] domoritz commented on #179
The link does not work since it uses ...
Can you paste a working link?

[2018-11-14 21:56] kanitw commented on #179
Oh, then we have UX problem, not a Safari problem.

<img width="788" alt="image" src="https://user-images.githubusercontent.com/111269/48515208-032c6b00-e815-11e8-8457-d495e5b0cb67.png">

If we don't expect users to copy the text, don't show the text.  Just show the copy button.
What I did is I naturally drag to select the text and then do cmd+C, so I get the url with ...  ><"

[2018-11-14 22:01] domoritz commented on #179
No, you have to click the copy button or click the link. the link can be long.

[2018-11-14 22:01] domoritz commented on #179
Fair, let's hide it!

[2018-11-28 23:07] kanitw opened #182 "Clear button doesn't preserve the undo history"
When I click clear by mistake, there is no way to bring my code back.

[2018-11-29 00:50] domoritz commented on #182
Yeah, undo is not supported well in general because of https://github.com/vega/editor/issues/12. I'm not sure how this interacts with clearing, though.

[2018-11-29 01:10] domoritz opened #183 "Why is this broken?"
Reported by @kanitw

Why is this example just `{}`?

https://vega.github.io/editor/#/url/vega-lite/N4KABGBEAkDODGALApgWwIaQFxUQFzwAdYsB6UgN2QHN0A6agSz0QFcAjOxge1IRQyUa6ALQAbZskoAmOgCtY3AHaQANOCgATdHkw5gkVgCcx2LTvSlWStITHcAnqmRK8I9PCPdYsEYyWarLB4RozIsPKKKgC+6hCQIehKsABm3EaoZgDaBimMYnjIRmaQ2nisqHSwRWGwALwNAOQAkkppGTo8So2Q0QC6cVAu8Nya-tRmoBDxAB6TkHnIYpolZchqUHgOhOs4Cbbp6KaxGvEO84vLJSPWeBsJ27tQAI6sSXj

[2018-11-29 01:10] domoritz commented on #183
There is no error.

[2018-11-30 17:19] iliatimofeev opened #184 "Can't load editor after deadlock in vega"
I’ve got a suggestion to the vega editor:
I bumped into vega deadlock bug https://github.com/vega/vega/issues/1464 while the editor was on auto render mode. As result, I couldn’t load vega editor anymore. Magick links with empty document didn’t help.

I have worked it by cleaning local storage of paused the site.

So I suggest to somehow check on editor load that the last render of stored data was

[2018-12-04 19:37] kanitw opened #186 "Missing instruction for versioning convention"
When to increase minor or patch bump?

[2018-12-04 21:09] #186 closed

[2018-12-05 02:58] #33 closed

[2018-12-05 19:35] ydlamba commented on #158
Sounds good.

[2018-12-05 19:37] ydlamba commented on #158
Yeah sure. :)

[2018-12-05 19:39] domoritz commented on #158
Note that I already set up a bit of server infrastructure: https://github.com/vega/editor/tree/server. It probably makes sense to build on that.

[2018-12-05 21:15] #145 closed

[2018-12-06 16:59] domoritz commented on #158
Looks relevant: https://github.com/alixaxel/chrome-aws-lambda

[2018-12-07 00:28] domoritz opened #188 "Dropdown style broken in small windows"
<img width="239" alt="screen shot 2018-12-06 at 16 28 07" src="https://user-images.githubusercontent.com/589034/49620001-f7474b00-f973-11e8-8c14-c6456941d32b.png">

[2018-12-07 19:18] #188 closed

[2018-12-09 17:40] nesterone commented on #158
looking

[2018-12-17 04:59] domoritz opened #190 "Add a link to directly create an issue with the editor URL"

[2018-12-17 05:00] domoritz opened #191 "URL does not automatically set mode"
See

<img width="491" alt="screen shot 2018-12-16 at 20 58 40" src="https://user-images.githubusercontent.com/589034/50067344-85da7a00-0175-11e9-9aaa-b9f9df84f683.png">

The mode should be vega-lite.

[2018-12-18 18:59] domoritz commented on #191
Duplicate of #183

[2018-12-18 18:59] #191 closed

[2018-12-18 19:02] domoritz commented on #173
This feature is available in Vega: https://vega.github.io/vega/docs/api/view/#view_addDataListener

[2018-12-21 17:30] kanitw opened #193 "Connect the link generator (for sharing) to a URL shortening service"
The URL that we generate are super long.  Having a shortened URL can improve UX when users paste them on Github issue / stackoverflow.

[2018-12-21 22:41] domoritz commented on #193
Yep. We just need to make sure that we use a service that supports long URLs. Also, at this point we might better support storing in gists.

[2018-12-28 03:29] domoritz opened #194 "Copy everything in docker"
https://github.com/vega/editor/blob/3ce79722329af7a962940878f84252b71d4e3590/Dockerfile#L11

@andrewshawcare why do we copy everything here when we copied data above?

[2018-12-28 16:11] andrewshawcare commented on #194
That line is part of a convention that supports how caching works in Docker. Every line in a `Dockerfile` creates an intermediate image and each intermediate image is cached. This allows Docker to save time by using cached intermediate images for commands that would not change the resultant image. For example:

[code]

For this command, Docker would use the cache, if available, unless the `package

[2018-12-28 19:04] #194 closed, assigned to nobody

[2018-12-29 14:11] RandomFractals opened #197 "Show /examples popup when no example link provided"
Instead of displaying a blank page for the following links:

https://vega.github.io/editor/#/examples

https://vega.github.io/editor/#/examples/vega

https://vega.github.io/editor/#/examples/vega-lite

Display the Vega Examples gallery popup you get when clicking on Examples

[2018-12-29 17:40] domoritz commented on #197
Sound like a great idea.

[2019-01-04 12:43] RandomFractals opened #198 "new Vega-Lite Invaild spec"
When selecting Vega-Lite in editor to create new vega-lite spec I get:

[code]
in the code panel, and 'Invalid Spec' error display in the Vega chart preview panel

Expected:

- latest v3.json vega-lite scheme reference in json
- and blank vega-lite chart preview display without errors.

[2019-01-05 14:51] domoritz commented on #198
Can you send a PR to fix 1 here and create an issue in Vega-Lite for 2?

[2019-01-15 12:21] domoritz opened #199 "Fix registration of listeners"
See https://github.com/vega/vega/issues/1485

[2019-01-19 05:51] domoritz opened #200 "Select box only has ..."
<img width="354" alt="screen shot 2019-01-18 at 21 50 50" src="https://user-images.githubusercontent.com/589034/51422858-2f44cf00-1b6b-11e9-94c4-bfd322eae407.png">

[2019-01-19 20:42] jheer opened #201 "SVG export is hard to download. Switch to "Download SVG"?"
The export option for SVG does not provide usable download support. Instead it says "Open SVG" and opens the exported SVG in a browser tab. However, this tab has "about:blank" as the URL, which does not allow "Save Page" to work in either Chrome or Safari.

I think a better export functionality is to support "Download SVG" just like we support "Download PNG". I believe this is both more useful and

[2019-01-19 20:44] domoritz commented on #201
I agree that we should allow SVG downloads. However, I often view the SVG to print it as PDF (e.g. https://vega.github.io/vega-lite/tutorials/figures.html). Ideally, we would support both.

[2019-01-19 21:46] jheer commented on #201
That works for me! I just think the Download is more important. The issue came about because I watched a user try to export an SVG for local modification in Illustrator and get frustrated with our tool.

[2019-01-21 04:04] domoritz commented on #158
We could use something similar to https://github.com/vega/vega/blob/master/packages/vega-cli/bin/vg2pdf

[2019-01-21 08:45] domoritz commented on #158
I added experimental support through https://cloudconvert.com.

[2019-01-21 08:46] #201 closed

[2019-01-21 08:46] domoritz commented on #201
Fixed. I also added experimental PDF support.

[2019-01-21 09:06] #179 closed

[2019-01-21 09:48] #198 closed

[2019-01-21 11:34] RandomFractals commented on #193
I think doing both could be prudent. Not every dev is going to post a gist.

[2019-01-24 07:30] domoritz opened #204 "Switch from CSS to SCSS"
SCSS supports nested CSS, which is incredibly useful.

[2019-01-24 12:30] RandomFractals commented on #193
why not use tinyurl? It is free and been around for some time. I've seen some vega devs using it on this slack already. Should be easy to add to Vega Editor for sharing in slack and on stackoverflow.

bit.ly is another good option. quick comparison of both: https://www.slant.co/versus/2591/22693/~bitly_vs_tinyurl

[2019-01-24 16:24] RandomFractals commented on #193
better yet, I would suggest vega rolls out a site with posted examples preview just like blocks and other online dataViz sites do. That would eliminate all breaking points and provide a better way to share vega examples for learning and troubleshooting.

[2019-01-24 17:50] domoritz commented on #193
That's the goal but it's a bit of work. See https://github.com/vega/editor/issues/49

[2019-01-24 17:52] domoritz commented on #193
We could use the tinyURL API: `https://tinyurl.com/api-create.php?url=https://vega.github.io/`

[2019-01-24 19:45] RandomFractals commented on #193
true, launching a full-on examples and experiments site is not a simple chore.

I do like tinyurl a lot b/c they let you dish custom urls beyond just shortening.

why don't we just go with that for now, and gists!

I can plug that in VV next week and hopefully VE can keep up and help us connect those dots too

[2019-01-24 19:52] domoritz commented on #193
I'm okay with using tinyURL as an option but I am concerned that if we automatically share the spec with tinyURL, we are exposing user data. It should be an option in the sharing dialog.

[2019-01-24 19:57] RandomFractals commented on #193
I don't think public examples sharing can solve private data exposure.

For those gists could probably work best.

I'm just trying to find a better solution for the 80% sharing base64 vega links :)

[2019-02-14 22:14] iliatimofeev opened #205 "save or export as .vl.json and .vg.json (feature request)"
Add an option in export to save as vega-lite and vega specifications.

[2019-02-14 22:20] iliatimofeev opened #206 "export of png file saves not the same as shown in preview"
Export of png file saves not the same as shown in the preview.

When I open downloaded png it contains an image with the previous version of a specification.

[2019-02-14 22:40] domoritz commented on #206
Hmm, I haven't had any issues and can't reproduce this problem.

[2019-02-14 22:41] domoritz commented on #205
PRs very welcome.

[2019-02-16 16:21] jshreyans551 commented on #204
Hi @domoritz! Can I work on this issue?

[2019-02-16 16:27] domoritz commented on #204
You're very welcome to do that. However, we have https://github.com/vega/editor/pull/169 open right now so to avoid conflicts, we should try to merge that first. @ydlamba what's the status of the PR?

[2019-02-21 07:20] ganeshpatro321 commented on #197
Hello @domoritz , Can I take up this issue, please assign me this if this issue is not been worked on. Thanks.

[2019-02-21 07:33] ganeshpatro321 opened #207 "Add CONTRIBUTING.md file."
Proper documentation of how to make a development setup and start contributing would be very good for newcomers to this project.

[2019-02-21 10:48] ganeshpatro321 opened #208 "Issue while setting up the codebase for development in a linux platform"
![screenshot from 2019-02-21 13-13-58](https://user-images.githubusercontent.com/30416891/53163987-4ad14880-35f5-11e9-9cc6-107682e17d30.png)

[2019-02-21 10:58] ganeshpatro321 commented on #208
This issue is getting solved after running the following command:

sed -i -e 's/\r$//' vendor.sh

in the appropriate directory.

[2019-02-21 16:18] domoritz commented on #208
Can you send a PR? We're actually using Travis, which is Linux to run our tests.

[2019-02-21 16:18] domoritz commented on #207
Good idea. Can you make a list of things you want included? The readme has a few small details already.

[2019-02-21 16:19] domoritz commented on #197
That would be great! Thanks.

[2019-02-21 16:20] domoritz commented on #197
I can't assign it to you since you're not part of the project yet but I can add you after your first pr.

[2019-02-21 16:41] ganeshpatro321 commented on #207
Yes, the contributing.md file can contain information about:
- How to setup a proper environment.
- Details about version restrictions of different packages and stuffs.
- Proper way to create a PR or contribute to the project

[2019-02-21 17:07] domoritz commented on #207
See readme.

This is already in the yarn.lock file

I'll link to https://github.com/vega/vega-lite/blob/master/CONTRIBUTING.md

[2019-02-21 17:09] #207 closed

[2019-02-21 17:10] ganeshpatro321 commented on #207
Ok cool.

[2019-02-21 17:12] domoritz commented on #207
Thanks for helping me clarify!

[2019-02-21 17:21] ganeshpatro321 commented on #208
Hey @domoritz , we need to find a way where during installation, it should go into the scripts directory and run the above command.

[2019-02-21 17:32] domoritz commented on #208
What does it do? Why do things work on travis>

[2019-02-21 18:42] RandomFractals commented on #197
@ganeshpatro321 thx for volunteering your time cycles looking into this.

I think it will be very cool if we can link direct to vega and lite examples in editor with that fix.

[2019-02-22 06:11] ganeshpatro321 commented on #208
My system configurations are satisfying the requirements and constraints as required by the project. I am not able to figure out why this problem is occuring.

[2019-02-22 06:14] domoritz commented on #208
Can you use docker?

[2019-02-22 06:20] ganeshpatro321 commented on #208
@domoritz , yes I can use docker but we need to solve this issue and find the reason for better accessibility of the project

[2019-02-22 06:53] domoritz commented on #208
It works for me locally and on travis so I'm not sure what the issue is. What does `sed -i -e 's/\r$//' vendor.sh` do?

[2019-02-22 07:59] ganeshpatro321 commented on #197
Okay @RandomFractals  I will look into it

[2019-02-22 08:01] ganeshpatro321 commented on #208
The problem is with dos line ending for different OS
I have used the Sed command to search and replace the dos line ending characters to UNIX format for that file.

[2019-02-22 08:07] domoritz commented on #208
How do line endings cause the error you posted? The file is still in the same place so why can it not be found?

[2019-02-22 08:11] ganeshpatro321 commented on #208
@domoritz
I searched throughout google and found this. Please refer to this link: https://stackoverflow.com/questions/14219092/bash-my-script-bin-bashm-bad-interpreter-no-such-file-or-directory

[2019-02-22 08:19] domoritz commented on #208
When I run `dos2unix` I have no changes in git. Can you send a PR with the fixed file?

[2019-02-22 10:04] ganeshpatro321 commented on #208
@domoritz I am also not finding any change in the file, though git is saying there are modified files.

[2019-02-22 10:36] ganeshpatro321 commented on #197
Hwy @RandomFractals can you help me out with, where are the routings done in the app

[2019-02-22 16:21] domoritz commented on #208
Does it work, though? Can you still send a PR?

[2019-02-22 16:23] domoritz commented on #197
https://github.com/vega/editor/blob/master/src/components/app-shell.tsx

[2019-02-22 16:30] ganeshpatro321 commented on #197
Yeah, I found it , I was thinking of creating these routes for the above routes and calling app component by sending a optional props which will open the portal.
Will it be good?

[2019-02-22 16:35] RandomFractals commented on #197
that could work. give it a go!

[2019-02-25 06:45] domoritz opened #209 "Master broken in production"
[code]

[2019-02-25 06:45] domoritz commented on #209
Probably https://github.com/webpack/webpack/issues/959

[2019-02-25 06:59] #209 closed

[2019-03-01 18:00] siddhant1 opened #211 "Enhancement :- Add husky and lint-staged to prevent merging poorly formatted code"
If possible I can send in a PR

[2019-03-01 18:07] domoritz commented on #211
What is husky? We use prettier and tslint and I would be happy to merge a PR that automates them.

[2019-03-01 18:55] siddhant1 opened #212 "Add .vscode to .gitignore"

[2019-03-01 19:01] domoritz commented on #212
I actually like to have the setting in git so all devs share them. We do the same for Vega-Lite.

[2019-03-01 19:01] #212 closed

[2019-03-01 19:07] siddhant1 opened #213 "Install script fails in windows"
![image](https://user-images.githubusercontent.com/30566406/53660227-5e2e8480-3c83-11e9-8cd2-4de3da57eb60.png)

Fixing and sending a Pull Request

[2019-03-01 19:12] siddhant1 opened #214 "Yarn link vega results in error"
As mentioned in Readme.md we have to run yarn link vega , which fails for me .
Am I doing something wrong?
![image](https://user-images.githubusercontent.com/30566406/53660516-11977900-3c84-11e9-91dc-3201e961f2e8.png)

[2019-03-02 00:33] domoritz commented on #214
You also need to link Vega itself first. Also, this is only needed when you are developing Vega.

[2019-03-02 00:33] #214 closed

[2019-03-02 11:34] siddhant1 opened #216 "Bug : Open Svg does not work (in export section)"
Open SVG button does now work.
It opens a new tab and immediately closes it.
The expected behavious is to open a new tag showing generated svg.

I can investigate and send a Pull Request

[2019-03-02 11:35] siddhant1 opened #217 "Enhancement : Add contributing guidelines"
Since this project is coming is gsoc-2019, I think we should add contributing and raising issues guidelines.

[2019-03-02 12:44] siddhant1 commented on #213
also generate-example-images fails in windows.
These scripts are os specific and should be changed

@domoritz

[2019-03-02 12:46] siddhant1 opened #218 "Enhancement : Implement Route based code splitting"
I think we should implement route based code splitting ,this will be easy to implement but will serve great improvements for the performance of the app.

Links :- https://medium.com/@addyosmani/the-cost-of-javascript-in-2018-7d8950fbb5d4
https://reactjs.org/docs/code-splitting.html
https://github.com/jamiebuilds/react-loadable
https://medium.com/airbnb-engineering/server-rendering-code-splitting-a

[2019-03-02 12:52] siddhant1 commented on #183
Is this still causing an error , I can work on it now

[2019-03-02 12:57] siddhant1 opened #219 "Enhancement : Add a keyboard shortcut (cntrl/cmd+enter) to run in manual mode"
Most of the editors have this feature that by pressing cntrl/cmd + enter the editor executes the latest saved code.
We should also add a keyboard shortcut in this editor.

[2019-03-02 15:29] domoritz commented on #219
We already have cmd+b, I think. It would be great to make it more discoverable, though.

[2019-03-02 15:30] domoritz commented on #218
I don't think it's really necessary for us since we essentially have a single page app. I think there are more important issues like having a single editor instance.

[2019-03-02 15:31] domoritz commented on #218
I'd be glad to make this change if you can show significant benefit.

[2019-03-02 15:32] domoritz commented on #213
I don't have the resources to support windows as well and suggest that you use the Linux subsystem or docker. However, I'm happy to review pull requests that help with Windows support.

[2019-03-02 15:36] siddhant1 commented on #219
We can add a tab that opens a modal to show all the keyboard shortcuts.

[2019-03-02 15:36] domoritz commented on #183
It looks like it is still an error. Thank you!

[2019-03-02 15:41] siddhant1 commented on #213
Oh ! No Problem

[2019-03-02 15:41] #213 closed

[2019-03-02 15:42] siddhant1 commented on #218
Looks like you are right , we definitly not need this one since we are running an SPA,
also can you tell me about the single editor instance ? I would love to work on it

[2019-03-02 16:27] domoritz commented on #218
https://github.com/vega/editor/issues/12

[2019-03-02 16:28] domoritz commented on #219
We should at the very least have a modal that shows up on cmd+?. A general help modal would be great.

[2019-03-02 16:35] domoritz commented on #216
Is that in all browsers? Definitely something to look into and fix!

[2019-03-02 16:36] domoritz commented on #217
Yeah, probably mostly linking to the Vega-Lite guidelines.

[2019-03-02 17:04] siddhant1 commented on #219
I think we should add a link along with export that will open the modal and show all the keyboard shortcuts available

[2019-03-02 17:05] siddhant1 commented on #216
Checked in chrome , I will check in other browsers too , I can also send in a fix after investigating

[2019-03-02 17:05] siddhant1 commented on #218
Should I close this one?

[2019-03-02 17:40] siddhant1 commented on #217
I was thinking of adding pull request templates alongside too.
Like

#### Nature of issue?

- Found a bug
- Existing feature enhancement
- New feature request

#### Details about the bug:

- Web browser and version:
- Operating System:
- Steps to reproduce this bug:

#### Feature enhancement details:

#### New feature details:

and pr templates

I have verified that this pull request:

* [ ] has n

[2019-03-02 17:40] #218 closed

[2019-03-02 17:56] domoritz commented on #218
It might help but so far bundle size has not been an issue our users raised.

[2019-03-02 18:12] domoritz commented on #217
Thanks for pushing forward. I think a contributing guide is great! I don't think we need PR templates but issue templates would be great. I would also love to have a link in the editor to directly report a bug similar to what https://prettier.io/playground/ has in the bottom right.

<img width="370" alt="screen shot 2019-03-02 at 10 11 38" src="https://user-images.githubusercontent.com/589034/5368

[2019-03-02 18:12] siddhant1 commented on #211
Fixed by #215

[2019-03-02 18:13] #211 closed

[2019-03-02 18:13] siddhant1 commented on #204
@domoritz is this already being worked on?

[2019-03-02 18:14] domoritz commented on #216
Thank you!

[2019-03-02 18:14] siddhant1 commented on #199
I can work on this one , can you guide me the what is causing the problem?

[2019-03-02 18:16] siddhant1 commented on #217
Yes , I think this is a great improvement I will surely work on this later today

[2019-03-02 18:19] domoritz commented on #204
Let me try to get https://github.com/vega/editor/pull/169 in first. I'll ping you.

[2019-03-02 18:20] domoritz commented on #173
@siddhant1 This would be a great issue for you to work on and familiarize yourself with the code. I assigned you.

[2019-03-02 18:20] siddhant1 commented on #204
sure

[2019-03-02 18:23] domoritz commented on #149
@siddhant1 This would also be great for you to look at!

[2019-03-02 18:23] siddhant1 commented on #173
Sure , I will send a pr and will ask you for assistance if I feel stuck anywhere !

[2019-03-02 18:25] siddhant1 commented on #149
Looks simple , will have a look

[2019-03-02 18:26] domoritz commented on #149
I also pinged you on slack.

[2019-03-02 18:28] domoritz commented on #199
Explaining this would take a while. Let me actually fix this.

[2019-03-02 18:38] #199 closed

[2019-03-02 19:10] domoritz commented on #204
I think we should first refactor the css significantly. I started using css variables but we should cleanly convert the styles to use spacing units and color variables.

[2019-03-02 19:11] domoritz commented on #204
Feel free to send PRs towards that goal.

[2019-03-02 19:12] domoritz commented on #219
That sounds good. One issue is that the top bar should also work when you resize the window. Make sure that is still true. Maybe all we need is a small `(?)` icon button.

[2019-03-02 23:17] ayushnawal opened #220 "Accidentally closing editor while editing"
While playing or editing with the json data , if the editor gets accidentally closed by the user , a warning must be generated before closing the window to save the unsaved changes , as user's last edit will not be preserved automatically .

I have solved issue and now our editor will ask you to save changes you have edited before closing the window .
The "Leave Site ? " dialog box will only appea

[2019-03-02 23:24] domoritz commented on #220
We actually do save the last state. I think we want this dialog only if there are unsaved changes for example when you have manual parsing on.

[2019-03-02 23:27] ayushnawal commented on #220
@domoritz i was actually trying to convey that only if the user have any unsaved changes , than a pop-up should appear before the editor's window gets closed accidentally . I think every editor generate a warning before leaving the site with any unsaved changes .

[2019-03-02 23:46] ayushnawal commented on #182
@domoritz if you don't mind , can i give it a try to fix the problem of user clicking clear button "by mistake".

[2019-03-02 23:48] ayushnawal commented on #197
I think i can resolve this issue by updating routes .
@domoritz @RandomFractals if you don't mind sir , can i give it a try ?
Thanks !

[2019-03-02 23:56] domoritz commented on #197
Sure, if @ganeshpatro321 hasn't started on it yet.

[2019-03-02 23:57] domoritz commented on #182
Go ahead. Make sure to read #12!

[2019-03-02 23:57] domoritz commented on #220
Go ahead and send a PR to fix this issue. I agree that we should behave like any other editor.

[2019-03-03 05:18] siddhant1 commented on #219
Sounds good

[2019-03-03 10:42] siddhant1 commented on #219
![image](https://user-images.githubusercontent.com/30566406/53694056-25032b00-3dcf-11e9-9d2c-157e02082c7b.png)
We can do something like this

[2019-03-03 10:50] ganeshpatro321 commented on #197
@domoritz Sorry for being late, I will submit a PR today. I had problems with my laptop.

[2019-03-03 11:55] ganeshpatro321 commented on #208
This issue is no longer relevant, couldn't find the appropriate reason, but the problem no longer arises after re-installing Ubuntu.
I am closing this issue.
Sorry for the trouble. @domoritz

[2019-03-03 11:55] #208 closed

[2019-03-03 12:03] ganeshpatro321 commented on #184
Hey @domoritz , can you explain how to reproduce this, so that i can get an insight of what is happening. I can work in it.
Thank You.

[2019-03-03 14:35] ayushnawal commented on #182
@domoritz i think we can tackle this issue of clicking clear by mistake in fol;lowing 2 ways :

1) By generating a warning for user like " Are you sure you want to clear ?" and let user handle this query maunually.

2) We can clear the code , user edited but if we find a solution for preserving the history of edits by the user , we can add functionality to clear button like chrome does with the ba

[2019-03-03 14:49] ayushnawal opened #225 "Invalid URLs"
On Navigating any invalid url with editor , no 404 component is rendering .

Till now when we type any invalid url for example : https://vega.github.io/editor/#/abc

it's displaying a blank page (not rendering anything) which should not be the case as it is quite confusing !

@domoritz  if you don't mind i am resolving this issue and will send a PR asap .

Thanks!

[2019-03-03 15:24] domoritz commented on #208
I'm sorry for your trouble.

[2019-03-03 15:27] domoritz commented on #182
First, let's tackle #12, which will resolve the biggest problem here. Then we can think about more support for history.

[2019-03-03 15:28] domoritz commented on #184
Just put in an invalid spec and see how the editor renders it again when you load the page again.

[2019-03-03 15:32] domoritz commented on #219
Yeah, I like it.

[2019-03-03 15:34] siddhant1 commented on #219
Can you give me a list of all the shortcuts available?

[2019-03-03 15:45] domoritz commented on #219
You can look in the code. Note that Monaco also has shortcuts. It might already have a way to show them so make sure to not interfere with that.

It'd be great to have a general help modal with usage instructions and links to Vega and Vega-Lite.

[2019-03-03 16:28] ayushnawal opened #228 "Report an issue"
We should add a small Report Bug button in editor itself , it will help user to directly communicate his problems with community and like every other open source project does, it will help in inviting contributors for enhancement of the project !

@domoritz i have resolved this issue . Please Review .

Thanks !

[2019-03-03 17:14] domoritz commented on #82
Implemented

[2019-03-03 17:14] #82 closed

[2019-03-03 17:14] domoritz commented on #158
Vega 5 now has PDF generation in node built in. We should use that.

[2019-03-03 18:51] ArexJambusarwala opened #231 "Padding in "chart" results in irrelevant whitespace"
![issue13](https://user-images.githubusercontent.com/35253743/53699737-9c59ae80-3e11-11e9-84c2-28aaeecad876.png)
The padding of 10px given to "chart" leaves a white space.
We can either remove the padding itself or only apply it when the canvas is actually displayed.

[2019-03-03 19:40] siddhant1 commented on #216
Fixed ! Closing

[2019-03-03 19:40] #216 closed

[2019-03-03 19:45] domoritz commented on #216
🎉🎉🎉

[2019-03-03 19:46] domoritz commented on #231
It's nice to see that something is missing. It would be interesting to have a way to configure the background color, though. Most charts have a transparent background so it would be cool if users could try their charts on different backgrounds.

Not the most pressing issue, though.

[2019-03-04 04:51] ArexJambusarwala opened #232 "Gist url validation"
Entering an invalid gist URL and pressing load doesn't do anything. It would be better to show an error message so that the user knows something has actually happened.
![issue14](https://user-images.githubusercontent.com/35253743/53711219-1bc59d00-3e67-11e9-8e51-6ad28b05132f.png)
A simple check on fetch can do the job.
Should I proceed with it?

[2019-03-04 05:07] ganeshpatro321 commented on #190
This is solved in #229 right?  @domoritz

[2019-03-04 05:21] #197 closed

[2019-03-04 06:43] domoritz commented on #190
The UX is not quite right yet but the pr is trying to address this issue, yes.

[2019-03-04 06:46] domoritz commented on #232
How do you plan to show the error?

[2019-03-04 09:24] ArexJambusarwala commented on #232
There is already an error message but it is never displayed because the state is never changed. If the "invalidUrl" is changed this is displayed:
![issue15](https://user-images.githubusercontent.com/35253743/53723272-66f2a680-3e8d-11e9-91d7-5ff6d0e7c121.png)

[2019-03-04 14:08] ganeshpatro321 commented on #184
@domoritz Ya, its clearing the editor, shouldn't that be the case? Because there is not input?

[2019-03-04 15:14] domoritz commented on #184
What if the spec is valid but too large. We could have a timeout, or a separate url that clears the state before opening the editor. Do you want to add the latter?

[2019-03-04 15:54] #149 closed

[2019-03-04 16:33] #217 closed

[2019-03-04 17:52] #232 closed

[2019-03-05 06:13] ArexJambusarwala opened #234 "Show error message if filenames/revision do not match"
If the filenames donot match show an error like:
![issue16](https://user-images.githubusercontent.com/35253743/53784434-44b76200-3f3b-11e9-8c50-2fa602491ff0.png)

If both Url and filename are incorrect show both errors as in:
![corrected9](https://user-images.githubusercontent.com/35253743/53784581-c14a4080-3f3b-11e9-9b69-10547d3e2542.png)

[2019-03-05 06:26] domoritz opened #235 "Update initialization for Vega 5"
See https://github.com/vega/vega/issues/1485#issuecomment-469549576

[2019-03-05 08:36] ArexJambusarwala commented on #234
Also checking revision field.

[2019-03-05 13:24] siddhant1 opened #237 "Enhancement : Add Help and Feedback Section"
Since the use of editor is growing fastly we have to find a way to give newcomers help and cater their issues when they find one.

Tasks
- [ ] Add a section named "Help and Feedback" which will be a dropdown
- [ ] Add references along with links to the dropdown list
- [ ] Add reporting bugs to the list
- [ ] Feedback section which holds link to the slack channel
- [ ] Keyboard SHortcuts

I will be

[2019-03-05 13:26] siddhant1 commented on #237
For now we have to close #219 , #228 and #229 since everything is covered in this one

[2019-03-05 16:03] domoritz commented on #237
"help and feedback" is a bit long for a title

[2019-03-05 16:05] siddhant1 commented on #237
What should be the title then?

[2019-03-05 16:28] domoritz commented on #237
Try it out and see how much space we have. I said earlier we could just have an icon.

[2019-03-05 16:35] siddhant1 commented on #237
Ok ! I will try it out

On Tue 5 Mar, 2019, 10:01 PM Dominik Moritz, <notifications@github.com>
wrote:

[2019-03-05 22:25] allenjlee opened #239 "Local Development Not Working After Vega 5 Updates"
Local development of vega-lite with the editor is broken right now. There is a dependency issue where vega-typings is not up to date, causing compilation failure when trying to use most up-to-date version of vega-lite.

To reproduce this bug:
1. `cd ~/Desktop && git clone https://github.com/vega/editor.git`
2. `cd ~/Desktop && git clone https://github.com/vega/vega-lite.git`

Remove the `node_modu

[2019-03-06 09:14] ganeshpatro321 commented on #237
Hey @siddhant1 Have you started working in this issue?

I had some inputs.

[2019-03-06 09:19] siddhant1 commented on #237
Yes ,  I am working on it :)

On Wed 6 Mar, 2019, 2:44 PM Ganesh Patro, <notifications@github.com> wrote:

[2019-03-06 14:13] siddhant1 commented on #237
Hey @ganeshpatro ! Sure you can present give your inputs here , would love to hear them

[2019-03-07 22:27] kanitw opened #240 "Incorrect error line number for the editor"
For example, it's line 9, not 382 for the following app.

![image](https://user-images.githubusercontent.com/111269/53993713-05c51000-40e5-11e9-8cb8-5c91bd2708a0.png)

[2019-03-08 02:42] domoritz commented on #240
It's character 382. There is no way to access the line number unfortunately.

[2019-03-08 19:27] algomaster99 commented on #240
@domoritz I have added a feature which will also the number of line where the error exists. :)

[2019-03-09 02:11] domoritz commented on #240
Thank you @algomaster99! This is awesome!

[2019-03-09 05:09] ganeshpatro321 commented on #173
Are we talking about getting rid of the refresh button here in the data viewer? after any changes in the chart? @domoritz

[2019-03-09 08:46] g3o2 commented on #237
A `?` should do for that purpose.

[2019-03-09 12:48] ganeshpatro321 commented on #176
This seems to be happening in this particular URL,
When I am creating share URLs of examples in my local machine, then it's updating the mode correctly.
@domoritz

[2019-03-09 12:55] algomaster99 commented on #183
@domoritz When I click the link, it's working as expected.
![Screenshot from 2019-03-10 13-07-59](https://user-images.githubusercontent.com/35191225/54071855-7c563f00-4298-11e9-8d72-1761c2207b1e.png)
I maybe misunderstanding the bug because I can't seem to understand the issue as of now. Please help me with this.

[2019-03-09 13:03] siddhant1 commented on #183
For me  , it is still giving an error , I will look into this today , thanks for reporting :)

[2019-03-09 13:22] algomaster99 commented on #110
@domoritz Can you please explain what this issue is about? :) I could work on this probably.

[2019-03-09 13:46] domoritz commented on #173
Yes.

[2019-03-09 14:10] siddhant1 commented on #183
@domoritz Can you look into this , sometimes it gives an error and sometimes it loads perfectly

[2019-03-09 14:16] siddhant1 opened #244 "Bug : Compiled vega drawer hides on resizing"
To reproduce :-

Resize the compiled vega panel to the bottom.
It will disappear

The issue is similar to #238 .
Will send a pr soon!

[2019-03-09 14:34] ganeshpatro321 opened #245 "Have an informative view to know the debugPanel."
It's quite difficult for new users to know about the debug panel.

We should have some informative way to let the user know that they should drag the panel up to view logs/dataViewer.

What we can do is, on hovering upon the arrow symbol we can have an information box, telling them to drag the panel to view.

[2019-03-09 14:41] domoritz commented on #245
Part of #147 and a known issue with having to drag instead of clicking.

[2019-03-09 14:41] #245 closed

[2019-03-09 14:42] domoritz commented on #244
Yes, this would be great. Thanks!

[2019-03-09 14:42] domoritz commented on #176
It does not work for me. Can you give steps to reproduce?

[2019-03-09 14:47] domoritz commented on #183
Right now, this does not seem to load anything. I'm not sure whether or why there is a problem.

[2019-03-09 14:49] siddhant1 opened #246 "Bug : Can't go back from edit vega"
Once you click on edit Vega Spec  , the editor shows the vega spec , Now you cannot go back to vega-lite spec again.
If you change to vega-lite in upper drawer , it shows a single line,
Now again switch to vega , It will again show a single line.
Investigating!

[2019-03-09 14:50] domoritz commented on #110
When you format the code for example with a keyboard shortcut, there is no visual indicator. Same for running a spec btw.

[2019-03-09 14:56] ganeshpatro321 commented on #176
What was happening is, when you select the above URL the mode was not set to vega-lite, it was dependent on the mode of the previous spec.
But, what happens now is, when you click a URL, it will read the mode, and update the redux state.

You can run the above URL locally, and it will update the mode correctly.
@domoritz

[2019-03-09 14:57] domoritz commented on #246
Duplicate of #12.

[2019-03-09 14:57] #246 closed

[2019-03-09 14:58] domoritz commented on #176
I see. #243 fixes this issue then, right?

[2019-03-09 15:06] ganeshpatro321 commented on #176
Yes, it does! @domoritz

[2019-03-09 15:11] domoritz commented on #176
Merged.

[2019-03-09 15:11] #176 closed

[2019-03-09 15:23] mattijn opened #247 "Remember location/section when clicking the examples of previous time"
I see lots of work on the editor. That's great. So let me add one from a users perspective.

When I click on the example button I hope it can remember the place where I previously clicked one of the examples. Everytime I need to scroll a long way down and search for the section of examples where I was looking right before.

[2019-03-09 15:25] domoritz commented on #247
Just as an idea for now. Can you have one window with the examples open and then use CMD+click to open the examples in a new window?

Still, this is a good idea.

[2019-03-09 15:26] ganeshpatro321 commented on #247
I can work in this issue, assign it to me @domoritz if it is not been picked up by anyone else.

[2019-03-09 15:34] domoritz commented on #247
@ganeshpatro321 I sent you an invite (welcome to the team!). You can assign it to yourself now.

[2019-03-09 15:36] ganeshpatro321 commented on #247
Thank you @domoritz

[2019-03-10 01:35] #165 closed

[2019-03-10 05:51] algomaster99 commented on #204
@domoritz I am interested in working towards this issue. Shall I first in change it for one component then put a work-in-progress PR?

[2019-03-10 06:02] siddhant1 commented on #205
Closing since fixed

[2019-03-10 06:02] #205 closed

[2019-03-10 08:00] ganeshpatro321 commented on #183
@domoritz @siddhant1
I think I have figured out what's happening,
Whats happening now is, it not rendering the data of the present URL, rather it is rendering the data stored by the browser state previously.

I think the it is not getting the data from this particular URL.

We have also come across another major Bug.

[2019-03-10 08:04] ganeshpatro321 opened #250 "Wrong Data rendered!"
If there is any invalid/broken URL, or any invalid spec, the browser is rendering the previously stored data, regardless of the mode.

[2019-03-10 09:19] algomaster99 commented on #193
@domoritz Can you please elaborate your concern? I am misunderstanding something here probably. I can work on this issue if you give a thumbs up.

[2019-03-10 09:26] algomaster99 commented on #250
@ganeshpatro321 Can I take this issue?

[2019-03-10 13:23] domoritz commented on #183
Thanks for debugging. It would be great to figure out what's going wrong and fix it.

[2019-03-10 13:24] domoritz commented on #250
Duplicate of https://github.com/vega/editor/issues/183?

[2019-03-10 13:25] domoritz commented on #204
Just send small PRs to refactor the CSS one by one. Let's wait with the conversation until the CSS is cleaner.

[2019-03-10 13:32] ganeshpatro321 commented on #250
@domoritz
No, its not.

In #183, its rendering nothing, but now its rendering the previously loaded spec/data.

[2019-03-10 14:40] siddhant1 commented on #250
I feel its duplicate of #183.

[2019-03-10 14:41] siddhant1 commented on #183
I will have a look at this one today

[2019-03-10 14:43] siddhant1 commented on #134
Its certainly the same as #244 , I will be taking a look on this

[2019-03-10 14:43] siddhant1 commented on #139
@domoritz is this one solved?

[2019-03-10 14:47] ganeshpatro321 commented on #250
Yes, we can somewhat say that, the root problem is "whats rendered" @siddhant1

[2019-03-10 14:58] siddhant1 opened #252 "Bug : Invalid urls rendering previous data"
#250 and #183 have already reported it but let me explain it clearly.|
The issue is not with particular urls , its with invalid urls.
Vega doesn't check if a particular url is valid or invalid , i just tries to fetch the url and fails.
Then it gets the last item fetched (have to check the code) and renders that .

Try this
Open https://vega.github.io/editor/#/url/vega-lite/123 , we know it is a co

[2019-03-10 14:59] siddhant1 commented on #250
@ganeshpatro321 I have opened #252 explaining what is happening . Please check if they are similar and close this one .
I will fix this one later today or tomorrow

[2019-03-10 16:20] siddhant1 commented on #173
@domoritz I have added event listeners and not when I am dispatching with the new Data using SET_VIEW , it is expecting type view , is there any method on view through which I can update the data of the view and set it as a new View? or is there any other approach?

[2019-03-10 16:31] ganeshpatro321 commented on #252
Yes, they are, and I am also looking into this issue, I was into it trying to figure out what's happening. @siddhant1
And, I think #123 is fixed, I see no CORS error in my system.

Thank You.

[2019-03-10 18:42] domoritz commented on #173
I don't get the question.

[2019-03-10 18:49] domoritz commented on #139
Idk. Try clearing your app storage and see what happens.

[2019-03-10 18:52] domoritz commented on #134
Great. We can close two issues when this is fixed.

[2019-03-10 18:54] #219 closed

[2019-03-10 18:56] domoritz commented on #193
Let's defer this for a bit. This needs some thought before we can go ahead.

[2019-03-10 23:20] bryik commented on #183
@domoritz do you expect that URL to work?

The encoded portion of it does [not decompress properly](https://repl.it/@bryik/Vega-viewer-URL-bug-issue-183).

[code]

[2019-03-10 23:21] domoritz commented on #183
I guess that's a problem. @kanitw what was the URL for? Are you sure you copied the whole URL?

[2019-03-10 23:21] domoritz commented on #183
@bryik We should throw an error when we can't decode the data. Can you send a PR?

[2019-03-10 23:29] #234 closed

[2019-03-10 23:29] #134 closed

[2019-03-10 23:40] bryik commented on #183
I can try :-)

Do you just want the error logged to the console? Or an alert?

I'm not super familiar with the codebase, but I'm guessing the code to change would be here:

https://github.com/vega/editor/blob/e511878ecda9df4edf8b54b28683482dab9f707a/src/components/input-panel/spec-editor/renderer.tsx#L108-L111

[2019-03-11 00:08] domoritz commented on #183
`throw new Error('text')`

[2019-03-11 00:43] bryik opened #255 "docker-compose fails (node-pre-gyp)"
I'm trying to get the editor running locally with Docker on Windows.

Everything is fine up until the "Linking dependencies" stage:

[code]

[2019-03-11 01:06] algomaster99 commented on #244
@domoritz This issue can also be closed

[2019-03-11 01:07] #244 closed

[2019-03-11 01:08] #183 closed

[2019-03-11 01:09] algomaster99 commented on #93
@domoritz What is the expected behaviour?

[2019-03-11 01:10] domoritz commented on #139
Yes

expected

<img width="1071" alt="Screen Shot 2019-03-10 at 21 09 41" src="https://user-images.githubusercontent.com/589034/54094653-df1f0780-4378-11e9-9680-23c771fabfe3.png">

actual

<img width="1068" alt="Screen Shot 2019-03-10 at 21 09 36" src="https://user-images.githubusercontent.com/589034/54094649-d8909000-4378-11e9-9618-7a573ea836bc.png">

[2019-03-11 01:10] domoritz commented on #139
Something is wrong in the initialization.

[2019-03-11 01:10] domoritz commented on #93
Format only according to prettier. Not switching between different formatters.

[2019-03-11 03:11] bryik commented on #255
So the major issue was that `node-pre-gyp` is required for a dependency (canvas) and was unavailable.

It tries to get a pre-build file, but fails because it doesn't exist:

[code]

There are currently no pre-built binaries that work with Alpine Linux [because it uses musl](https://github.com/node-gfx/node-canvas-prebuilt/issues/31).

Since this fails, `node-pre-gyp` tries to build canvas. However

[2019-03-11 03:12] bryik commented on #255
I can do a PR, if desired.

[2019-03-11 04:22] algomaster99 commented on #93
One things we can do here is let the user in someway know which is the formatted code. Right now it just gets toggled and one cannot figure out which one is being rendered. Can be a a good UX feature. What do you say @domoritz ?

[2019-03-11 05:00] algomaster99 commented on #93
@domoritz So format shouldn't toggle between code right? Once clicked and done.

[2019-03-11 05:36] ganeshpatro321 commented on #252
I think PR #254 solves the above-mentioned issues, we can close this.

[2019-03-11 05:38] ganeshpatro321 commented on #250
Solved in #254

[2019-03-11 05:38] #250 closed

[2019-03-11 06:53] ganeshpatro321 opened #256 "UX enhancements for gist portal."
Requirements:
 - Better input allignments.
 - Better error renderings.
 - Scenario1: Whenever the user clicks on the "Load" button, there is no way that the user can know that a fetch request from gist is been triggered now.
 - Scenario1 Soln: Figure out a way to let the user know that something is loading.

[2019-03-11 07:49] #252 closed

[2019-03-11 07:51] domoritz commented on #255
That would be great. Thanks!

[2019-03-11 09:28] siddhant1 commented on #235
I am taking this one , can you explain what I have to do

[2019-03-11 09:29] siddhant1 commented on #158
I will pick this one.

[2019-03-11 11:44] algomaster99 commented on #170
@domoritz This is not an issue with my development setup.
![bug](https://user-images.githubusercontent.com/35191225/54121668-15b05d00-4421-11e9-8a07-cbe86ae2f2f5.gif)

[2019-03-11 12:42] mattijn commented on #170
Now, it also works for me as expected in the https://vega.github.io/editor

[2019-03-11 13:09] ganeshpatro321 commented on #139
@domoritz Can you tell me the steps to reproduce?

[2019-03-11 14:51] siddhant1 commented on #66
@domoritz Since I was working on help and feedback modal in my latest patch , should I include a tips section which tells this or should we make a new separate modal which runs on startup and shows tips?
Just like eclipse does

[2019-03-11 14:55] siddhant1 commented on #108
Will be solved by #260

[2019-03-11 14:56] siddhant1 commented on #10
Is there something left on this one so that I can work on this?

[2019-03-11 15:16] domoritz commented on #10
This needs a lot of UI work and prototyping first. The idea is that we want people to upload their data. I think the easiest solution is to tell people to upload to gists.

[2019-03-11 15:17] #108 closed

[2019-03-11 15:22] domoritz commented on #139
You delete your localstorage and refresh the page.

[2019-03-11 15:31] domoritz commented on #66
Yes!

[2019-03-11 15:32] domoritz commented on #66
No startup modal.

[2019-03-11 15:32] siddhant1 commented on #66
Which one do you prefer?

[2019-03-11 15:32] #170 closed

[2019-03-11 15:33] domoritz commented on #170
We're working on automatically updating the Dataviewer.

[2019-03-11 15:33] siddhant1 commented on #66
Should I add it in #260 ?

[2019-03-11 15:34] domoritz commented on #66
Just add it to the Modal we just added.

[2019-03-11 15:39] siddhant1 commented on #66
Sure

On Mon, 11 Mar, 2019, 9:04 PM Dominik Moritz, <notifications@github.com>
wrote:

[2019-03-11 17:10] domoritz opened #263 "Opening panels does not work"
![editor](https://user-images.githubusercontent.com/589034/54142873-db759a00-43e5-11e9-9d9a-d75bce6edf1d.gif)

[2019-03-11 17:10] domoritz commented on #263
CC @algomaster99

[2019-03-11 17:11] domoritz commented on #235
I've done it. It was easier done than explained.

[2019-03-11 17:11] #235 closed

[2019-03-11 17:21] algomaster99 commented on #263
@domoritz I'll have to figure it out. It's not the case with me :/

[2019-03-11 17:24] domoritz commented on #263
Hmm, can you try after clearing your local storage?

<img width="610" alt="Screen Shot 2019-03-11 at 10 24 23" src="https://user-images.githubusercontent.com/589034/54143827-df0a2080-43e7-11e9-882a-d0db472b39db.png">

[2019-03-11 17:27] algomaster99 commented on #263
@domoritz Good idea. Thanks!

[2019-03-11 18:52] algomaster99 commented on #170
@domoritz Shall I try to do it?

[2019-03-11 19:32] domoritz commented on #170
See https://github.com/vega/editor/issues/173

[2019-03-11 21:35] algomaster99 opened #265 "Rename a visualisation before downloading"
Currently, whenever a visualisation is exported, it automatically gets downloaded as `visualisation.*`. Renaming it before downloading would be a good feature to add.

[2019-03-11 21:39] domoritz commented on #265
Better, use the name of the example by default.

You can then rename it in the save dialog. No need for anything else, is there?

[2019-03-11 22:06] algomaster99 commented on #265
@domoritz Yeah that is fine too. Was just a suggestion :)

[2019-03-11 22:20] #265 closed

[2019-03-11 23:14] domoritz commented on #156
Not yet done.

[2019-03-12 02:45] siddhant1 commented on #147
Will take this

[2019-03-12 07:17] nandinirai commented on #231
Hey @domoritz shall I give it a try?

[2019-03-12 08:00] nandinirai commented on #156
Can I work on this?

[2019-03-12 09:41] ganeshpatro321 commented on #247
Closed via #249

[2019-03-12 09:41] #247 closed

[2019-03-12 10:17] ganeshpatro321 commented on #204
Hey @domoritz I looked into CSS files of two components and checked for vulnerabilities, I dint find anything which is to be changed, can you tell exactly what kind of changing/refactoring are we talking about?

[2019-03-12 11:11] algomaster99 opened #267 "UI/UX fixes in help modal"
### Current UI
![Screenshot from 2019-03-12 16-31-39](https://user-images.githubusercontent.com/35191225/54195537-f549d680-44e4-11e9-9254-1b4e333b0486.png)

### Suggested fixes
- Unnecessary scrollbar
- Alignment of icon and text in feedback buttons
- Tips can be written with better alignment
- Spacing between characters and line-height can be more consistent

[2019-03-12 12:20] nandinirai commented on #267
@domoritz I'll fix it and send a PR asap

[2019-03-12 13:10] siddhant1 commented on #267
I was looking at it in the night and dom pushed it with new changes , I have fixes ready for nearly all of them , will push now

[2019-03-12 15:16] domoritz commented on #204
We should use CSS variables for the spacing and make buttons consistent for example. There is a lot to do to make the CSS cleaner.

[2019-03-12 15:20] domoritz commented on #231
Which part? I want to keep the padding.

[2019-03-12 15:20] domoritz commented on #156
Maybe try a smaller issue first.

[2019-03-12 15:36] algomaster99 commented on #231
@domoritz In that case, this issue can be closed.

[2019-03-12 16:07] #231 closed

[2019-03-12 17:30] algomaster99 commented on #12
@domoritz On switching from vega to vega-lite, we can just change the editorString right? This is how this issue can be solved right?

[2019-03-12 17:35] algomaster99 commented on #4
@domoritz What's the issue exactly?

[2019-03-12 17:49] #240 closed

[2019-03-12 17:50] domoritz commented on #4
I already split up the dependencies but minification sometimes makes debugging quite annoying. I don't know exactly what the best solution is. I think someone with experience in debugging Vega or Vega-Lite needs to look at this.

[2019-03-12 17:51] domoritz commented on #12
Yeah, maybe. The issue is that react will re-create the component instead of reusing the editor we already have. This is one of the most important issues we have right now. I would love to support undo across different modes for example.

[2019-03-12 18:04] algomaster99 commented on #12
Oh okay. You mean undo can be done even if we switch editors?

[2019-03-12 18:27] domoritz commented on #12
It can't right now because we create a new Monaco instance.

[2019-03-12 18:36] algomaster99 commented on #12
Yeah right. I'll try to fix this issue.
What I am thinking is that we just change editorStrings. This will prevent from creating a new instance and also undoing will be possible. I'll look into it and let you know the progress soon

[2019-03-12 18:49] domoritz commented on #12
Great. It's a bit tricky to do but shouldn't be impossible.

[2019-03-13 01:43] neeraj3029 opened #271 "Improper alignment of Vega Docs button"
Vega Docs button has an improper alignment, its height should be reduced to give a proper alignment

[2019-03-13 04:44] neeraj3029 opened #273 "Webpack launch in browser automatically when editor starts."
In my opinion, it will be time-efficient if we server the project in the browser as it starts.

[2019-03-13 05:41] #122 closed

[2019-03-13 05:42] domoritz commented on #273
I disabled it because it makes it annoying to restart the server.

[2019-03-13 05:42] #273 closed

[2019-03-13 07:18] siddhant1 commented on #271
Closing since fixed

[2019-03-13 07:18] #271 closed

[2019-03-13 07:18] siddhant1 commented on #267
Closing fixed

[2019-03-13 07:18] #267 closed

[2019-03-13 07:20] siddhant1 commented on #237
Closing fixed !

[2019-03-13 07:20] #237 closed

[2019-03-13 10:13] ganeshpatro321 commented on #256
Closed via #257

[2019-03-13 12:24] #256 closed

[2019-03-13 14:00] siddhant1 commented on #228
Since this is fixed ,we can close this issue

[2019-03-13 14:35] #228 closed

[2019-03-13 14:46] domoritz commented on #81
We could show this in the help modal.

[2019-03-13 14:48] domoritz commented on #158
@jheer how do you recommend we send the visualization from the editor to a server? Ideally, we also want the interactive state. Should we send the spec, data, and state or can we just send the scenegraph instead? We could also send an SVG.

[2019-03-13 15:34] algomaster99 commented on #69
@domoritz We currently lose the work only when we switch editors and that will probably solve after #12 is fixed.

[2019-03-13 15:41] domoritz commented on #69
Well, in manual mode, you could also lose work, right? We could add a warning for that case.

[2019-03-13 15:58] algomaster99 opened #278 "Improve method to display error line number"
To find the error line number displayed (in Google Chrome), we don't have a very promising way instead it's a hack.
Currently this [function](https://github.com/vega/editor/blob/master/src/reducers/index.ts#L65) finds out the line number.
A better approach would be to get the errors using the monaco api itself. This api [function](https://microsoft.github.io/monaco-editor/api/modules/monaco.editor

[2019-03-13 16:56] algomaster99 commented on #69
@domoritz I switched to manual mode and did some changes. I refreshed the page and my changes were still there. Am I misunderstanding something?

[2019-03-13 20:25] siddhant1 commented on #81
Yes , it'd be great , does Vega give access to the version or we have to hardcode it?

[2019-03-13 21:31] bryik commented on #255
This was fixed in: https://github.com/vega/editor/pull/261

[2019-03-13 21:31] #255 closed

[2019-03-14 04:04] domoritz commented on #81
Yes, vega.version

[2019-03-14 05:17] #173 closed

[2019-03-14 06:04] domoritz commented on #69
Did you `run` after making changes?

[2019-03-14 20:01] mattijn opened #282 "Data viewer makes the browser crash"
I see that https://github.com/vega/editor/issues/173 is merged, but if I try this locally with example https://vega.github.io/editor/#/examples/vega-lite/bar it doesn't perform well. Actually my browser just crashes.
See the following screencast
![Kapture 2019-03-14 at 20 52 06](https://user-images.githubusercontent.com/5186265/54387438-b611b600-469b-11e9-8328-a70380fa389b.gif)

Not sure if I miss

[2019-03-14 20:09] mattijn opened #283 "Signal viewer"
Next to the "data viewer" it would be useful to have a tab with a "signal viewer".

Especially when developing Vega spec I have to use the JavaScript Console to check the signals under `VEGA_DEBUG.view.data._signals.{x/y/z}`. If this is possible with a tab next to the "data viewer", that would be great.

[2019-03-14 20:18] mattijn opened #284 "Formatting data viewer"
See screencast:
![Kapture 2019-03-14 at 21 11 45](https://user-images.githubusercontent.com/5186265/54388438-012cc880-469e-11e9-814d-38977282cdf1.gif)

It would be tiny slightly better if the table formatting is optimised when the scrollbars are present. Preferably the scrollbars are placed outside the table so the values are still completely visible and I hope that this makes the horizontal scrol

[2019-03-15 05:50] domoritz commented on #284
This is a CSS issue. Thanks for flagging it.

[2019-03-15 05:52] domoritz commented on #283
you can do `VEGA_DEBUG.view.signal('x')` btw. But yes, a signal viewer would be nice. @jhoffswell has done some work in the old editor on actually showing the history of signals. It would be nice to bring some of it back to the editor.

[2019-03-15 05:53] domoritz commented on #282
@ganeshpatro321 could you look into this? This is important.

[2019-03-15 05:54] #147 closed

[2019-03-15 07:29] siddhant1 commented on #284
Started working on it , thanks for reporting

[2019-03-15 07:50] algomaster99 commented on #284
@mattijn Can you please send the spec? I am unable to reproduce this error.

[2019-03-15 13:13] neeraj3029 opened #287 "Inconsistent indentation in Warning and Error"
![Screenshot 2019-03-15 at 6 32 11 PM](https://user-images.githubusercontent.com/31539812/54433513-051a2280-4752-11e9-90a5-6449ab3c9bcc.png)
Warning and Error come in uneven indentation, I'm not sure if it's intentional or not. It would look better if they come at same indentation.

[2019-03-15 13:42] ganeshpatro321 commented on #282
Yeah, I will look into it, @domoritz

[2019-03-15 13:43] algomaster99 commented on #287
@neeraj3029 #248 fixes it. Please pull your code to the latest commits.

[2019-03-15 13:52] neeraj3029 commented on #287
I found this issue on https://vega.github.io/editor . My bad.

[2019-03-15 13:52] #287 closed

[2019-03-15 14:02] domoritz commented on #284
This might be a max os specific issue.

[2019-03-15 14:11] domoritz commented on #282
I see the same issue. This should take highest priority.

[2019-03-15 14:23] ganeshpatro321 commented on #282
Does this bar chart have any signals listeners? @mattijn @domoritz

[2019-03-15 14:25] domoritz commented on #282
Not the default one. I crashed the browser with https://vega.github.io/editor/#/examples/vega-lite/selection_layer_bar_month. Which example did you use when you tested this feature?

[2019-03-15 14:26] ganeshpatro321 commented on #282
population-pyramid in vega mode.

[2019-03-15 15:36] jheer opened #290 "Superfluous output for selection logic"
1. Compile the "Brushing Scatter Plots" example to Vega
2. Examine the output. There are superfluous filters in the event listeners throughout the spec:

[code]

[code]

Do the test cases include checks against the generated Vega JSON? If not, they probably should. If so, it looks like this issue was overlooked when updating the "ground truth" output Vega specs.

[2019-03-15 15:46] jheer commented on #290
Thank you @arvind! Based on your detective work, I think this may be a Vega parser bug where the input spec is inadvertently modified -- in which case the editor's reuse of a spec object would lead to the observed bug. I'm going to transfer this issue over to Vega, resolve any parser issues, and then we can see what happens downstream.

[2019-03-15 19:13] mattijn commented on #284
Yes probably got this with Safari on Mac

[2019-03-16 17:03] algomaster99 opened #292 "Back button not redirecting when in full-screen mode"
### Actual
![back](https://user-images.githubusercontent.com/35191225/54478677-f5c2d400-483a-11e9-9167-37cfd86b59e2.gif)

### Expected
Back button should redirect to the edit page.

[2019-03-16 17:37] domoritz commented on #292
I think this is an instance of a larger number of problems with the back button. It is generally hard to get navigation to work with state in React.

[2019-03-16 17:49] domoritz commented on #81
Done

[2019-03-16 17:49] #81 closed

[2019-03-16 17:49] domoritz commented on #204
I'll close this for now as we have more important refactoring to do.

[2019-03-16 17:49] #204 closed

[2019-03-16 17:49] domoritz opened #293 "Write tests"
We should write tests for the editor so that new features are not breaking things.

[2019-03-16 17:50] domoritz commented on #225
I don't think this is a huge deal.

[2019-03-16 17:50] #225 closed

[2019-03-16 17:50] #206 closed

[2019-03-16 17:52] domoritz commented on #175
Works fine for me.

<img width="1241" alt="Screen Shot 2019-03-16 at 10 52 14" src="https://user-images.githubusercontent.com/589034/54479409-97b1d480-47d9-11e9-8686-dad0ea546d63.png">

[2019-03-16 17:52] #175 closed

[2019-03-16 18:08] algomaster99 commented on #292
@domoritz Will see to it soon. Currently, I'm working on #172

[2019-03-16 18:23] domoritz commented on #172
I don't think this should be a priority for us until we have tests (https://github.com/vega/editor/issues/293).

[2019-03-16 20:40] iliatimofeev commented on #206
It's stable on my configuration.
Can I provide some extra information?

OS Type | Mac OSX 10 (Unknown
-- | --
OS Version | Version)
Browser Type | Chrome 72.0.3626.121
IP Address | 178.70.55.94
Javascript Enabled | Yes
Cookies Enabled | Yes
Color Depth | 24
Screen Resolution | 1280 x 800
Browser Window Size | 1280 x 649
Flash Version | Not Installed
User Agent | Mozilla/5.0 (Macintosh; Intel Mac O

[2019-03-16 20:47] domoritz commented on #206
Can you give me the exact steps to reproduce it?

[2019-03-17 01:02] #283 closed

[2019-03-17 03:34] ArexJambusarwala opened #294 "Add feature to upload code to editor from a local file"
Many editors have the feature to upload a local source code to the editor. We can create a button in the header for the same.
We can accept only .json files.
Should I work on this?

[2019-03-17 03:39] ArexJambusarwala opened #295 "Create a dark theme for the editor (not the chart)"
We can provide an option to choose from a light/dark them for the editor.

[2019-03-17 03:54] domoritz commented on #295
While this might be nice, it's not a priority.

[2019-03-17 04:16] domoritz commented on #294
So far i have not heard of anyone asking for this.

[2019-03-17 04:19] ArexJambusarwala commented on #294
I have seen this feature in other editors...

[2019-03-17 04:40] domoritz commented on #294
Yeah, it makes sense for other editors but not so much here. For example, observable doesn't have an uploader either. Or even. The p5 editor doesn't have it. let's close it for now.

[2019-03-17 04:40] #294 closed

[2019-03-17 11:01] siddhant1 commented on #66
I think we can close this now

[2019-03-17 11:01] #66 closed

[2019-03-17 11:02] siddhant1 commented on #110
I thinkthis can also be closed @domoritz

[2019-03-17 13:29] #110 closed

[2019-03-17 14:29] siddhant1 commented on #57
@domoritz anything more the needs to be changed?

[2019-03-17 14:41] domoritz commented on #57
We're getting there. There are still some features we don't have so let's keep this open. Also, this is just an idea and not exactly how we might do things.

[2019-03-17 18:47] siddhant1 commented on #164
I can pick this up

[2019-03-17 18:48] siddhant1 commented on #156
I will be talking a look at this , can you explain what needs to be done @domoritz

[2019-03-17 20:31] domoritz commented on #156
See the original text. I have not looked at the code since then but I remember that it could be refactored and cleaned up.

[2019-03-18 19:12] mattijn opened #297 "Signal tab viewer overflow-y scroll missing"
I was checking this new signal viewer tab (great btw!) on a laptop, but noticed there is no `overflow-y: scroll` functionality like there is in the data viewer. If there are many signals the current implementation is little hard to use on smaller screens.

See screencast:
<img src="https://user-images.githubusercontent.com/5186265/54556430-23358c00-49b9-11e9-8815-3eb899a24ace.gif" width="250">

[2019-03-19 03:14] ganeshpatro321 commented on #297
I will look into it @mattijn

[2019-03-19 05:47] siddhant1 opened #298 "[object object ] showing in signal viewer"
![image](https://user-images.githubusercontent.com/30566406/54582913-7bf83980-4a38-11e9-903b-2faf422473de.png)
I don't think we want [object object] in signal viewer.
If this is not the desired behaviour , I will have a look

[2019-03-19 06:17] siddhant1 opened #300 "Can't switch to data or signal viewer when there is an error"
@domoritz Is this intentional or should I send a fix?

[2019-03-19 11:24] ganeshpatro321 commented on #184
@domoritz

I was looking into this, and I don't think anything can be done here.
This is going into deadlock due to vega package.

Please correct me if I am misleading.

[2019-03-19 12:01] domoritz commented on #298
Thanks

[2019-03-19 12:59] domoritz commented on #300
That sounds bad.

[2019-03-19 13:04] domoritz commented on #184
We'll, what we can do is have a URL to reset the state before loading the editor. That at least would allow a user to use the editor again.

[2019-03-19 20:48] iliatimofeev commented on #184
I expected that if I reload editor with broken spec it will switch to
manual rendering.
 I

вт, 19 мар. 2019 г. в 16:04, Dominik Moritz <notifications@github.com>:

[2019-03-20 07:58] algomaster99 commented on #300
@siddhant1 That's intentionally done. There is no point of viewing empty data and signal tables.

[2019-03-20 08:01] algomaster99 commented on #298
@siddhant1 `JSON.stringify` should solve this. If you still can figure out let me know. I have written the code for this, I know where to fix it.

[2019-03-20 08:02] siddhant1 commented on #298
Yup , had the solution up but forgot to push , will send a pr asap

On Wed, 20 Mar, 2019, 1:31 PM Aman Sharma, <notifications@github.com> wrote:

[2019-03-20 23:33] domoritz commented on #298
`JSON.stringify` is not enough when the object has cycles or when it's too large. Please use the same methods we use in the data table.

[2019-03-20 23:34] domoritz commented on #300
We should hide the tabs instead then, I guess.

[2019-03-21 02:17] domoritz commented on #184
Even then the initial rendering will lock the editor.

[2019-03-21 14:08] #300 closed

[2019-03-21 14:17] siddhant1 commented on #154
Will try to do this

[2019-03-21 17:24] #297 closed

[2019-03-22 04:37] #282 closed

[2019-03-22 05:54] ganeshpatro321 opened #305 "Switching between examples causes problems due to data listeners."
@domoritz

The previous state is preserved which causes the api to throw errors.

[2019-03-22 13:30] domoritz opened #307 "Build is broken"
Please link to Vega-Lite as described in the readme until we make another release.

[2019-03-22 13:40] domoritz commented on #305
Thanks for the issue!

[2019-03-22 15:41] siddhant1 commented on #307
Is there any reason we are seeing a broken build?

[2019-03-23 04:17] kanitw opened #308 "> TS2741: Property 'error' is missing in type 'LocalLogger' but required in type 'LoggerInterface'."

[2019-03-23 14:26] domoritz commented on #308
Duplicate of https://github.com/vega/editor/issues/307

[2019-03-23 14:26] #308 closed

[2019-03-23 15:30] siddhant1 commented on #298
Looks like @domoritz your pr solved it , I think  we can close this now

[2019-03-23 15:35] #298 closed

[2019-03-23 16:11] domoritz commented on #307
Fixed

[2019-03-23 16:11] #307 closed

[2019-03-23 16:38] domoritz commented on #305
I don't see any errors in master.

[2019-03-23 17:27] #305 closed

[2019-03-24 02:36] domoritz opened #310 "Use bindActionCreators everywhere"
See https://github.com/vega/editor/blob/master/src/components/input-panel/spec-editor/index.tsx

[2019-03-24 02:51] domoritz commented on #310
Follow https://github.com/piotrwitek/react-redux-typescript-guide#redux-connected-components

[2019-03-24 04:30] ganeshpatro321 commented on #310
https://github.com/vega/editor/blob/master/src/components/input-panel/spec-editor/index.tsx

This file is correct right?

[2019-03-24 06:08] ganeshpatro321 commented on #184
Exactly @domoritz @iliatimofeev

[2019-03-24 09:56] algomaster99 commented on #310
This is written in [Redux docs](https://redux.js.org/api/bindactioncreators#bindactioncreatorsactioncreators-dispatch)
@domoritz What's the use exactly?
I think it will just decrease readability by not letting the programmers know what kind of arguments these action creators can take. For that they will have to navigate to `editor.ts`.

[2019-03-24 10:04] ganeshpatro321 commented on #310
Yeah I also have the same doubt @domoritz @algomaster99
Any ways I made the asked changes, forgot to refer it here. #311

[2019-03-24 10:13] ganeshpatro321 commented on #310
Actually those can be referred in the interface props right? @algomaster99

[2019-03-24 12:26] algomaster99 commented on #310
Yeah, that's also true. I think we should follow the convention only and use `bindActionCreators`.

[2019-03-24 12:26] algomaster99 commented on #310
Sorry, accidentally closed it.

[2019-03-24 14:35] domoritz commented on #310
The advantage is that we can have better typescript typings automatically because the types of the action functions gets used directly.

[2019-03-24 14:37] domoritz commented on #184
So, the fix is to have a URL to clear or reset the editor state completely before loading anything. Can you add that?

[2019-03-24 16:34] domoritz commented on #310
Done in https://github.com/vega/editor/pull/311

[2019-03-24 16:34] #310 closed

[2019-03-24 20:08] ganeshpatro321 commented on #184
Do we want to reset the state after certain time of loading? @domoritz

[2019-03-24 20:08] mattijn opened #315 "signal-viewer not interactive when selected upon rendering"
See screencast:
![Kapture 2019-03-24 at 21 03 43](https://user-images.githubusercontent.com/5186265/54885088-d0f0e100-4e78-11e9-8d2f-44fd6d899244.gif)
Only after changing tabs and going back to the signal viewer it becomes interactive.

[2019-03-25 00:20] domoritz commented on #315
Fixed in https://github.com/vega/editor/pull/314

[2019-03-25 00:20] #315 closed

[2019-03-25 00:29] domoritz commented on #184
no

Just make `https://vega.github.io/editor/#/reset` work.

[2019-03-25 01:40] domoritz opened #316 "Cannot open vega panel"
![editor](https://user-images.githubusercontent.com/589034/54889960-5a49e880-4e64-11e9-9b80-01d1693b000a.gif)

[2019-03-25 06:07] algomaster99 commented on #316
Even I'm facing this bug in Firefox though not in Google Chrome.

[2019-03-25 06:17] algomaster99 opened #317 "Initially opening of the data viewer causes crashing of application"
![bug](https://user-images.githubusercontent.com/35191225/54898833-b576ec00-4ef3-11e9-8995-d00e04c695ec.gif)

[2019-03-25 09:33] ganeshpatro321 commented on #184
I have made a route which clears the localStorage, but still not able to access the route when the editor goes into deadlock

I also tried avoiding the App component and created  a new component, that too didnt work.

Do you have any idea from where can I access things if the editor goes into deadlock. @domoritz

[2019-03-25 10:43] ganeshpatro321 commented on #317
Thanks for reporting, will look into this.

[2019-03-25 15:37] #317 closed

[2019-03-25 20:25] mattijn opened #320 "A change in spec makes the data viewer jump to the first entry in the list"
Often I'm working on a certain data transformation where the source is another data object.

Now this data-viewer is updating automatically, which is great, but with every change in my spec it jumps back to the first data object in the list.

I was hoping the selected data source could be remembered in the state, especially when the data sources are rather similar it can lead to confusion.

**EDIT

[2019-03-25 20:26] algomaster99 opened #321 "Debug pane header tabs getting squeezed when resized vertically"
### Problem
![Screenshot from 2019-03-26 01-54-01](https://user-images.githubusercontent.com/35191225/54951605-104b2a80-4f6a-11e9-8ccf-de4a8e480ffd.png)

This can be fixed by giving the style `min-height: 25px` to  class `debug-pane-header`.

[2019-03-25 20:32] domoritz commented on #321
Can you send a PR?

[2019-03-25 20:34] domoritz commented on #320
Yeah, that would improve the usability quite a bit. Right now, we reset the list when the view changes but it would be better to check whether the previous table exists first.

[2019-03-25 20:57] #184 closed

[2019-03-25 21:00] domoritz commented on #321
I don't see the problem in master.

[2019-03-25 21:15] algomaster99 commented on #321
@domoritz I was on master only when I posted this issue(updated with upstream/master). This issue also exists with the [editor](https://vega.github.io/editor/) running on production server.

[2019-03-25 21:32] kanitw opened #323 "Help migrate react-vega to use the latest Vega-embed and use it here"
This will be an extremely helpful task beyond just the Vega editor, https://github.com/vega/react-vega/issues/26.

[2019-03-25 21:35] domoritz commented on #321
How do you reproduce it on master?

[2019-03-25 21:36] domoritz commented on #323
I'm not sure we want to use Embed here since we are doing a lot of custom things and we want to provide our own styles.

[2019-03-25 21:42] domoritz commented on #320
Done

[2019-03-25 21:42] #320 closed

[2019-03-25 21:44] algomaster99 commented on #321
![bug](https://user-images.githubusercontent.com/35191225/54956133-3aeeb080-4f75-11e9-8ca3-31be49d176b7.gif)

This is reproduced when you're on the tab signal-viewer or data-viewer.

[2019-03-25 21:53] #154 closed

[2019-03-25 21:59] domoritz commented on #321
I don't see that problem in Chrome 74.0.3729.28.

[2019-03-25 22:02] algomaster99 commented on #321
Oh okay. Then this issue can be closed I guess.

[2019-03-25 22:04] domoritz commented on #321
Let me try some other browsers.

[2019-03-25 22:18] domoritz commented on #321
I can't reproduce it.

[2019-03-25 22:18] #321 closed

[2019-03-26 11:10] siddhant1 commented on #323
I will start working on this one .

[2019-03-26 11:12] siddhant1 commented on #316
I am facing this bug after the pr , I tried solving it and faced some issues , I will have a look at it again and generate a fix

[2019-03-26 12:22] siddhant1 commented on #58
Looking into this , @domoritz , @kanitw any UI designed for this?

[2019-03-26 12:23] siddhant1 commented on #10
I think we have that rn , do we need a dropzone to enable users to drag and drop datasets?

[2019-03-26 14:49] domoritz commented on #316
We don't yet have a clean fix.

[2019-03-26 14:50] domoritz commented on #323
This takes some more work. Please only assign one issue to yourself while you're working on it so you're not blocking everyone else from taking things.

[2019-03-26 14:52] domoritz commented on #58
Not yet. I think we should have a place where we can configure the renderer, tooltips, and themes. Maybe a settings panel.

[2019-03-26 14:53] domoritz commented on #10
It's way more than that. How do users use datasets later? How do they manage versions? How do we share specs with data?

This needs a lot of thought. I tend to think we should encourage users to upload to gists for now.

[2019-03-26 14:58] siddhant1 commented on #323
I am looking into it but open if anyone sends in a fix , it's a win win for open source

[2019-03-26 15:06] siddhant1 commented on #63
@domoritz I don't think this needs any work for now

[2019-03-26 15:19] domoritz commented on #63
Why not?

[2019-03-26 15:29] siddhant1 commented on #63
Oops mixed that with compiled Vega output , any particular UI you have in mind?

[2019-03-26 15:33] domoritz commented on #63
Not yet.

[2019-03-26 20:11] kanitw commented on #63
I think the Compiled Vega can be a dropdown for "Expanded Vega-Lite Spec"
and the button can become "Edit Expanded Vega-Lite Spec"

![image](https://user-images.githubusercontent.com/111269/55030001-9eee9480-4fc8-11e9-98c5-800b0cafb821.png)

[2019-03-27 05:55] kanitw opened #325 "Deploy different versions of the editor"
e.g.,  https://vega.github.io/editor/0.28/

or https://vega.github.io/editor-archive/0.28/

This would be extremely useful for trying a spec with multiple versions to isolate bugs.

[2019-03-27 12:55] ganeshpatro321 commented on #325
@domoritz

Do we have any lead on how to proceed with this?

[2019-03-27 14:38] domoritz commented on #325
I don't think we want multiple versions of the editor. Instead, it would be nice if be able to choose the Vega and Vega-Lite versions dynamically, no?

[2019-03-27 15:19] #316 closed

[2019-03-27 17:30] kanitw commented on #325
That would be better UX.  If it is not much more work, we should do it.

I just mention vega editor versions as it's a workaround if the ideal UX is too much work.

[2019-03-27 21:50] kanitw opened #327 "Clicking Signal View clashes the editor"
Try this [spec](https://vega.github.io/editor/#/url/vega-lite/N4KABGBEAkDODGALApgWwIaQFxUQFzwAdYsB6UgN2QHN0A6agSz0QFcAjOxge1IRQyUa6ALQAbZskoBmOgCtY3AHaQANOCgATdHkw5gkVgCcx2XAWJkhtBszace10dt2xkeWKRfpSAMwnU+LAiAEwA1vKKKgC+6hCQeEboSrC+3EaoZgDaBvDoYvCsYjrIZpCI3MawABQurKh0LsgAlGpQ6LBleIyopdEAunFQFPDKeXjZGhCgELNQAO6MmixmAIwArAAMQ3PlyIyBEzhbO7OQyEqjmoxK1GYzc2cAHvdTj-HsN-eQGE+fKWYQptYm93pBfIxkGJNGVrrBdJdS

[2019-03-28 05:01] domoritz commented on #325
I think it's easier to support multiple versions of Vega than it is to figure out which version of the editor corresponds to a particular Vega version.

[2019-03-28 05:28] kanitw commented on #325
For sure! I've run binary search __manually__ several times today to find the right version to revert to.  TT

[2019-03-28 11:33] algomaster99 commented on #327
@kanitw @domoritz This is happening since one signal value is a function which isn't handled by `formatValueLong`
[code]

How should we handle this? Any suggestion?

[2019-03-28 14:42] algomaster99 commented on #99
@domoritz This doesn't seem to be a problem now.

[2019-03-28 15:05] domoritz commented on #99
I still see it. Type `"color": {` and then enter.

[2019-03-28 15:06] domoritz commented on #325
Wait, if you need to check vega versions, then you did binary search with a locally deployed editor, right?

[2019-03-28 15:12] domoritz commented on #327
We should serialize it as `function` and also, we should not crash if we get undefined in the react component.

[2019-03-28 15:13] algomaster99 commented on #69
@domoritz No, I did not. The changes are preserved I guess.

[2019-03-28 15:24] algomaster99 commented on #124
@domoritz No one really is interested about the meticulous details of the graph. Users usually just look over the full visualisation and get the idea what exactly it is conveying. They are just meant to give an overview of data. So in my opinion, this issue can be close.

[2019-03-28 15:26] algomaster99 commented on #128
@domoritz We already have a compiled vega spec pane right? So what is the need?

[2019-03-28 15:50] algomaster99 commented on #99
@domoritz Can you share the specification? I'm unable to reproduce it.

[2019-03-28 16:29] algomaster99 commented on #166
@domoritz It can be accessed through `VEGA_DEBUG.vega.formatLocale()`. I think this issue can be closed.

[2019-03-28 16:33] domoritz commented on #99
See the gif above. I start with the bar chart example.

[2019-03-28 16:34] algomaster99 commented on #190
@domoritz #260 solves this

[2019-03-28 16:38] algomaster99 commented on #327
@domoritz I think that will be a change in `formatValueLong`. Should I submit a PR there?

[2019-03-29 01:57] #327 closed

[2019-03-29 01:58] domoritz commented on #190
Not really. This is to create Vega and Vega-Lite issues.

[2019-03-29 01:59] domoritz commented on #166
It would be nice to have a UI for this eventually but yes, let's close this.

[2019-03-29 01:59] #166 closed

[2019-03-29 01:59] domoritz commented on #128
When you switch from Vega-Lite to Vega through the dropdown, we should not clear the spec and instead open the compiled Vega spec.

[2019-03-29 02:00] #124 closed

[2019-03-29 09:19] siddhant1 commented on #156
Not able to get this properly , can you explain.
Do I need to make tabs into their specific components?

[2019-03-29 14:35] domoritz commented on #156
First, extract components. The header file is huge right now.

[2019-03-29 15:54] kanitw commented on #325
Yes, by checking out tags

[2019-03-29 15:58] domoritz commented on #325
Why? You can just link to Vega and Vega-Lite and use the version you want that way, no?

[2019-03-29 16:02] kanitw commented on #325
Well, it's the same thing if I want to find the newest version that doesn't break to revert to.  Still have to do binary search and re-build multiple times.  Running yarn to install the version is actually faster.

[2019-03-29 16:09] domoritz commented on #325
I see. Either way, the use case is switching Vega and Vega-Lite versions so I think we should try to automatically load these libraries from jsdelivr (maybe based on the version in the schema?). That doesn't seem too hard and is easy to use.

[2019-03-29 21:24] mattijn opened #331 "Crashing of the editor"
If I paste the following spec in an empty Vega-lite editor and go to the signal viewer tab the editor crashes:

[code]

See screencast:
![Kapture 2019-03-29 at 22 18 46](https://user-images.githubusercontent.com/5186265/55263418-3544e380-5271-11e9-870c-3321d7306637.gif)

After removing the local storage the website can reload again. I tried it on both Chrome and Safari and saw the same behaviour

[2019-03-29 22:06] algomaster99 commented on #331
#### Cause
`bin_maxbins_20_Rotten_Tomatoes_Rating_bins` signal's value is a function.

@mattijn This issue has been resolved in the development server in this [commit](https://github.com/vega/editor/commit/dc69ee79d6016eb98f63a9e7f7a9e46673529766). This patch will soon be applied to the application in production. :)

[2019-03-29 22:06] #331 closed

[2019-03-29 22:18] algomaster99 commented on #12
I have unassigned this issue to myself so others can also take a look.

[2019-03-30 04:21] ganeshpatro321 commented on #331
@mattijn you can use [this](https://vega.github.io/editor/#/reset) to reset the local storge. It is a new feature added to the editor.

[2019-03-30 15:18] #139 closed

[2019-03-31 08:48] takedakun opened #333 "Add non realtime rendering mode"
Real time rendering in editing is amazing, but I think it is better if there is also non realtime rendering mode.

[2019-03-31 12:24] algomaster99 commented on #333
@takedakun there exists such mode. You can change the mode from auto to manual in the run button located in the header.

[2019-03-31 12:24] #333 closed

[2019-04-01 12:14] siddhant1 commented on #156
@ganeshpatro321 please comment if you are working , I had already made some progress with it
Thanks

[2019-04-01 14:05] ganeshpatro321 commented on #156
Sorry @siddhant1
There were no PRs since few days for this simple task(extracting the component), so thought no ones working.

[2019-04-04 13:11] domoritz opened #336 "Use Vega and Vega-Lite from jsdelivr"

[2019-04-06 11:35] algomaster99 commented on #336
@domoritz When the jsdelivr links are used, how are they imported? One method can be to import it in `componentWillMount` but that will be highly redundant and inefficient.

[2019-04-06 14:42] domoritz commented on #336
I think we should do this in webpack somehow or with lazy imports (maybe later).

[2019-04-08 04:40] domoritz commented on #60
The schema has comments, which are automatically shown in autocomplete. I think that's the extent to which we can provide docs. Note that this only works for Vega-Lite right now.

[2019-04-09 16:53] algomaster99 commented on #60
@domoritz I can try implementing it for vega too

[2019-04-09 17:15] RandomFractals commented on #58
you guys can see how Vega Viewer does it here :) https://twitter.com/TarasNovak/status/1113069510112788480

![vega-viewer-4 2](https://user-images.githubusercontent.com/656833/55820623-2526d280-5ac1-11e9-90bc-de1179f7a73f.png)

cheers!

[2019-04-10 05:34] domoritz commented on #60
How do you propose to do that?

[2019-04-11 02:14] jheer opened #338 "Export modal has serious UI design problems"
I see that the export modal has been updated. Unfortunately, the result is a serious deterioration of the design, with over-large buttons and confusing layout. Text descriptions that should be provided by tooltips or details-on-demand are included as button text. I also recommend splitting the JSON download into separate Vega and Vega-Lite download buttons (as warranted), not a non-standard radio

[2019-04-11 04:32] ganeshpatro321 commented on #338
This should be fixed in #337
There was a problem in importing the styles.
@jheer

[2019-04-11 06:03] domoritz commented on #338
I just made another release so this should be fixed.

I still want the text about the PDF download for now since the PDF export is experimental.

How strongly do you feel about the radio in the JSON button now that the styles are correct again?

<img width="1399" alt="Screen Shot 2019-04-10 at 23 01 35" src="https://user-images.githubusercontent.com/589034/55934228-c8bcd380-5be4-11e9-9374-fad6e943

[2019-04-11 06:07] domoritz commented on #338
I'm closing this issue for now but we can still adjust the UI.

[2019-04-11 06:07] #338 closed

[2019-04-12 15:15] siddhant1 commented on #336
Loading vega and vega-lite from cdn?

[2019-04-12 15:53] domoritz commented on #336
Yes, in production only, though (or have a somehow the npm version as default so VL and VG devs can use the editor)!

[2019-04-15 02:49] domoritz opened #339 "Spacing between sharing buttons got lost"
<img width="896" alt="Screen Shot 2019-04-14 at 19 49 11" src="https://user-images.githubusercontent.com/589034/56104871-72a2a580-5eee-11e9-95de-b6512514f3ed.png">

[2019-04-15 16:13] iaindillingham opened #340 "Load Gist feature rejects valid Gist URL"
I've tried a few, but the following Gist URL is rejected with "Please enter a valid URL." I can't see anything in the console to suggest what's invalid; it follows the pattern in the example.

https://gist.github.com/iaindillingham/7b5862f57cfef9a1459a60428985b49d

[2019-04-15 16:19] domoritz commented on #340
Hmm, The problem is that your streamgraph file is not recognized as a JSON file.

[2019-04-15 16:20] domoritz commented on #340
Try reaming the file to end in `.json`

[2019-04-15 18:16] RandomFractals opened #341 "provide simple input UI to search vega examples by chart type"
I think it would be 😎 if instead of showing all 100+ #vegaLite examples gallery popup https://vega.github.io/editor/#/examples/vega-lite
1 could search online examples by #chartType, as I do it in #VegaViewer :)

see this twitter post for more info:

https://twitter.com/TarasNovak/status/1117843212033568769

[2019-04-15 18:19] ganeshpatro321 commented on #341
Yes, we have plans to implement this.

[2019-04-15 18:24] RandomFractals commented on #341
let me guess: same release as #vegaThemes?

https://twitter.com/TarasNovak/status/1115363634585264128

🤗

[2019-04-16 01:42] domoritz commented on #341
We release as soon as a feature is in Master so I suspect these feature will be in different releases.

[2019-04-16 03:43] siddhant1 commented on #58
Will have a look at it !

[2019-04-16 08:23] iaindillingham commented on #340
Thanks! That works. Couple of things:

* I'd assumed that adding the filename in the filename field would have overridden this.
* The `.vl` and `.vg` extensions are the default for the Vega Viewer VS Code extension.

It's certainly no bother to rename a file, though.

[2019-04-16 08:23] #340 closed

[2019-04-17 00:46] domoritz commented on #341
I use it but to use it as a dev, I need to be able to use the locally installed version, not just the latest version.

[2019-04-18 13:03] RandomFractals commented on #341
@domoritz Dom, good to hear that you are using it. I did look into supporting different vega and vega-lite json specs based on $jsonSchema when I pushed out my v4.x and found that most examples worked with that update to vega 5 & vega-lite v3.x with my ext.

If there is more to it, please elaborate in this issue, or open new one in my repo.

I'd love to support all vega json versions, if you could

[2019-04-20 05:41] #339 closed

[2019-04-21 05:58] ganeshpatro321 opened #344 "Create a separate css files for gist-modal in header component."
Now, we are importing the CSS from the root index.css file. The task is to create a separate css file for gist-modal and copy the required code there.

Refer to other modal components in the header.

[2019-04-21 18:56] domoritz commented on #99
The example is https://vega.github.io/editor/#/examples/vega-lite/bar

[2019-04-23 07:25] #128 closed

[2019-05-05 02:46] algomaster99 commented on #284
@domoritz is this still a problem?

[2019-05-05 10:00] domoritz commented on #284
Safaris still looks bad, yes. Can you fix it?

Chrome
<img width="318" alt="Screen Shot 2019-05-05 at 11 00 05" src="https://user-images.githubusercontent.com/589034/57192130-fadffd80-6f24-11e9-883c-731b198772d0.png">

Safari
<img width="282" alt="Screen Shot 2019-05-05 at 10 59 59" src="https://user-images.githubusercontent.com/589034/57192126-f74c7680-6f24-11e9-9473-3548837a5a83.png">

[2019-05-12 02:31] algomaster99 commented on #284
@domoritz I will look into this as soon as possible. I am assigning it to myself.

[2019-05-14 15:47] algomaster99 commented on #323
@siddhant1 There was no activity on this issue so I unassigned you. Feel free to send a PR though if you have started working on it. :)

[2019-05-14 19:53] domoritz opened #347 "Gist loading should not ignore non-json files"
It would be good to support non-json files as Vega or Vega-Lite specs when the user explicitly specifies them. I have seen people trying to use `.vega` files and they don't work because we limit ourselves to JSON in https://github.com/vega/editor/blob/97e150be24f5e881e7abe53ef56c2be077af6068/src/components/header/gist-modal/renderer.tsx#L115.

[2019-05-15 17:14] algomaster99 opened #348 "Resizing of debug pane"
![resize](https://user-images.githubusercontent.com/35191225/57795051-a9c0dc80-7762-11e9-9b59-d7a8d68effa2.gif)

This bug persists in Firefox only.

[2019-05-16 13:17] #348 closed

[2019-05-17 17:29] domoritz opened #351 "Bring back debugging functionality"
It would be great if we could bring back some of the debugging functionality that @jhoffswell developed for the old Vega editor.

You can try it at https://vega.github.io/vega-editor/ by clicking on the little ladybug.

<img width="211" alt="Screen Shot 2019-05-17 at 10 28 56" src="https://user-images.githubusercontent.com/589034/57945383-9874ee80-788e-11e9-8580-ed76661af010.png">

* Click on a si

[2019-05-23 19:22] MakoSDV opened #353 "Mouse wheel does not scroll editor in Firefox"
In Firefox, using the mouse wheel (or touchpad scroll gesture) does not scroll the left-side JSON Editor div like it does in Chrome.

To reproduce using Firefox, open the Bar Chart example in Vega editor and switch it to Vega mode (this will likely overflow and enable the vertical scroll bar).  When using the mouse wheel, nothing happens.  In order to scroll, you must drag the scroll bar or move t

[2019-05-23 20:08] domoritz commented on #353
Something must be highjacking the scroll event. Thanks for the report.

[2019-05-24 07:08] siddhant1 commented on #353
Will check!

[2019-05-24 15:10] siddhant1 commented on #353
Looked on it for a while , here are my findings.
This is not the issue with us , the issue is prevailing in the monaco-editor , see issue (https://github.com/Microsoft/monaco-editor/issues/1353)

Also there is a corresponding pull request (https://github.com/microsoft/vscode/pull/72832) while resolves this issue but is not merged yet.

This is happening because the firefox does not recognize the `

[2019-05-24 18:03] domoritz commented on #353
Let’s wait for Monaco to fix this then. One issue for us is that we had trouble updating Monaco. Can you try to update it so we are on the latest version? Thanks!

[2019-05-24 18:46] siddhant1 commented on #353
Sure!

[2019-05-29 19:04] domoritz opened #358 "Weird line breaks in data viewer"
In https://vega.github.io/editor/#/examples/vega-lite/trellis_barley

<img width="459" alt="Screen Shot 2019-05-29 at 12 03 26" src="https://user-images.githubusercontent.com/589034/58583886-d74d6180-8209-11e9-8054-0006497c14a2.png">

[2019-05-30 06:22] siddhant1 commented on #358
Will try to investigate and resolve

[2019-05-30 06:22] siddhant1 commented on #358
![image](https://user-images.githubusercontent.com/30566406/58612787-66717c80-82d1-11e9-9171-be676b0bf5a7.png)
Mine is working fine!

[2019-05-30 06:23] siddhant1 commented on #358
![image](https://user-images.githubusercontent.com/30566406/58612828-899c2c00-82d1-11e9-84fa-faa9d7f4fda9.png)
Mine is working fine!

[2019-05-30 07:17] algomaster99 commented on #358
Works fine for me too on both firefox and chrome.

[2019-05-31 02:45] domoritz commented on #358
Hmm, I cannot reproduce it anymore.

[2019-05-31 02:45] #358 closed

[2019-06-01 22:48] kanitw opened #359 "[HIGH PRIORITY] Latest Published Editor does not always update Vega spec"
Try opening https://vega.github.io/editor/#/examples and select simple vega-lite bar example and then select another Vega-Lite example.  You'll see that the Vega spec doesn't change anymore!

[2019-06-01 22:49] kanitw commented on #359
Note that my local branch at d5dde7c124a933bcda27774d7b97fde3f9bb8e05 works fine.

[2019-06-01 22:50] domoritz commented on #359
I cannot reproduce this.

[2019-06-01 22:53] domoritz commented on #359
Just to highlight, look at the **Vega** output.

[2019-06-01 22:55] domoritz commented on #359
This is probably caused by https://github.com/react-monaco-editor/react-monaco-editor/issues/215

[2019-06-01 23:16] domoritz commented on #359
I reset gh-pages. We need to fix this before we can make other releases.

[2019-06-03 16:41] kanitw commented on #359
Fixed?

[2019-06-03 16:48] domoritz commented on #359
In gh-pages, yes. Not in master since we are waiting for react-monaco-editor/react-monaco-editor#215

[2019-06-03 21:06] kanitw commented on #359
Why not reverting the version in the master for now?

[2019-06-03 21:06] kanitw commented on #359
In general it’s better to make master usable

[2019-06-05 06:48] siddhant1 commented on #359
@domoritz should I revert?

[2019-06-05 06:54] domoritz commented on #359
Yes, that would be good.

[2019-06-05 16:39] #359 closed

[2019-06-28 16:46] domoritz opened #365 "Resizing the Vega editor panel moves it outside view"
See this example

![editor](https://user-images.githubusercontent.com/589034/60357836-8c9a4300-9989-11e9-9bd3-366c06319a47.gif)

[2019-06-29 14:17] siddhant1 commented on #365
I am not able to completely understand the issue, can you tell me what is the desired behavior

[2019-06-29 16:37] domoritz commented on #365
You can see that I cannot scroll to the end of the Vega output when the editor panel is small. Do you see it?

[2019-07-02 17:10] #344 closed

[2019-07-04 10:42] domoritz opened #368 "Resize icon missing"
<img width="678" alt="Screen Shot 2019-07-04 at 12 42 06 PM" src="https://user-images.githubusercontent.com/589034/60660975-33cf1c80-9e59-11e9-85ad-18822b5e9319.png">

[2019-07-04 13:13] siddhant1 commented on #368
Working!

[2019-07-04 14:47] domoritz commented on #58
Done

[2019-07-04 14:47] #58 closed

[2019-07-04 14:56] domoritz opened #369 "Revise menu bar"
Our menu bar is getting a bit cluttered. Let's revise it. Here is a list of functionalities we want somewhere in the UI with proposals for changes.

* Switch between Vega and Vega-Lite
* Format -> move to editor or edit menu
* Clear -> move to editor or edit menu
* Run (with switch between auto and manual)
* Export (download as image/json/pdf)
* Share (share editor state via URL)
* Save (to GIST,

[2019-07-04 15:00] arvind commented on #369
Thanks for getting this started @domoritz! All of the above makes sense to me except I would maybe keep Examples in the top-level, just to give newcomers a super easy jumping off point. (I associate open/load with past visualizations I've already created/worked on.)

[2019-07-04 15:50] algomaster99 commented on #369
Docs are already there under export modal so we can simply remove the button.

[2019-07-04 18:27] domoritz commented on #369
I'm okay with removing the docs. Let's revise the style of the help modal, though. The header margins are off.

[2019-07-05 11:31] algomaster99 opened #371 "Workflow of loading Gists"
This issue will discuss how the loading of gists will work.

Firstly, I am thinking of to divide the modal into two parts using a vertical divider. Something like this:
![Screenshot from 2019-07-05 16-07-00](https://user-images.githubusercontent.com/35191225/60717628-fe512e80-9f3f-11e9-85e2-77141ccccb6b.png)

#### Left
- The left portion will simply have input fields which will load any gist whose

[2019-07-05 11:31] algomaster99 commented on #371
@domoritz Please suggest some ideas.

[2019-07-05 18:48] kanitw opened #372 "Revise the layout for vega /config"
Putting config in the same location as compiled vega is a bit confusing.

Basically, we have two inputs (the vl spec and config) and vega is the output.   Putting one of the input in the place of the output mixes two things together.

In the future, once we have https://github.com/vega/vega-lite-to-api for getting vega-lite-api and altair outputs, then it will be quite confusing.  (It would be nat

[2019-07-05 18:49] kanitw opened #373 "Make the export button clearer"
The design of the big buttons in the new export screen is a bit unconventional — in the sense that it’s blending a bounding box with a button.
Thus, without knowing that the big boxes are button, and without moving mouses around, I didn’t realize at first that they are clickable.

[2019-07-05 19:12] domoritz commented on #372
The reasoning was that you always want to see the Vega-Lite or Vega input. To me, the Config and Vega output are less important so I decided we group it together. Once we add more inputs, we should revise how we lay things out.

[2019-07-05 19:14] domoritz commented on #373
It's actually not new but we merged export and sharing into one dialog ;-)

In https://github.com/vega/editor/issues/369, we are discussing how we will change this soon, though.

Do you have specific ideas for how we can make the buttons look more like buttons?

[2019-07-05 20:51] domoritz opened #374 "Cannot remove theme"
When I delete the config entirely, the chart doesn't automatically update to be without the config. The only way to reset the config is to type `{}`.

[2019-07-05 23:54] kanitw commented on #373
As mentioned on Slack, making the text for the header smaller and make them an actual button will make them look like a button.

This is a quick sketch (but you should also change the font size + add background colro for the button):

<img width="324" alt="Screen Shot 2019-07-05 at 4 52 01 PM" src="https://user-images.githubusercontent.com/111269/60748693-7e2dc780-9f45-11e9-885b-70efa666621f.png">

[2019-07-05 23:58] kanitw commented on #372
We should group things by their semantics rather than importance.

The fact that we label it as "compiled Veg and Config" is quite confusing since config is NOT a compiled output.  It is an input.

![image](https://user-images.githubusercontent.com/111269/60748729-d9f85080-9f45-11e9-8ea0-3d2490e47d2c.png)

I like @arvind's suggestion on Slack:

[2019-07-05 23:58] kanitw opened #375 "Config does not work correctly for Vega-Lite"
Try adding `{"view": {"fill": "red"}}` to a config. It doesn't make background red.

[2019-07-06 00:00] kanitw commented on #373
Also a button may include visual cue on click

![image](https://user-images.githubusercontent.com/111269/60748788-5be87980-9f46-11e9-9e3c-9f783ef036d1.png)

[2019-07-06 05:43] siddhant1 commented on #374
Will fix!

[2019-07-06 11:17] siddhant1 commented on #374
ref #376

[2019-07-06 14:55] algomaster99 commented on #371
### Mock-up of header
![Header](https://user-images.githubusercontent.com/35191225/60757596-5c5a4080-a02a-11e9-8eaf-20132ecfe45d.jpg)
The circular button on the leftmost side will show user profile.

### Load GIST
![Load GIST](https://user-images.githubusercontent.com/35191225/60757697-78aaad00-a02b-11e9-908c-cdeb948379f0.jpg)

### Save GIST
![Save to GIST](https://user-images.githubusercontent.co

[2019-07-06 15:09] domoritz commented on #371
Why did you decide to put help on the left and load on the right? I would have swapped them.

[2019-07-06 15:11] algomaster99 commented on #371
@domoritz There is no particular reason. I will change it.

[2019-07-06 15:26] domoritz commented on #371
Looks good. What else do you want to put into the Edit menu.

[2019-07-06 15:29] algomaster99 commented on #371
@domoritz I don't know. Do you have any suggestions?

[2019-07-06 15:30] domoritz commented on #371
Can we open the command menu:

<img width="462" alt="Screen Shot 2019-07-06 at 5 30 10 PM" src="https://user-images.githubusercontent.com/589034/60758116-bdc2e500-a013-11e9-91fa-316af3b911bd.png">

[2019-07-06 15:32] algomaster99 commented on #371
@domoritz In the edit button? Will have to look. The monaco editor API must provide one function to do so.

[2019-07-09 11:52] #368 closed

[2019-07-09 15:59] siddhant1 commented on #375
Will check for issues!

[2019-07-11 18:50] mcnuttandrew opened #382 "Data viewer should scroll rather than wrap?"
![Screen Shot 2019-07-11 at 11 47 05 AM](https://user-images.githubusercontent.com/6854312/61076741-c891c700-a3d1-11e9-8ee4-0da15f307a1e.png)

It seems like it should be the case that the data viewer should scroll rather than wrapping each of the cells (as in screenshot above). I find wrapping single numbers across multiple lines to be pretty confusing. That said this is a fiddly ux-issue, so I un

[2019-07-11 20:06] domoritz commented on #382
Thank you for writing up the issue report. This is by design. Horizontal scrolling is difficult so we decided to prefer vertical scrolling. I think at some level we enable horizontal scrolling, though. I'm happy to revise the thresholds.

[2019-07-11 20:06] #382 closed

[2019-07-12 14:12] #374 closed

[2019-07-13 10:00] domoritz commented on #375
We are treating a Vega-Lite config as a Vega config and pass it directly to Vega's `parse`. We should pass it to Vega-Lite's `compile` instead.

[2019-07-17 18:36] domoritz opened #389 "VEGA_DEBUG.view is null"
It should be the vega view.

[2019-07-18 07:51] domoritz commented on #351
@vaughnkoch had a cool idea of adding a visual scenegraph explorer in https://github.com/vega/vega/issues/1879.

[2019-07-19 10:16] #389 closed

[2019-07-20 13:40] siddhant1 opened #395 "Invalid json in config editor breaks editor"

[2019-07-20 18:05] kanitw opened #396 "Cache latest Vega-Lite spec when the user clicks “compile to Vega”"
When the user clicks “compile to Vega the old vega-lite spec should be cached so when the user laters swaps mode back to Vega-Lite, the editor won't show an empty code.

[2019-07-20 19:32] domoritz commented on #396
Same effect: keep the Monaco model for Vega and Vega-Lite around.

[2019-07-20 19:33] domoritz commented on #395
Please describe the steps to reproduce this issue.

[2019-07-20 20:16] domoritz commented on #395
We should be careful with invalid JSON like we do for normal specs.

<img width="601" alt="Screen Shot 2019-07-20 at 10 15 24 PM" src="https://user-images.githubusercontent.com/589034/61583707-fe564e80-ab3b-11e9-8475-7c4d3604cd95.png">

[2019-07-21 10:38] #375 closed

[2019-07-21 15:31] #395 closed

[2019-07-22 07:47] siddhant1 opened #400 "Add merge config button"
Add `merge config` button in the config-header which merges spec and the config

[2019-07-23 09:35] domoritz opened #402 "Setting config to custom causes invalid config"
We should not delete the config.

[2019-07-23 13:21] #402 closed

[2019-07-23 13:25] domoritz opened #405 "Simplify modal code"
As discussed

[2019-07-25 08:14] domoritz commented on #396
We now support undo.

[2019-07-25 08:14] #396 closed

[2019-07-25 08:14] #369 closed

[2019-07-25 08:15] domoritz commented on #99
I fixed it.

[2019-07-25 08:15] #99 closed

[2019-07-25 08:17] #57 closed

[2019-07-25 08:19] domoritz commented on #182
Fixed now.

[2019-07-25 08:19] #182 closed

[2019-07-25 08:21] domoritz commented on #220
We are actually saving the editor content and preserve it across refreshes.

[2019-07-25 08:21] #220 closed

[2019-07-25 08:22] siddhant1 opened #407 "Add vega-tooltip in help modal"

[2019-07-25 08:30] domoritz commented on #407
and correct spelling of Vega-Lite

[2019-07-26 13:42] #407 closed

[2019-07-27 20:31] #405 closed

[2019-07-27 20:31] #156 closed

[2019-07-28 06:11] #365 closed

[2019-07-28 07:47] #69 closed

[2019-07-28 07:48] #12 closed

[2019-07-28 07:48] domoritz commented on #12
We support undo/redo across modes now.

[2019-07-28 07:56] siddhant1 commented on #353
https://github.com/microsoft/monaco-editor/issues/1353#issuecomment-515222615

[2019-07-28 08:25] #353 closed

[2019-07-29 09:36] domoritz commented on #325
Instead, let's do #336

[2019-07-29 09:36] #325 closed

[2019-07-29 09:45] domoritz commented on #144
That's an amazing example. Not sure whether it's really the typical example for the editor.

![editor](https://user-images.githubusercontent.com/589034/62038490-19892400-b1f6-11e9-80a5-0a713aba836b.gif)

In static examples, the editor doesn't use a lot of CPU.

[2019-07-30 07:28] siddhant1 opened #418 "Styling issue in vizpane"
![bug](https://user-images.githubusercontent.com/30566406/62109327-acdf5980-b2c9-11e9-85f0-b6117b968d8e.PNG)

[2019-07-30 09:55] #418 closed

[2019-07-30 11:49] #292 closed

[2019-07-31 11:44] #400 closed

[2019-07-31 17:14] greenkeeper[bot] opened #422 "An in-range update of @types/react is breaking the build 🚨"
## The dependency [@types/react](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `16.8.23` to `16.8.24`.

🚨 [View failing branch](https://github.com/vega/editor/compare/master...vega:greenkeeper%2F%40types%2Freact-16.8.24).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/react is a direct depend

[2019-08-02 11:11] domoritz commented on #93
Somehow we are not even calling our formatter in https://github.com/vega/editor/blob/0af13c747803e86648c02056d87a413995da340b/src/utils/monaco.ts#L53 anymore.

[2019-08-02 19:20] #372 closed

[2019-08-03 07:30] #373 closed

[2019-08-04 05:59] kanitw opened #429 "Loading a new spec should always select the main code tab"
Try

1. Click the config tab
2. Pick an example from the example menu.

At this point users might be confused why the code editor is empty.

(Better always switch to the main code tab.)

[2019-08-04 16:28] #429 closed

[2019-08-04 16:46] domoritz opened #431 "Sharing dialog has no button to copy URL"
<img width="1055" alt="Screen Shot 2019-08-04 at 6 45 20 PM" src="https://user-images.githubusercontent.com/589034/62426669-13a8ac80-b6e8-11e9-8f72-f36c6221ec64.png">

[2019-08-04 16:53] siddhant1 commented on #431
![image](https://user-images.githubusercontent.com/30566406/62426753-89bc0c00-b706-11e9-84a7-54194a87ff23.png)
Working fine for me

[2019-08-04 16:54] domoritz commented on #431
Oh no, it's my adblocker.

[2019-08-04 16:56] domoritz opened #432 "menubar doesn't collapse icons on small screens"
<img width="843" alt="Screen Shot 2019-08-04 at 6 55 50 PM" src="https://user-images.githubusercontent.com/589034/62426767-88301b00-b6e9-11e9-88d0-046d3e7f5f5c.png">

[2019-08-04 16:56] siddhant1 commented on #431
🙃

[2019-08-04 16:57] siddhant1 commented on #431
Still an issue?

[2019-08-04 16:57] domoritz commented on #431
Yep

[2019-08-04 17:00] #431 closed

[2019-08-04 17:04] domoritz commented on #432
Intorduced in https://github.com/vega/editor/commit/c969f3fdd49e9f38b95345b4a3152f3ba0283709#diff-c4c1c0acbe8bc7d53bcb98f17b4ab439

[2019-08-04 17:18] #432 closed

[2019-08-04 17:19] siddhant1 commented on #432
I made a pr lol !

[2019-08-04 17:22] domoritz commented on #432
Thanks. I used your code as it's a bit cleaner.

[2019-08-04 22:02] domoritz opened #434 "Sometimes the editor just shows [Error]"
<img width="258" alt="Screen Shot 2019-08-05 at 12 01 48 AM" src="https://user-images.githubusercontent.com/589034/62429842-4799c700-b714-11e9-925e-2eab4da9fca7.png">

Now very useful :-P

[2019-08-04 22:03] domoritz commented on #434
Reproduce with https://vega.github.io/editor/#/url/vega-lite/N4KABGBEAkDODGALApgWwIaQFxUQFzwAdYsB6UgN2QHN0A6agSz0QFcAjOxge1IRQyUa6ALQAbZskoBmOgCtY3AHaQANOCgATdHkw5gkVgCcx2LTvSl46I7HmKVAX3URIFeMut4zAbQ0RQCCCoADN0eGRvfUgQxmQxTTNIAHkjRiYVVSg8AE9CZCSlblRGJXRTZ38gyFh8+DNA4OqMIwBrJMJuUu8XJtdkJQ9NUuoGqr7IAA8GmLiEpIAJbltkToB3ZCM1bLyCnEgAR1Z0JTxmHUYqSEq+4Mgcmdj4xP2AWUYxZFgAfXyjb4A4uUxMptpBcvkkkcTmddGcro5xk

[2019-08-06 08:20] domoritz opened #436 "Run button has too little space on small screens"
There needs to be more padding on the right.

<img width="135" alt="Screen Shot 2019-08-06 at 10 20 16 AM" src="https://user-images.githubusercontent.com/589034/62523351-dbae8000-b833-11e9-9e01-3455b0ccae2c.png">

[2019-08-06 11:04] siddhant1 commented on #434
https://github.com/vega/vega-lite/blob/389e94b386b0a9455c72a8b19d9767f6d42524d5/src/compile/compile.ts#L206

The compiler does not return errors

[2019-08-06 11:24] domoritz commented on #434
Vega-Lite throws errors, we log warnings.

The one above is coming from Vega (look at js console).

[2019-08-06 13:23] #436 closed

[2019-08-07 09:40] #434 closed

[2019-08-07 22:46] domoritz opened #443 "Lazy loading code"
We should consider using https://reactjs.org/docs/code-splitting.html#reactlazy for code that is not always needed like the sharing via URL. This could reduce the startup time of the editor.

[2019-08-08 07:46] siddhant1 commented on #443
Lets do it!

[2019-08-09 17:09] #422 closed

[2019-08-09 21:17] greenkeeper[bot] opened #444 "An in-range update of @types/react is breaking the build 🚨"
## The dependency [@types/react](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `16.9.0` to `16.9.1`.

🚨 [View failing branch](https://github.com/vega/editor/compare/master...vega:greenkeeper%2F%40types%2Freact-16.9.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/react is a direct dependenc

[2019-08-11 11:31] #444 closed

[2019-08-11 11:33] domoritz opened #445 "Refactor CSS of components"
Right now we use a lot of custom classes. Instead, we should have a single class for a component (e.g. `help-modal`) and then use rules that are for objects nested below (e.g. `.help-modal p a`).

[2019-08-11 11:53] domoritz opened #446 "remove unsafe react lifecycle methods"
<img width="553" alt="Screen Shot 2019-08-11 at 1 51 59 PM" src="https://user-images.githubusercontent.com/589034/62833457-56660980-bc3f-11e9-943a-02b9b416a4e3.png">

[2019-08-11 12:14] domoritz opened #447 "Warn about incompatible versions"
We should warn users about versions mismatches like Vega-Lite does: https://github.com/vega/vega-embed.

[2019-08-12 13:50] algomaster99 opened #448 "Saving to GIST"
A button can be added inside export modal which will create a GitHub gist with the current vega/vega-lite specification written in the editor. (GSoC target)

Further, we can add forking and updating functionalities.

[2019-08-12 18:15] domoritz opened #450 "Use postrun callback in timeline"
Have a look at https://vega.github.io/vega/docs/api/view/#view_runAsync and see whether the postrun callback is a perpetual callback or needs to be attached again.

[2019-08-14 08:54] domoritz opened #455 "Add monaco action to add the $schema URL"
This can be useful if you have a spec that doesn't have it yet. Yes, this will also reformat the spec.

[2019-08-16 11:04] algomaster99 opened #458 "Vega and vega-lite modes do not switch repeatedly"
![mode](https://user-images.githubusercontent.com/35191225/63163650-9cf2a400-c043-11e9-9a71-5a5729cf710b.gif)

[2019-08-16 14:20] domoritz opened #460 "Replace d3-request with fetch"
No need for a new library.

[2019-08-17 11:31] #460 closed

[2019-08-17 21:44] kanitw opened #462 "Make Vega / Vega-Lite version more obvious"
In the latest editor — the versions of VL , VG are so hidden.

It took me a while to find it in “help”, which doesn’t make much sense.
As a user, when I’m looking for version, I’m not looking for “help”.

[2019-08-18 07:34] domoritz commented on #462
That are you suggesting? I could imagine a status bar.

[2019-08-18 08:21] domoritz opened #463 "Use consistent button style"
Here are our button styles:

<img width="153" alt="Screen Shot 2019-08-18 at 10 21 05 AM" src="https://user-images.githubusercontent.com/589034/63222011-ed801380-c1a1-11e9-83df-bf5fcaf226de.png">
<img width="337" alt="Screen Shot 2019-08-18 at 10 21 01 AM" src="https://user-images.githubusercontent.com/589034/63222012-ed801380-c1a1-11e9-89f5-0f30fcb76be2.png">
<img width="322" alt="Screen Shot 201

[2019-08-18 12:07] domoritz opened #465 "more padding around user popup"

[2019-08-18 12:07] domoritz opened #466 "move button below preview image"
to make user flow clearer

[2019-08-19 08:05] #466 closed

[2019-08-19 08:31] #465 closed

[2019-08-19 09:21] algomaster99 commented on #347
@domoritz I think we have applied a filter to get only `JSON` files. https://github.com/vega/editor/blob/a49647733c7a7498cb8c7097d83398cb4a88e283/src/components/header/gist-modal/renderer.tsx#L187. Should we close this issue then?

[2019-08-19 09:23] #455 closed

[2019-08-19 09:28] domoritz commented on #347
No. https://gist.github.com/domoritz/3ab075a60cf92b8c19eb8a312e7b08b3 still doesn't work.

[2019-08-19 09:29] domoritz commented on #347
http://0.0.0.0:8080/#/gist/3ab075a60cf92b8c19eb8a312e7b08b3/spec works now.

[2019-08-19 09:29] domoritz commented on #347
It would be nice if I could just paste `https://gist.githubusercontent.com/domoritz/3ab075a60cf92b8c19eb8a312e7b08b3/raw/ad920266b18cc7885b5c1b9a809907882084543a/spec` in the URL field of the GIST loader btw.

[2019-08-19 09:30] #347 closed

[2019-08-19 09:30] domoritz opened #470 "Support loading raw gist urls"
Like https://gist.githubusercontent.com/domoritz/3ab075a60cf92b8c19eb8a312e7b08b3/raw/ad920266b18cc7885b5c1b9a809907882084543a/spec

[2019-08-19 11:18] domoritz opened #475 "Use simpler UI element for renderer picker"
Instead of a dropdown, we could just use a simple https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/radio input.

[2019-08-19 22:16] #470 closed

[2019-08-24 17:10] domoritz opened #483 "Add error handling"
We probably don't want to ignore errors here:

https://github.com/vega/editor/blob/1b2cbcf4d48bbf6871e16787d2fe51dae3ae20b8/src/components/header/renderer.tsx#L79

While you're at it, can you replace the code with async?

[2019-08-25 06:33] algomaster99 commented on #483
@domoritz make `componentDidMount` async? There is no point since react lifecycle methods don't await for the promise to resolve or reject.

[2019-08-25 07:03] siddhant1 commented on #483
Yeah , you can make component
didmount async ans use await inside it to await promises. After you get the value , set it inside the state

[2019-08-25 07:06] algomaster99 commented on #483
@siddhant1 What is the point if `fetch` comes with `then` function which let us do the same?

[2019-08-25 07:53] siddhant1 commented on #483
It just makes it cleaner

[2019-08-28 10:35] siddhant1 opened #488 "Add overview with zoom in timeline"
![63653757-d56e3e00-c725-11e9-8a02-1bceadb5def4](https://user-images.githubusercontent.com/30566406/63848533-a7029400-c9ad-11e9-8ec6-68c516d1e866.png)

[2019-09-05 21:05] g3o2 commented on #158
hmm, I wonder, does this have the potential to cause privacy/confidentiality issues in case of confidential data sent to an external server?

[2019-09-05 23:22] domoritz commented on #158
Yes, that's why we make it very clear in the message. I'd like to build my own service so we can make sure no logs are kept.

[2019-09-06 13:14] RisingGeek commented on #446
hey @domoritz can we use getDerivedStateFromProps lifecycle instead of componentWillReceiveProps and store the props in state as we cannot access this inside getDerivedStateFromProps?

[2019-09-06 14:24] domoritz commented on #446
Do you want to give it a shot and send a PR?

[2019-09-06 15:27] RisingGeek commented on #446
yes, sure!

[2019-09-06 15:39] isrrapy opened #495 "Issues when using docker-compose to bring project up, does not build"
Same error in both master and v0.44.0  1e8ccca release.
[code]

[2019-09-06 16:08] domoritz commented on #495
Did you run yarn?

[2019-09-08 06:34] RisingGeek commented on #475
@domoritz Which dropdown you are talking about?

[2019-09-08 06:40] domoritz commented on #475
If you open the settings, the first drop-down is there to change the renderer but we only have two.

[2019-09-08 07:05] RisingGeek commented on #475
I would love to work on this.

[2019-09-08 14:46] domoritz commented on #475
I look forward to a PR.

[2019-09-15 05:06] RisingGeek commented on #475
I think we can close this issue as it is completed.

[2019-09-15 05:52] #475 closed

[2019-09-15 16:43] tmori3y2 opened #500 "Is the online editor working in vega-lite mode?"
From yesterday it seems that the online editor is not working in vega-lite mode.

The following message appears.

  Cannot access 's' before initialization

<img width="718" alt="vega-editor" src="https://user-images.githubusercontent.com/18054170/64924566-205d0c00-d821-11e9-9e1e-124c8a90c536.PNG">

This issue is occurred ...

1. When click [Try online] from offical vega-lite page.

1. When click

[2019-09-15 17:00] domoritz commented on #500
I'm looking into it. I made an update yesterday and it looks like it broke the Vega-Lite mode.

[2019-09-15 17:12] domoritz commented on #500
Very odd. It works locally even in production mode. I'll try to make another release.

[2019-09-15 17:27] domoritz commented on #500
Works again.

[2019-09-15 17:27] #500 closed

[2019-09-16 01:01] tmori3y2 commented on #500
Now the editor is working in vega-ite mode.
Thank you !!

[2019-09-16 07:16] mattijn opened #501 "Number and overflow-y of personal-gists"
The access to your own gists within the vega-editor is nice!

But:
a) It only shows a limited number of gists. Maybe default to show the first 100 available charts within a persons gist repo?
b) This `div.personal-gist` element has no overflow-y. Now when scrolling down in the overview of gists the `div.load-gist` becomes out of sight.

[2019-09-16 08:26] algomaster99 commented on #501
@mattijn
- I am working on adding pagination to solve this problem.
- can you share a screenshot?

[2019-09-17 13:50] RisingGeek commented on #483
@algomaster99 are you working on this issue?

[2019-09-17 18:29] RisingGeek commented on #458
#502 Hash history was not able to push the same path. This can be fixed by changing path each time when the mode is changed.

[2019-09-17 21:12] domoritz commented on #458
Fixed in #502

[2019-09-17 21:12] #458 closed

[2019-09-19 17:21] mattijn commented on #501
<img width="1222" alt="image" src="https://user-images.githubusercontent.com/5186265/65266124-b5f2e700-db12-11e9-8dbe-d63cd6ce27d6.png">

[2019-09-19 19:29] #93 closed

[2019-09-19 19:29] #462 closed

[2019-09-19 19:29] #463 closed

[2019-09-19 19:30] domoritz commented on #171
I don't think we will support this anytime soon so I'm closing this.

[2019-09-19 19:30] #171 closed

[2019-09-19 19:59] domoritz commented on #495
Ahh, I have some local things that make it work. I'm fixing it.

[2019-09-19 20:32] #495 closed

[2019-09-19 22:50] domoritz commented on #446
https://wattenberger.com/blog/react-hooks is a beautiful intro to react hooks.

[2019-09-28 02:24] #501 closed

[2019-09-28 02:26] domoritz opened #505 "Add background color chooser to settings"
It would be great to be able to set the background color of the chart. Charts are transparent and the design of the colors may depend on the background you design for.

[2019-09-30 08:03] maliky opened #507 "Gist login with firefox 69. Internal Server Error"
Hi,
I get an `Internal Server Error` when I try loging in with my gist account using firefox  69.0.1.

I succeed when using chromium `Chromium 76.0.3809.100`

I'm running `LinuxMint 18.1`

[2019-09-30 08:06] #507 closed

[2019-09-30 13:28] roying opened #518 "Vega 5.7.0 Dot Plot examples "View in Online Vega Editor""
Dot plot examples:

https://vega.github.io/vega/examples/dot-plot/
https://vega.github.io/vega/examples/quantile-dot-plot/

Need fixing ("View in Online Vega Editor"):

https://vega.github.io/editor/#/examples/vega/dot-plot
https://vega.github.io/editor/#/examples/vega/quantile-dot-plot

[2019-09-30 16:11] domoritz commented on #443
We need to be careful and profile whether this makes a difference.

[2019-09-30 16:15] domoritz commented on #518
Please wait for the next Vega-Editor release. The latest Vega version was just released last night.

[2019-09-30 16:15] #518 closed

[2019-09-30 16:24] domoritz commented on #518
Ahh, unfortunately, we need to make a new Vega-Lite release with support for some of the new Vega features first. It will be a few days. Thank you for your patience.

[2019-10-01 06:48] domoritz opened #520 "Fix size of gist list container"
To make the size more consistent, let's resize the container with the list in it to take the full width and more height (look how much space is wasted in my screenshot).

<img width="1098" alt="Screen Shot 2019-09-30 at 23 47 49" src="https://user-images.githubusercontent.com/589034/65940227-d0fc0b80-e3dc-11e9-9f39-2061a81a8abb.png">

[2019-10-01 09:01] algomaster99 commented on #520
@domoritz if I increase the width, only the scrollbar moves to the left. How do you want me to show it?

[2019-10-01 16:07] domoritz commented on #520
I think the container that has the list in it should take up the available size so that the scrollbar is further to the right.

[2019-10-02 18:14] #483 closed

[2019-10-02 20:05] #520 closed

[2019-10-04 18:13] domoritz commented on #505
Merged manually.

[2019-10-04 18:13] #505 closed

[2019-10-05 16:00] shakti97 commented on #446
hey @domoritz is this issue still open ? if no, I would like to give it a shot

[2019-10-05 21:30] domoritz commented on #446
It is and we would love your contribution.

[2019-10-08 03:41] domoritz opened #529 "merging the config into the spec should navigate to /edited"
Right now, we stay on the same page, which may be an example page.

[2019-10-09 12:40] maliky opened #530 "timeUnit clearing the chart"
Since a few hours ago, I noticed that setting time units to simple charts such as the one for the timeUnit exemple (below) do not display any chart.  Removing the timeUnit makes the chart appear.  I tried with firefox and chromium.

Is there a problem with my cache?  Is it something local or do you experience the same thing ?

[code]

[2019-10-09 12:52] maliky commented on #530
Looking at the Vega spec. Somethings is not right with `isFinite(datum[\"month_date\"])`

[see](https://vega.github.io/editor/#/url/vega/N4KABGBEAkDODGALApgWwIaQFxUQFzwAdYsB6UgN2QHN0A6agSz0QFcAjOxge1IRQyUa6SgFY6AK1jcAdpAA04KOlZ5usRgC9k2KIXQATBUsj6DBxjOq7RiiJADujAy10AmAAwe7uZI2r47l4+kLB4AJ4ANjo4kPDIkZHG9gboeJg4ANpKEKAQ+VAy6KgxUNKsAE7xAPoeyQVQlUmxqel8yGl40QC0Dh0syBV08LAU9QWQAGbcFRh4usCQEYSlcaMKeugVs

[2019-10-09 15:10] domoritz commented on #530
Hmm, we shouldn’t use isFinite for dates. We’ll  take a look.

[2019-10-09 15:44] domoritz commented on #529
Awesome, thank you.

[2019-10-15 02:10] kanitw opened #531 "Screenshot doesn't show for one of the latest VL examples"
![image](https://user-images.githubusercontent.com/111269/66794410-49230080-eeb6-11e9-9247-3d45730d88f4.png)

[2019-10-15 02:16] domoritz commented on #531
I'll rebuild the examples. Thanks for the issue.

[2019-10-15 02:35] domoritz commented on #531
Fixed

[2019-10-15 02:35] #531 closed

[2019-10-16 04:18] domoritz opened #536 "Charts are rendered twice"
Right now, we parse Vega-Lite specs twice every time someone hits the `run` button.

[2019-10-16 15:41] siddhant1 commented on #536
Sure!

[2019-10-16 16:42] siddhant1 commented on #529
I tried this and shouldn't navigate to /edited , navigating to /custom/vega launches a new vega/vega-lite empty spec

[2019-10-16 16:56] domoritz commented on #529
Sorry, my mistake. Yes, navigate to https://vega.github.io/editor/#/edited. I updated the title.

[2019-10-18 12:41] tmori3y2 opened #538 "Config theme is merged into spec when vega-lite spec is compiled into vega"
- Open vega-lite example in the online editor.
- Select config theme.
- Select [Compiled Vega] and [Edit Vega Spec]

The config theme is merged into spec and config theme is cleared.

Is it correct?

- Vega-lite's original config is overwritten
- Even if you choose another theme in vega, it is easy to conflict with merged theme (especially color theme)

I think it's better not to merge automatical

[2019-10-18 16:39] domoritz commented on #538
We need to do this because the theme has some Vega-Lite specifics that have to be compiled into the spec. This may change in the future but right now this is the expected behavior.

[2019-10-18 16:39] #538 closed

[2019-10-18 20:41] tmori3y2 commented on #538
I understand. Thank you.

[2019-10-21 19:22] nik72619c commented on #295
Shall I work on this one ?

[2019-10-21 19:38] nik72619c commented on #536
@siddhant1 are you still working on this or shall I fix this up ?

[2019-10-21 19:40] nik72619c commented on #445
I'll give it a try :)

[2019-10-21 19:43] nik72619c opened #542 "'follow us on twitter' link clickable throughout the width"
Under the help section, the 'follow us on twitter' link is clickable throughout the width on the help modal.
@domoritz  shall I fix this up ?

[2019-10-21 20:01] algomaster99 commented on #295
@nik72619c this is a very tough issue to start with. In fact, it can be one full project in itself. Anyway, if you have designs for it, you may share it here. 🙂

[2019-10-21 20:13] nik72619c commented on #295
Sure,I'll givenit a try

[2019-10-21 22:25] domoritz commented on #295
Before we start on a dark theme, we should refactor the CSS. I think one good way to do that would be to use for example tachyons and a limited set of colors.

[2019-10-21 22:26] domoritz commented on #445
Sweet, thanks.

[2019-10-21 22:27] domoritz commented on #542
That would be nice.

[2019-10-22 04:57] siddhant1 commented on #536
Sure , pick it up!

[2019-10-22 06:29] domoritz commented on #443
Let's not do this until we have proof that code splitting actually helps.

[2019-10-22 06:29] #443 closed

[2019-10-22 06:37] domoritz commented on #536
Thanks!

[2019-10-22 08:15] nik72619c commented on #542
#543 @domoritz

[2019-10-23 21:09] nik72619c commented on #445
I'm not quite able to get clarity on refactoring css here...any examples of how is it to be refactored @domoritz ?

[2019-10-23 21:29] domoritz commented on #445
Sure! The main problems I see is that we have a lot of repetition across files, we don’t have a good way of name spacing properties right now (the styles in one file could affect other components), and we don’t use consistent style for similar components.

I think we want to reduce the number of classes and make the existing ones more meaningful and reusable. Similarly, we should use css variables

[2019-10-23 22:41] domoritz opened #545 "I get logged out after short time"
I wish I would stay logged in for a few days at least.

[2019-10-23 23:53] siddhant1 commented on #545
@shakti97 @aloksingh3112 would you like to check this out?
The backend repo is https://github.com/vega/editor-backend

[2019-10-24 01:11] shakti97 commented on #545
working on this

[2019-10-24 15:51] siddhant1 commented on #542
Closing since Fixed

[2019-10-24 15:51] #542 closed

[2019-10-24 16:33] algomaster99 commented on #545
This is because we don't have a backing store for session storage. We completely rely on server's memory. Now when I started the server on localhost, it worked fine. So I think this is a problem with Now. Its memory would keep refreshing from time to time which clears all session stored.
To solve this problem permanently,  we might need a session-storage db like redis.

[2019-10-24 16:45] algomaster99 commented on #545
@shakti97 I had this discussion with @domoritz initially. He said he wants to keep minimal services so I never implemented one. But if @domoritz agrees, I can help you with this issue. :smile:

[2019-10-24 16:54] algomaster99 commented on #545
@shakti97 But you may debug this issue first. You can set a cookie for, let's say 5min,  on the development server and check if it expires exactly after five minute. I think it will. For checking on production, you may deploy the fork of https://github.com/vega/editor-backend to now and check after how long it expires.

[2019-10-24 17:22] domoritz commented on #545
I now agree that we need a session store. Thank you!

[2019-10-24 17:41] algomaster99 commented on #545
@domoritz I have asked it here too - https://spectrum.chat/zeit/now/now-server-memory-management~1a9ea7c9-bd8d-4e5f-9863-e8847a497345

[2019-10-25 02:18] algomaster99 commented on #545
@domoritz They have answered it. They suggest to setup a store. We may use `redis` because it's the most popular :sweat_smile:
We can, although, have a discussion over it.
Also, which version do you use for deployments? Please answer them in chats.

[2019-10-25 19:10] domoritz commented on #545
Redis sounds good.

Where do you want me to reply?

[2019-10-25 20:30] algomaster99 commented on #545
@domoritz oh I replied to it. 😅
@shakti97 do you want to work on this?

[2019-10-26 05:23] shakti97 commented on #545
if you are working go ahead, i have some opened PR i need to complete them before working on this

[2019-10-26 22:19] #529 closed

[2019-10-26 22:23] #446 closed

[2019-11-01 20:01] shakti97 opened #546 "Data Viewer and Signal Viewer table body Cursor Pointer"
Showing Cursor Pointer without any clickable action on the table body of data viewer and signal viewer

[2019-11-01 20:02] shakti97 commented on #546
if it looks an issue to you @siddhant1 @domoritz , i can work on it

[2019-11-01 22:08] domoritz commented on #546
Thanks

[2019-11-03 21:50] #545 closed

[2019-11-19 20:25] danmarshall opened #549 "Data & Signal viewer for subcontexts"
It would be handy to have a dropdown to select the subcontext for the Data & Signal viewers.

[2019-11-19 20:25] danmarshall commented on #549
Related: https://github.com/vega/vega/issues/2176

[2019-11-19 20:56] domoritz commented on #549
We first need to finish the timeline viewer. Can you send a pull request to add this feature later?

[2019-11-19 21:00] danmarshall commented on #549
@domoritz I might not get to it. Just wanted to have the feature request listed in case anyone else needs this.

[2019-12-01 04:56] IamRavikantSingh commented on #495
How to get `../../public/spec/vega-lite/index.json` and `../../public/spec/vega/index.json` files. I am also facing this issue.
my public/specs folder is empty.

[2019-12-01 05:51] domoritz commented on #495
You get them when you run yarn. Does it work?

[2019-12-01 06:45] IamRavikantSingh commented on #495
(base) ravikantsingh@RavikantSinghs-MacBook-Pro editor % yarn
yarn install v1.19.1
[1/4] 🔍  Resolving packages...
success Already up-to-date.
$ yarn vendor && beemo create-config --react
yarn run v1.19.1
$ scripts/vendor.sh
[code]

I get this error on running yarn and `public/specs` is empty.

[2019-12-01 07:16] IamRavikantSingh commented on #495
It is working now after installing wget. Thank you

[2019-12-03 06:59] domoritz commented on #536
@siddhant1 Are you still working on this?

[2019-12-03 08:02] siddhant1 commented on #536
@nik72619c any updates on this?

[2019-12-03 08:18] domoritz commented on #536
It would be great not to parse the spec twice. It makes debugging with breakpoints a bit annoying to use.

[2019-12-05 03:34] IamRavikantSingh commented on #445
I would like to help on this issue. Is there any branch for this issue?

[2019-12-05 04:17] domoritz commented on #445
Welcome to Vega! Not yet. Feel free to send a pull request. I recommend starting with one component and then going from there.

[2019-12-05 06:37] IamRavikantSingh commented on #445
As you mentioned to use CSS variables for colors. should I define color variables on top of same CSS file or in some other file?

[2019-12-05 07:19] domoritz commented on #445
Let's define them in the main CSS file. If you work on variables first, let's replace all colors at once.

[2019-12-05 07:52] IamRavikantSingh commented on #445
#558

[2019-12-08 17:02] mattijn opened #559 "New example from Vega 5.9 not appearing in editor"
This example from the documentation:
https://vega.github.io/vega/examples/annual-precipitation/

Is not loading in the editor (neither in Chrome nor Safari)
https://vega.github.io/editor/#/examples/vega/annual-precipitation
<img width="549" alt="image" src="https://user-images.githubusercontent.com/5186265/70392910-c49bbc80-19e4-11ea-8c84-6c8686396c90.png">

It refers to unavailable data sources h

[2019-12-08 18:07] domoritz commented on #559
The editor uses different base URLs to work even if a dataset if not available in the Vega datasets. This is why you get the 404s. The problem is somewhere else. I'm not sure yet but it could be something with the bundle. Maybe a rebuild with refactored dependencies will fix it.

[2019-12-12 19:13] domoritz commented on #559
It didn't fix it. I'm not sure what's going wrong. Can you help debug this issue?

[2019-12-12 21:13] mattijn commented on #559
Must be something in the editor as it works ok in an observable notebook: https://observablehq.com/@mattijn/geo-contour-test

[2019-12-12 21:48] mattijn commented on #559
I vaguely remembered that in v5.9 also some stuff happened surround projection `naturalEarth1`and `mollweide`:

And indeed, changing the default projection to something as `mercator` fix it in the editor.
![B7089392-E550-4802-A938-6C1340BF1DB8](https://user-images.githubusercontent.com/5186265/70751760-6e56b280-1d31-11ea-8d9a-d2fcd74c2d4c.png)

I hope it isolates the issue
Conclusion: take more sh

[2019-12-12 21:50] domoritz commented on #559
Does it work in the notebook without extended projections? Maybe they are missing.

[2019-12-13 20:04] mattijn commented on #559
Got it. I can reproduce the behaviour from the editor in the [notebook](https://observablehq.com/@mattijn/geo-contour-test). It's because the `naturalEarth1` projection is loaded twice and then causing conflicts. Once part of the Vega-projections and once in the extended projections. Removing them from the extended-projections list solves the issue.

PR incoming

[2019-12-13 20:23] domoritz commented on #559
Thanks for the fix. I updated all projections and made a release. It should work in a few minutes.

[2019-12-13 20:23] #559 closed

[2019-12-16 10:16] alexeypetrushin opened #569 "Make Vega Editor to understand simplified JSON"
The Editor https://vega.github.io/editor/#/edited
Requires you to write strict JSON with all literal wrapped in double quotes, like `{ "value": "something" }`.

It fails on simplified JSON `{ value: "something" }` or `{ "value": 'something' }`.

The whole point of this editor is to provide simple and easy environment to play with Vega charts, would be much better to allow easy JSON instead of requ

[2019-12-16 12:08] PunitLodha commented on #445
Hey @domoritz . I am new to Open Source. I would like to work on this issue. Should i replace the classes by the tachyons classes?

[2019-12-16 19:43] domoritz commented on #569
Duplicate of https://github.com/vega/editor/issues/171.

To convert simple JSON/JS to JSON, you can use http://bit.ly/js2json.

[2019-12-16 19:43] #569 closed

[2019-12-16 19:45] domoritz commented on #445
That's a lot of work. Maybe let's start by just refactoring the CSS. Right now, we have a lot of duplications and few clear separations. We can switch to a framework once you have had some exposure to our current style.

[2019-12-17 09:25] alexeypetrushin commented on #569
Of course I can convert, I don't even use that editor and use my own IDE with live graph view and update. That's not my point.

The point was that if you care about promotion of VegaLite and want more people to use it - it's worth to make the experience nice and pleasant.

[2019-12-17 09:27] alexeypetrushin commented on #171
You can have autocomplete if you provide TypeScript schema and enable TypeScript in the editor.

[2019-12-17 16:48] domoritz commented on #569
I completely agree but there are technical and pedagogical reasons why we haven’t added support for other formats.

[2019-12-17 18:47] IamRavikantSingh commented on #445
I am also open to this work. Please let me know how can I help.

[2019-12-17 18:53] domoritz commented on #445
Have a look at the code and send PRs to fix issues you see.

[2019-12-18 07:49] PunitLodha commented on #445
I have sent a PR. Please review it. If its good, then i shall start working on the other components

[2019-12-18 21:51] donghaoren opened #571 "A few thumbnails are broken / missing in the examples"
**Vega:**

- [ ] Projections
- [x] Annual Precipitation

**Vega-Lite:**

- [x] Stacked Bar Chart with Corner Radius
- [ ] Isotype Dot Plot with Emoji
- [x] Faceted Density Plot
- [x] Interactive Legend
- [x] Multi Series Line Chart with Tooltip

[2019-12-18 23:06] domoritz commented on #571
I fixed all of them except projections, which is trickier because vg2png does not use extended projections.

[2019-12-26 08:24] PunitLodha opened #580 "Same CSS rewritten for table and signal-viewer components"
@domoritz Currently there is some CSS which is rewritten for both the table and signal-viewer components.

We can fix this by doing any of the following:-
1) Removing the CSS in the signal-viewer component, so that the table component CSS can be used instead
2) Changing the class name for the signal-viewer component(Currently both the components have a class name of "editor-table"), so that there

[2019-12-26 11:38] domoritz commented on #580
How are 1 and 3 different?

I’m happy to trust your judgement on what reduces duplication. Which option do you recommend?

[2019-12-26 13:40] IamRavikantSingh commented on #293
I would like to work on this issue. please, could you give me some more information about where to start working on it?

[2019-12-27 00:33] domoritz commented on #293
We have t set up any tests yet. I’d start with unit tests. Ideally we use jest since it’s already used in other projects in this org.

[2019-12-27 08:32] PunitLodha commented on #580
1 is just removing the CSS from the signal-viewer component, so that the table component CSS is used(Due to the global nature of CSS). If you want to keep CSS separate for each of the components then it is not recommended.

3 is making use of the table component inside the signal-viewer component, similar to the data-viewer component using the table component. Currently the signal-viewer component

[2019-12-29 01:23] domoritz commented on #580
Please note https://github.com/vega/editor/pull/459. I’d like that pull request to get finished eventually and not create too many merge conflicts. Do you want to finish it first or make changes that do t conflict too much?

[2019-12-29 01:24] domoritz commented on #580
Cc @siddhant1

[2019-12-29 16:54] PunitLodha commented on #580
We should wait for #459 to finish

[2019-12-29 17:59] PunitLodha commented on #546
Fixed this issue in #581

[2020-01-09 00:53] domoritz commented on #580
@siddhant1 What's your timeline for #459?

[2020-01-09 01:08] #546 closed

[2020-01-09 03:33] siddhant1 commented on #580
It's complete , just need to add batching (maybe we can do it later)

[2020-01-22 00:34] domoritz commented on #580
Merged 🎉 . @PunitLodha Feel free to send PRs to clean up the css.

[2020-01-23 13:29] PunitLodha commented on #580
Is the signal viewer component static(unlike the timeline component)? If it is then i can try to reuse the table component in it

[2020-01-23 14:32] PunitLodha commented on #445
Should we start using BEM for structuring the CSS?

[2020-01-23 18:51] domoritz commented on #445
I'm leaving this decision to you as long as we overall increase consistency.

[2020-01-23 18:52] domoritz commented on #580
That would be nice. Thanks!

[2020-01-27 04:44] domoritz opened #592 "Button style collision"
Notice how the button style is incorrect because we apply our own `button` style rather than using the default style from monaco.

<img width="689" alt="Screen Shot 2020-01-26 at 20 43 07" src="https://user-images.githubusercontent.com/589034/73150740-a2392d80-407c-11ea-9133-b5f9da0b192e.png">